page-open-lead-organizer-edit {

  .add_lead_value {
    color: grey;
    font-size: 14px;
  }

  .date {
    color: grey;
    font-size: 14px;
  }

  .time {
    color: grey;
    font-size: 14px;
  }

}