<!--
  Generated template for the Credits page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">

        <ion-buttons left text-center class="left_button">
            <button ion-button (click)="goBack()">
                close
            </button>
        </ion-buttons>

        <ion-buttons right text-center class="right_button">
            <!--<button ion-button>-->
            <!--Replenishment-->
            <!--</button>-->

            <!--<button ion-button>-->
            <!--Withdrawal-->
            <!--</button>-->

        </ion-buttons>

    </ion-navbar>

    <ion-toolbar class="requisites">

        <div [innerHTML]="requisites">

        </div>

        <!--<p>Requisites: 4554-4578-1215-7785</p>-->
        <!--<p>Requisites description</p>-->

        <!--{{ requisites }}-->

    </ion-toolbar>

</ion-header>


<ion-content>

    <!-- Обновление страницы -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- конец Обновление страницы -->

    <ion-card *ngFor="let item of items">

        <!-- шапка платежа -->
        <ion-row>

            <ion-col class="item_status" text-center align-self-center
                     [ngClass]="item.status==4 ? 'status_confirmed' : ''">
                {{ statuses[item.status] }}
            </ion-col>

            <ion-col text-right class="item_type" [ngClass]="item.type==1 ? 'replenishment' : 'withdrawal'">
                {{ types[item.type] }}
            </ion-col>

        </ion-row>

        <!-- основные данные по платежу -->
        <ion-row>

            <ion-col text-right class="item_main_data">

                <div class="amount">{{ item.amount }}</div>
                <div class="date"><span class="time">{{ item.date.time }}</span> {{ item.date.date }}</div>

            </ion-col>

        </ion-row>

        <!-- основные данные по платежу -->
        <ion-row *ngIf="item.status==2">

            <ion-col text-left>
                <button block small color="danger" ion-button (click)="payReplenishment(item)">Paid</button>
            </ion-col>

        </ion-row>

    </ion-card>

    <!-- При отсутствии итемов в истории -->
    <ion-row *ngIf="items.length == 0">
        <ion-col>
            No credit history
        </ion-col>
    </ion-row>

</ion-content>


<ion-footer>

    <ion-row>

        <ion-col no-padding text-center>
            <button
                    ion-button color="secondary"
                    (click)="showReplenishmentDialog()">
                <ion-icon name="ios-cloud-upload"></ion-icon>
                &nbsp;
                Replenishment
            </button>
        </ion-col>

        <ion-col no-padding text-center>
            <button ion-button>
                <ion-icon name="ios-cloud-download"></ion-icon>
                &nbsp;
                Withdrawal
            </button>
        </ion-col>

    </ion-row>

</ion-footer>