registration-data-spheres {

  .sphere_name {
    color: grey;
  }

}

.registration_data_title.title {

  .toolbar-title {
    //color: #337AB7;
    color: grey;
    text-transform: uppercase;
  }
}
