<!--
  Generated template for the Statistics page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <!--<ion-navbar>-->
    <!--<ion-title>statistics</ion-title>-->
    <!--</ion-navbar>-->


    <ion-navbar color="primary" hideBackButton="true">

        <ion-buttons left text-center>
            <button ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Statistics
        <span class="additional_title">(<span *ngIf="statisticBlocks == 'leads'">Leads</span><span *ngIf="statisticBlocks == 'statuses'">Statuses</span><span *ngIf="statisticBlocks == 'transitions'">Transitions</span>)</span>
        </ion-title>


        <!--<ion-buttons left text-center class="left_button">-->
            <!--<button ion-button (click)="goBack()">-->
                <!--close-->
            <!--</button>-->
        <!--</ion-buttons>-->

        <!--<ion-buttons right text-center class="right_button">-->
            <!--&lt;!&ndash;<button ion-button [attr.disabled]="!spheres ? '' : null" (click)="addLead()">&ndash;&gt;-->
            <!--&lt;!&ndash;add lead&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--</ion-buttons>-->

    </ion-navbar>

    <ion-toolbar *ngIf="currentSphere" color="primary" no-padding>

        <ion-row no-padding>

            <!--<ion-col col-1 no-padding text-center align-self-center class="statistic_data_header_button">-->
                <!--<ion-icon name="ios-arrow-up"></ion-icon>-->
            <!--</ion-col>-->

            <ion-col no-padding class="statistic_data_header">
                <ion-item>
                    <ion-label>Sphere</ion-label>
                    <ion-select
                            [(ngModel)]="currentSphere"
                            interface="action-sheet"
                            (ionChange)="sphereChange()">
                        <ion-option *ngFor="let sphere of spheres" value="{{ sphere.id }}">{{ sphere.name }}</ion-option>
                        <!--<ion-option value="m">Male</ion-option>-->
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Date</ion-label>
                    <ion-select
                            [(ngModel)]="datePeriod"
                            interface="action-sheet"
                            (ionChange)="datePeriodChange()">

                        <ion-option *ngFor="let period of datePeriodData" value="{{ period.id }}">{{ period.name }}</ion-option>

                    </ion-select>
                </ion-item>

                <ion-row *ngIf="periodBlock" class="statistic_data_date" color="light">


                    <ion-col col-2 no-padding text-right>
                        <div class="date_label"> from: </div>
                    </ion-col>

                    <ion-col text-left no-padding color="light" align-self-center>

                        <!--<span> from: </span>-->

                        <ion-datetime
                                displayFormat="DD/MM/YYYY"
                                pickerFormat="DD-MM-YYYY"
                                [(ngModel)]="dateFrom"
                                (ionChange)="dateFromChange()">

                        </ion-datetime>
                    </ion-col>

                    <ion-col col-2 no-padding text-right>
                        <div class="date_label"> to: </div>
                    </ion-col>

                    <ion-col text-left no-padding color="light" align-self-center>

                        <ion-datetime
                                displayFormat="DD/MM/YYYY"
                                pickerFormat="DD-MM-YYYY"
                                [(ngModel)]="dateTo"
                                (ionChange)="dateToChange()">

                        </ion-datetime>
                    </ion-col>

                </ion-row>
            </ion-col>

        </ion-row>


    </ion-toolbar>

</ion-header>


<ion-content padding>

    <!-- Если сфера отсутствует -->
    <ion-row *ngIf="noSphereBlockShow">
        <ion-col text-center class="no_sphere_text">
            No sphere
        </ion-col>
    </ion-row>

    <!-- Блок показывает что открытых лидов недостаточно для статистики -->
    <ion-row *ngIf="!isEnoughOpenLeads && !isLoading">
        <ion-col text-center class="no_sphere_text">

            <div margin>Not enough open leads for statistics</div>
            <div *ngIf="statisticData"> <b>{{ statisticData.sphere.minOpen }}</b> open leads needed</div>
            <div *ngIf="statisticData"> you have <b>{{ statisticData.openLeads.all }}</b> </div>

        </ion-col>
    </ion-row>

    <!-- спинер загрузки -->
    <div *ngIf="isLoading" class="spinnerLoading" text-center>
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <div [ngSwitch]="statisticBlocks">
        <ion-row *ngSwitchCase="'leads'">
            <ion-col no-padding>

                <!-- контент лидов -->
                <ion-row no-padding *ngIf="sphereExist && isEnoughOpenLeads">
                    <ion-col no-padding>

                        <!-- Сумарные данные по лидам (агента и его салесманов) -->
                        <div class="lead_statistic_block lead_summary_block">


                            <ion-row>
                                <ion-col>

                                </ion-col>
                                <ion-col col-4 class="item_data" text-center>
                                    <span class="period legend">by period</span> / <span class="all legend">by all</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col text-center class="title">
                                    Leads
                                </ion-col>
                            </ion-row>

                            <!--<ion-row>-->
                                <!--<ion-col class="item_data" text-right>-->
                                    <!--<span class="period legend">by period</span> / <span class="all legend">by all</span>-->
                                <!--</ion-col>-->
                            <!--</ion-row>-->

                            <ion-row>
                                <ion-col class="item_label">
                                    added
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.added.period }}</span> / <span class="all">{{ statisticData.added.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    operator banned
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.operatorBad.period }}</span> / <span class="all">{{ statisticData.operatorBad.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    users banned
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.agentBad.period }}</span> / <span class="all">{{ statisticData.agentBad.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    seen
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.auction.period }}</span> / <span class="all">{{ statisticData.auction.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    open
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.openLeads.period }}</span> / <span class="all">{{ statisticData.openLeads.all }}</span>
                                </ion-col>
                            </ion-row>

                        </div>


                        <!-- Данные только агента -->
                        <div *ngIf="isSalesman" class="lead_statistic_block lead_just_agent_block">

                            <ion-row>
                                <ion-col text-center class="title">
                                    Just a agent data
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    added
                                </ion-col>
                                <ion-col text-right class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.added.period }}</span> / <span class="all">{{ statisticData.user.justAgent.added.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    operator banned
                                </ion-col>
                                <ion-col text-right class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.operatorBad.period }}</span> / <span class="all">{{ statisticData.user.justAgent.operatorBad.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    users banned
                                </ion-col>
                                <ion-col text-right class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.agentBad.period }}</span> / <span class="all">{{ statisticData.user.justAgent.agentBad.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    seen
                                </ion-col>
                                <ion-col text-right class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.auction.period }}</span> / <span class="all">{{ statisticData.user.justAgent.auction.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    open
                                </ion-col>
                                <ion-col text-right class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.openLeads.period }}</span> / <span class="all">{{ statisticData.user.justAgent.openLeads.all }}</span>
                                </ion-col>
                            </ion-row>

                        </div>

                        <!-- Данные салеманов -->
                        <div *ngIf="isSalesman" class="lead_statistic_block lead_salesmen_block">

                            <ion-row>
                                <ion-col text-center class="title">
                                    Salesmen
                                </ion-col>
                            </ion-row>


                            <div class="lead_salesmen_item" *ngFor="let salesmen of statisticData.user.salesmenData">

                                <ion-row>
                                    <ion-col class="salesmen_name">
                                        {{ salesmen.user.email }}
                                    </ion-col>
                                </ion-row>

                                <!--<ion-row>-->
                                    <!--<ion-col class="item_data" text-right>-->
                                        <!--<span class="period legend">by period</span> / <span class="all legend">by all</span>-->
                                    <!--</ion-col>-->
                                <!--</ion-row>-->

                                <ion-row>
                                    <ion-col class="item_label">
                                        added
                                    </ion-col>
                                    <ion-col text-right class="item_data">
                                        <span class="period">{{ salesmen.added.period }}</span> / <span class="all">{{ salesmen.added.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        operator banned
                                    </ion-col>
                                    <ion-col text-right class="item_data">
                                        <span class="period">{{ salesmen.operatorBad.period }}</span> / <span class="all">{{ salesmen.operatorBad.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        users banned
                                    </ion-col>
                                    <ion-col text-right class="item_data">
                                        <span class="period">{{ salesmen.agentBad.period }}</span> / <span class="all">{{ salesmen.agentBad.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        seen
                                    </ion-col>
                                    <ion-col text-right class="item_data">
                                        <span class="period">{{ salesmen.auction.period }}</span> / <span class="all">{{ salesmen.auction.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        open
                                    </ion-col>
                                    <ion-col text-right class="item_data">
                                        <span class="period">{{ salesmen.openLeads.period }}</span> / <span class="all">{{ salesmen.openLeads.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        presence
                                    </ion-col>
                                    <ion-col text-right class="item_data" class="additional_data">
                                        {{ salesmen.sphere.presence ? 'Yes' : 'No' }}
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        Active
                                    </ion-col>
                                    <ion-col text-right class="item_data additional_data">
                                        {{ salesmen.user.active ? 'Yes' : 'No' }}
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_data" text-right>
                                        <span class="period legend">by period</span> / <span class="all legend">by all</span>
                                    </ion-col>
                                </ion-row>

                            </div>

                        </div>

                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <ion-row *ngSwitchCase="'statuses'">
            <ion-col no-padding *ngIf="sphereExist && isEnoughOpenLeads">


                <!-- легенда к таблицам -->
                <ion-row>
                    <ion-col class="label">

                    </ion-col>
                    <ion-col text-center class="item_data_legend">
                        <span class="period legend">by period</span> / <span class="all legend">by all</span>
                    </ion-col>
                    <ion-col text-center class="item_data_legend">
                        <span class="period legend">by period</span> / <span class="all legend">by all</span>
                    </ion-col>
                </ion-row>


                <!-- лиды без статуса -->
                <div class="statistic_status_block statistic_status_no_status">

                    <ion-row>
                        <ion-col class="label">
                            No status
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ statisticData.statuses.noStatus.countPeriod }}</span> / <span class="all">{{ statisticData.statuses.noStatus.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ statisticData.statuses.noStatus.percentPeriod }}%</span> / <span class="all">{{ statisticData.statuses.noStatus.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с прогрессивными статусами -->
                <div class="statistic_status_block statistic_status_progress" *ngIf="isTypeArray(statisticData.statuses.type[1]) && statisticData.statuses.type[1].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            Progress
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[1]">
                        <ion-col class="label">
                            {{ status.name }}
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с неопределенными статусами -->
                <div class="statistic_status_block statistic_status_uncertain" *ngIf="isTypeArray(statisticData.statuses.type[2]) && statisticData.statuses.type[2].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            Uncertain
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[2]">
                        <ion-col class="label">
                            {{ status.name }}
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с отказными статусами -->
                <div class="statistic_status_block statistic_status_refuseniks" *ngIf="isTypeArray(statisticData.statuses.type[3]) && statisticData.statuses.type[3].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            Refuseniks
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[3]">
                        <ion-col class="label">
                            {{ status.name }}
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с плохими статусами -->
                <div class="statistic_status_block statistic_status_bad" *ngIf="isTypeArray(statisticData.statuses.type[4]) && statisticData.statuses.type[4].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            Bad
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[4]">
                        <ion-col class="label">
                            {{ status.name }}
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с плохими статусами -->
                <div class="statistic_status_block statistic_status_close_deal" *ngIf="isTypeArray(statisticData.statuses.type[5]) && statisticData.statuses.type[5].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            Close Deal
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[5]">
                        <ion-col class="label">
                            {{ status.name }}
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>

                <!-- легенда к таблицам -->
                <ion-row>
                    <ion-col class="label">

                    </ion-col>
                    <ion-col text-center class="item_data_legend">
                        <span class="period legend">by period</span> / <span class="all legend">by all</span>
                    </ion-col>
                    <ion-col text-center class="item_data_legend">
                        <span class="period legend">by period</span> / <span class="all legend">by all</span>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <ion-row *ngSwitchCase="'transitions'">
            <ion-col no-padding *ngIf="sphereExist && isEnoughOpenLeads">

                <ion-row *ngFor="let transition of statisticData.transitions" class="statistic_transition_item">


                    <ion-col no-padding>

                        <!-- Статус от которого идем -->
                        <ion-row class="status_from_row">

                            <ion-col text-center>
                                {{ transition.fromStatus }}
                            </ion-col>

                        </ion-row>


                        <!-- Оценки -->
                        <ion-row>

                            <ion-col text-center>
                                <div class="legend period">period</div>
                                <div class="statistic_data">{{ transition.percentPeriod }}% <span class="rating {{ transition.ratingPeriod }}">{{ transition.ratingPeriod }}</span></div>
                            </ion-col>

                            <ion-col col-1 text-center align-self-center class="status_arrow">
                                <ion-icon name="md-arrow-down"></ion-icon>
                            </ion-col>

                            <ion-col text-center>
                                <div class="legend all">all</div>
                                <div class="statistic_data"> {{ transition.percentAll }}% <span class="rating {{ transition.ratingAll }}">{{ transition.ratingAll }}</span></div>
                            </ion-col>

                        </ion-row>


                        <!-- Статус к которому пришли -->
                        <ion-row class="status_to_row">

                            <ion-col text-center>
                                {{ transition.toStatus }}
                            </ion-col>

                        </ion-row>





                        <!-- периоды -->
                        <!--<ion-row class="legend_row">-->

                            <!--<ion-col text-center>-->
                                <!--period-->
                            <!--</ion-col>-->

                            <!--<ion-col text-center>-->
                                <!--all-->
                            <!--</ion-col>-->

                        <!--</ion-row>-->

                        <!-- Проценты -->
                        <!--<ion-row class="percent_row">-->

                            <!--<ion-col text-center no-padding>-->
                                <!--{{ transition.percentPeriod }}%-->
                            <!--</ion-col>-->

                            <!--<ion-col text-center no-padding>-->
                                <!--{{ transition.percentAll }}%-->
                            <!--</ion-col>-->

                        <!--</ion-row>-->

                        <!-- Оценка периода -->
                        <!--<ion-row class="rating_row">-->

                            <!--<ion-col text-center>-->
                                <!--{{ transition.ratingPeriod }}-->
                            <!--</ion-col>-->

                            <!--<ion-col text-center>-->
                                <!--{{ transition.ratingAll }}-->
                            <!--</ion-col>-->

                        <!--</ion-row>-->

                    </ion-col>






                    <!--<ion-col no-padding>-->

                        <!--&lt;!&ndash; Названия статусов &ndash;&gt;-->
                        <!--<ion-row class="direction_row">-->

                            <!--<ion-col text-center>-->
                                <!--{{ transition.fromStatus }}-->
                            <!--</ion-col>-->

                            <!--<ion-col col-2 text-center>-->
                                <!--<ion-icon name="md-arrow-forward"></ion-icon>-->
                            <!--</ion-col>-->

                            <!--<ion-col text-center>-->
                                <!--{{ transition.toStatus }}-->
                            <!--</ion-col>-->

                        <!--</ion-row>-->

                        <!--&lt;!&ndash; периоды &ndash;&gt;-->
                        <!--<ion-row class="legend_row">-->

                            <!--<ion-col text-center>-->
                                <!--period-->
                            <!--</ion-col>-->

                            <!--<ion-col text-center>-->
                                <!--all-->
                            <!--</ion-col>-->

                        <!--</ion-row>-->

                        <!--&lt;!&ndash; Проценты &ndash;&gt;-->
                        <!--<ion-row class="percent_row">-->

                            <!--<ion-col text-center no-padding>-->
                                <!--{{ transition.percentPeriod }}%-->
                            <!--</ion-col>-->

                            <!--<ion-col text-center no-padding>-->
                                <!--{{ transition.percentAll }}%-->
                            <!--</ion-col>-->

                        <!--</ion-row>-->

                        <!--&lt;!&ndash; Оценка периода &ndash;&gt;-->
                        <!--<ion-row class="rating_row">-->

                            <!--<ion-col text-center>-->
                                <!--{{ transition.ratingPeriod }}-->
                            <!--</ion-col>-->

                            <!--<ion-col text-center>-->
                                <!--{{ transition.ratingAll }}-->
                            <!--</ion-col>-->

                        <!--</ion-row>-->

                    <!--</ion-col>-->

                </ion-row>

            </ion-col>
        </ion-row>

    </div>




</ion-content>

<ion-footer>

    <div class="segment_control_block">
        <ion-segment [(ngModel)]="statisticBlocks">
            <ion-segment-button value="leads">
                Leads
            </ion-segment-button>
            <ion-segment-button value="statuses">
                Statuses
            </ion-segment-button>
            <ion-segment-button value="transitions">
                Transitions
            </ion-segment-button>
        </ion-segment>
    </div>

</ion-footer>