<!--
  Generated template for the Statistics page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <!--<ion-navbar>-->
    <!--<ion-title>statistics</ion-title>-->
    <!--</ion-navbar>-->


    <ion-navbar color="primary" hideBackButton="true">

        <ion-buttons left text-center>
            <button ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title dir="rtl" text-left>

            {{ 'statistic.title' | translate }}
            <!--Statistics-->
            <span class="additional_title"> (
                <span *ngIf="statisticBlocks == 'leads'">
                    {{ 'statistic.leads_name' | translate }}
                    <!--Leads-->
                </span>
                <span *ngIf="statisticBlocks == 'statuses'">
                    {{ 'statistic.statuses_name' | translate }}
                    <!--Statuses-->
                </span>
                <span *ngIf="statisticBlocks == 'transitions'">
                    {{ 'statistic.transitions_name' | translate }}
                    <!--Transitions-->
                </span>)
            </span>
        </ion-title>

    </ion-navbar>

    <ion-toolbar *ngIf="currentSphere" color="primary" no-padding>

        <ion-row no-padding>

            <!--<ion-col col-1 no-padding text-center align-self-center class="statistic_data_header_button">-->
            <!--<ion-icon name="ios-arrow-up"></ion-icon>-->
            <!--</ion-col>-->

            <ion-col no-padding class="statistic_data_header">
                <ion-item dir="rtl">
                    <ion-label>
                        {{ 'statistic.sphere' | translate }}
                        <!--Sphere-->
                    </ion-label>
                    <ion-select
                            [(ngModel)]="currentSphere"
                            interface="action-sheet"
                            (ionChange)="sphereChange()"
                            cancelText="{{'statistic.cancel' | translate}}">
                        <ion-option *ngFor="let sphere of spheres" value="{{ sphere.id }}">{{ sphere.name }}
                        </ion-option>
                        <!--<ion-option value="m">Male</ion-option>-->
                    </ion-select>
                </ion-item>

                <ion-item dir="rtl">
                    <ion-label>
                        {{ 'statistic.date' | translate }}
                        <!--Date-->
                    </ion-label>
                    <ion-select
                            [(ngModel)]="datePeriod"
                            interface="action-sheet"
                            (ionChange)="datePeriodChange()"
                            okText="{{'statistic.apply' | translate}}"
                            cancelText="{{'statistic.cancel' | translate}}">

                        <ion-option *ngFor="let period of datePeriodData" value="{{ period.id }}">{{ period.name }}
                        </ion-option>

                    </ion-select>
                </ion-item>

                <ion-row *ngIf="periodBlock" class="statistic_data_date" color="light">


                    <ion-col col-2 no-padding text-right>
                        <div class="date_label">
                            {{ 'statistic.from' | translate }}
                            <!--from:-->
                        </div>
                    </ion-col>

                    <ion-col text-left no-padding color="light" align-self-center>

                        <!--<span> from: </span>-->

                        <ion-datetime
                                displayFormat="DD/MM/YYYY"
                                pickerFormat="DD-MM-YYYY"
                                [(ngModel)]="dateFrom"
                                (ionChange)="dateFromChange()">

                        </ion-datetime>
                    </ion-col>

                    <ion-col col-2 no-padding text-right>
                        <div class="date_label">
                            {{ 'statistic.to' | translate }}
                            <!--to:-->
                        </div>
                    </ion-col>

                    <ion-col text-left no-padding color="light" align-self-center>

                        <ion-datetime
                                displayFormat="DD/MM/YYYY"
                                pickerFormat="DD-MM-YYYY"
                                [(ngModel)]="dateTo"
                                (ionChange)="dateToChange()">

                        </ion-datetime>
                    </ion-col>

                </ion-row>
            </ion-col>

        </ion-row>


    </ion-toolbar>

</ion-header>


<ion-content padding>

    <!-- Если сфера отсутствует -->
    <ion-row *ngIf="noSphereBlockShow">
        <ion-col text-center class="no_sphere_text">
            {{ 'statistic.no_sphere' | translate }}
            <!--No sphere-->
        </ion-col>
    </ion-row>

    <!-- Блок показывает что открытых лидов недостаточно для статистики -->
    <ion-row *ngIf="!isEnoughOpenLeads && !isLoading">
        <ion-col text-center class="no_sphere_text">

            <div margin>
                {{ 'statistic.no_enough_leads' | translate }}
                <!--Not enough open leads for statistics-->
            </div>

            <div *ngIf="statisticData"><b>{{ statisticData.sphere.minOpen }}</b>
                {{ 'statistic.open_leads_needed' | translate }}
                <!--open leads needed-->
            </div>
            <div *ngIf="statisticData">
                {{ 'statistic.you_have' | translate }}
                <!--you have-->
                <b>{{ statisticData.openLeads.all }}</b></div>

        </ion-col>
    </ion-row>

    <!-- спинер загрузки -->
    <div *ngIf="isLoading" class="spinnerLoading" text-center>
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <div [ngSwitch]="statisticBlocks">
        <ion-row *ngSwitchCase="'leads'">
            <ion-col no-padding>

                <!-- контент лидов -->
                <ion-row no-padding *ngIf="sphereExist && isEnoughOpenLeads" dir="rtl">
                    <ion-col no-padding>

                        <!-- Сумарные данные по лидам (агента и его салесманов) -->
                        <div class="lead_statistic_block lead_summary_block">


                            <ion-row>
                                <ion-col>

                                </ion-col>
                                <ion-col col-4 class="item_data" text-center>
                                    <span class="period legend">
                                        {{ 'statistic.by_period' | translate }}
                                        <!--by period-->
                                    </span> /
                                    <span class="all legend">
                                        {{ 'statistic.by_all' | translate }}
                                        <!--by all-->
                                    </span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col text-center class="title">
                                    {{ 'statistic.leads_block_title' | translate }}
                                    <!--Leads-->
                                </ion-col>
                            </ion-row>

                            <!--<ion-row>-->
                            <!--<ion-col class="item_data" text-right>-->
                            <!--<span class="period legend">by period</span> / <span class="all legend">by all</span>-->
                            <!--</ion-col>-->
                            <!--</ion-row>-->

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_added' | translate }}
                                    <!--added-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.added.period }}</span> / <span class="all">{{ statisticData.added.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_operator_banned' | translate }}
                                    <!--operator banned-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.operatorBad.period }}</span> / <span
                                        class="all">{{ statisticData.operatorBad.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_users_banned' | translate }}
                                    <!--users banned-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.agentBad.period }}</span> / <span class="all">{{ statisticData.agentBad.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_seen' | translate }}
                                    <!--seen-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.auction.period }}</span> / <span class="all">{{ statisticData.auction.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_open' | translate }}
                                    <!--open-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.openLeads.period }}</span> / <span
                                        class="all">{{ statisticData.openLeads.all }}</span>
                                </ion-col>
                            </ion-row>

                        </div>


                        <!-- Данные только агента -->
                        <div *ngIf="isSalesman" class="lead_statistic_block lead_just_agent_block">

                            <ion-row>
                                <ion-col text-center class="title">
                                    {{ 'statistic.leads_block_title_agent' | translate }}
                                    <!--Just a agent data-->
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_added' | translate }}
                                    <!--added-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.added.period }}</span> / <span
                                        class="all">{{ statisticData.user.justAgent.added.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_operator_banned' | translate }}
                                    <!--operator banned-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.operatorBad.period }}</span> /
                                    <span class="all">{{ statisticData.user.justAgent.operatorBad.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_users_banned' | translate }}
                                    <!--users banned-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.agentBad.period }}</span> /
                                    <span class="all">{{ statisticData.user.justAgent.agentBad.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_seen' | translate }}
                                    <!--seen-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.auction.period }}</span> /
                                    <span class="all">{{ statisticData.user.justAgent.auction.all }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col class="item_label">
                                    {{ 'statistic.leads_block_data_open' | translate }}
                                    <!--open-->
                                </ion-col>
                                <ion-col col-4 text-center class="item_data">
                                    <span class="period">{{ statisticData.user.justAgent.openLeads.period }}</span> /
                                    <span class="all">{{ statisticData.user.justAgent.openLeads.all }}</span>
                                </ion-col>
                            </ion-row>

                        </div>

                        <!-- Данные салеманов -->
                        <div *ngIf="isSalesman" class="lead_statistic_block lead_salesmen_block">

                            <ion-row>
                                <ion-col text-center class="title">
                                    {{ 'statistic.leads_block_title_salesmen' | translate }}
                                    <!--Salesmen-->
                                </ion-col>
                            </ion-row>


                            <div class="lead_salesmen_item" *ngFor="let salesmen of statisticData.user.salesmenData">

                                <ion-row>
                                    <ion-col class="salesmen_name">
                                        {{ salesmen.user.email }}
                                    </ion-col>
                                </ion-row>

                                <!--<ion-row>-->
                                <!--<ion-col class="item_data" text-right>-->
                                <!--<span class="period legend">by period</span> / <span class="all legend">by all</span>-->
                                <!--</ion-col>-->
                                <!--</ion-row>-->

                                <ion-row>
                                    <ion-col class="item_label">
                                        {{ 'statistic.leads_block_data_added' | translate }}
                                        <!--added-->
                                    </ion-col>
                                    <ion-col col-4 text-center class="item_data">
                                        <span class="period">{{ salesmen.added.period }}</span> / <span class="all">{{ salesmen.added.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        {{ 'statistic.leads_block_data_operator_banned' | translate }}
                                        <!--operator banned-->
                                    </ion-col>
                                    <ion-col col-4 text-center class="item_data">
                                        <span class="period">{{ salesmen.operatorBad.period }}</span> / <span
                                            class="all">{{ salesmen.operatorBad.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        {{ 'statistic.leads_block_data_users_banned' | translate }}
                                        <!--users banned-->
                                    </ion-col>
                                    <ion-col col-4 text-center class="item_data">
                                        <span class="period">{{ salesmen.agentBad.period }}</span> / <span class="all">{{ salesmen.agentBad.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        {{ 'statistic.leads_block_data_seen' | translate }}
                                        <!--seen-->
                                    </ion-col>
                                    <ion-col col-4 text-center class="item_data">
                                        <span class="period">{{ salesmen.auction.period }}</span> / <span class="all">{{ salesmen.auction.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        {{ 'statistic.leads_block_data_open' | translate }}
                                        <!--open-->
                                    </ion-col>
                                    <ion-col col-4 text-center class="item_data">
                                        <span class="period">{{ salesmen.openLeads.period }}</span> / <span class="all">{{ salesmen.openLeads.all }}</span>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        {{ 'statistic.leads_block_data_salesman_presence' | translate }}
                                        <!--presence-->
                                    </ion-col>
                                    <ion-col col-4 text-center class="item_data" class="additional_data">
                                        {{ salesmen.sphere.presence ? 'Yes' : 'No' }}
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col class="item_label">
                                        {{ 'statistic.leads_block_data_salesman_active' | translate }}
                                        <!--Active-->
                                    </ion-col>
                                    <ion-col col-4 text-center class="item_data additional_data">
                                        {{ salesmen.user.active ? 'Yes' : 'No' }}
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col>

                                    </ion-col>
                                    <ion-col col-4 class="item_data" text-right>
                                        <span class="period legend">
                                            {{ 'statistic.by_period' | translate }}
                                            <!--by period -->
                                        </span> /
                                        <span class="all legend">
                                            {{ 'statistic.by_all' | translate }}
                                            <!--by all-->
                                        </span>
                                    </ion-col>
                                </ion-row>

                            </div>

                        </div>

                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <ion-row *ngSwitchCase="'statuses'">
            <ion-col no-padding *ngIf="sphereExist && isEnoughOpenLeads" dir="rtl">


                <!-- легенда к таблицам -->
                <ion-row>
                    <ion-col class="label">

                    </ion-col>
                    <ion-col text-center class="item_data_legend">
                        <span class="period legend">{{ 'statistic.by_period' | translate }}</span> / <span class="all legend">{{ 'statistic.by_all' | translate }}</span>
                    </ion-col>
                    <ion-col text-center class="item_data_legend">
                        <span class="period legend">{{ 'statistic.by_period' | translate }}</span> / <span class="all legend">{{ 'statistic.by_all' | translate }}</span>
                    </ion-col>
                </ion-row>


                <!-- лиды без статуса -->
                <div class="statistic_status_block statistic_status_no_status">

                    <ion-row>
                        <ion-col class="label">
                            {{ 'statistic.status.no_status' | translate }}
                            <!--No status-->
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ statisticData.statuses.noStatus.countPeriod }}</span> / <span
                                class="all">{{ statisticData.statuses.noStatus.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ statisticData.statuses.noStatus.percentPeriod }}%</span> / <span
                                class="all">{{ statisticData.statuses.noStatus.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с прогрессивными статусами -->
                <div class="statistic_status_block statistic_status_progress"
                     *ngIf="isTypeArray(statisticData.statuses.type[1]) && statisticData.statuses.type[1].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            {{ 'statistic.status.progress' | translate }}
                            <!--Progress-->
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[1]">
                        <ion-col class="label">
                            <!--{{ status.name }}-->

                            <ng-container [ngSwitch]="true">
                                <div *ngSwitchCase="status.name === 'Summary'">{{ 'statistic.summary' | translate }}</div>
                                <div *ngSwitchDefault>{{ status.name }}</div>
                            </ng-container>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с неопределенными статусами -->
                <div class="statistic_status_block statistic_status_uncertain"
                     *ngIf="isTypeArray(statisticData.statuses.type[2]) && statisticData.statuses.type[2].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            {{ 'statistic.status.uncertain' | translate }}
                            <!--Uncertain-->
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[2]">
                        <ion-col class="label">
                            <!--{{ status.name }}-->
                            <ng-container [ngSwitch]="true">
                                <div *ngSwitchCase="status.name === 'Summary'">{{ 'statistic.summary' | translate }}</div>
                                <div *ngSwitchDefault>{{ status.name }}</div>
                            </ng-container>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с отказными статусами -->
                <div class="statistic_status_block statistic_status_refuseniks"
                     *ngIf="isTypeArray(statisticData.statuses.type[3]) && statisticData.statuses.type[3].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            {{ 'statistic.status.refuseniks' | translate }}
                            <!--Refuseniks-->
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[3]">
                        <ion-col class="label">
                            <!--{{ status.name }}-->
                            <ng-container [ngSwitch]="true">
                                <div *ngSwitchCase="status.name === 'Summary'">{{ 'statistic.summary' | translate }}</div>
                                <div *ngSwitchDefault>{{ status.name }}</div>
                            </ng-container>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с плохими статусами -->
                <div class="statistic_status_block statistic_status_bad"
                     *ngIf="isTypeArray(statisticData.statuses.type[4]) && statisticData.statuses.type[4].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            {{ 'statistic.status.bad' | translate }}
                            <!--Bad-->
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[4]">
                        <ion-col class="label">
                            <!--{{ status.name }}-->
                            <ng-container [ngSwitch]="true">
                                <div *ngSwitchCase="status.name === 'Summary'">{{ 'statistic.summary' | translate }}</div>
                                <div *ngSwitchDefault>{{ status.name }}</div>
                            </ng-container>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>


                <!-- лиды с плохими статусами -->
                <div class="statistic_status_block statistic_status_close_deal"
                     *ngIf="isTypeArray(statisticData.statuses.type[5]) && statisticData.statuses.type[5].length != 0">

                    <ion-row>
                        <ion-col text-center class="title">
                            {{ 'statistic.status.close_deal' | translate }}
                            <!--Close Deal-->
                        </ion-col>
                    </ion-row>

                    <ion-row *ngFor="let status of statisticData.statuses.type[5]">
                        <ion-col class="label">

                            <!--{{ status.name }}-->

                            <ng-container [ngSwitch]="true">
                                <div *ngSwitchCase="status.name === 'Summary'">{{ 'statistic.summary' | translate }}</div>
                                <div *ngSwitchDefault>{{ status.name }}</div>
                            </ng-container>

                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.countPeriod }}</span> / <span class="all">{{ status.countAll }}</span>
                        </ion-col>
                        <ion-col text-center>
                            <span class="period">{{ status.percentPeriod }}%</span> / <span class="all">{{ status.percentAll }}%</span>
                        </ion-col>
                    </ion-row>

                </div>

                <!-- легенда к таблицам -->
                <ion-row>
                    <ion-col class="label">

                    </ion-col>
                    <ion-col text-center class="item_data_legend">
                        <span class="period legend">{{ 'statistic.by_period' | translate }}</span> / <span class="all legend">{{ 'statistic.by_all' | translate }}</span>
                    </ion-col>
                    <ion-col text-center class="item_data_legend">
                        <span class="period legend">{{ 'statistic.by_period' | translate }}</span> / <span class="all legend">{{ 'statistic.by_all' | translate }}</span>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <ion-row *ngSwitchCase="'transitions'" dir="rtl">
            <ion-col no-padding *ngIf="sphereExist && isEnoughOpenLeads">

                <ion-row *ngFor="let transition of statisticData.transitions" class="statistic_transition_item">


                    <ion-col no-padding>

                        <!-- Статус от которого идем -->
                        <ion-row class="status_from_row">

                            <ion-col text-center>
                                <ng-container [ngSwitch]="true">
                                    <div *ngSwitchCase="transition.fromStatus === 'No status'">{{ 'statistic.status.no_status' | translate }}</div>
                                    <div *ngSwitchCase="transition.fromStatus === 'CLOSED DEAL'">{{ 'statistic.status.close_deal' | translate }}</div>
                                    <div *ngSwitchCase="transition.fromStatus === 'UNCERTAIN'">{{ 'statistic.status.uncertain' | translate }}</div>
                                    <div *ngSwitchCase="transition.fromStatus === 'REFUSENIKS'">{{ 'statistic.status.refuseniks' | translate }}</div>
                                    <div *ngSwitchCase="transition.fromStatus === 'PROCESS'">{{ 'statistic.status.progress' | translate }}</div>
                                    <div *ngSwitchCase="transition.fromStatus === 'BAD'">{{ 'statistic.status.bad' | translate }}</div>
                                    <div *ngSwitchDefault>{{ transition.fromStatus }}</div>
                                </ng-container>


                            </ion-col>

                        </ion-row>


                        <!-- Оценки -->
                        <ion-row>

                            <ion-col text-center>
                                <div class="legend period">
                                    {{ 'statistic.transitions.period' | translate }}
                                    <!--period-->
                                </div>
                                <div class="statistic_data">{{ transition.percentPeriod }}% <span
                                        class="rating {{ transition.ratingPeriod }}">{{ transition.ratingPeriod }}</span>
                                </div>
                            </ion-col>

                            <ion-col col-1 text-center align-self-center class="status_arrow">
                                <ion-icon name="md-arrow-down"></ion-icon>
                            </ion-col>

                            <ion-col text-center>
                                <div class="legend all">
                                    {{ 'statistic.transitions.all' | translate }}
                                    <!--all-->
                                </div>
                                <div class="statistic_data"> {{ transition.percentAll }}% <span
                                        class="rating {{ transition.ratingAll }}">{{ transition.ratingAll }}</span>
                                </div>
                            </ion-col>

                        </ion-row>


                        <!-- Статус к которому пришли -->
                        <ion-row class="status_to_row">

                            <ion-col text-center>
                                <!--{{ transition.toStatus }}-->

                                <ng-container [ngSwitch]="true">
                                    <div *ngSwitchCase="transition.toStatus === 'No status'">{{ 'statistic.status.no_status' | translate }}</div>
                                    <div *ngSwitchCase="transition.toStatus === 'CLOSED DEAL'">{{ 'statistic.status.close_deal' | translate }}</div>
                                    <div *ngSwitchCase="transition.toStatus === 'UNCERTAIN'">{{ 'statistic.status.uncertain' | translate }}</div>
                                    <div *ngSwitchCase="transition.toStatus === 'REFUSENIKS'">{{ 'statistic.status.refuseniks' | translate }}</div>
                                    <div *ngSwitchCase="transition.toStatus === 'PROCESS'">{{ 'statistic.status.progress' | translate }}</div>
                                    <div *ngSwitchCase="transition.toStatus === 'BAD'">{{ 'statistic.status.bad' | translate }}</div>
                                    <div *ngSwitchDefault>{{ transition.toStatus }}</div>
                                </ng-container>

                            </ion-col>

                        </ion-row>

                    </ion-col>

                </ion-row>

            </ion-col>
        </ion-row>

    </div>


</ion-content>

<ion-footer>

    <div class="segment_control_block">
        <ion-segment [(ngModel)]="statisticBlocks">
            <ion-segment-button value="leads">
                {{ 'statistic.leads_name' | translate }}
            </ion-segment-button>
            <ion-segment-button value="statuses">
                {{ 'statistic.statuses_name' | translate }}
            </ion-segment-button>
            <ion-segment-button value="transitions">
                {{ 'statistic.transitions_name' | translate }}
            </ion-segment-button>
        </ion-segment>
    </div>

</ion-footer>