@font-face {
  font-family: 'Rubik-Regular';
  src: url('Rubik-Regular.eot');
  src: url('Rubik-Regular.woff2') format('woff2'),
       url('Rubik-Regular.woff') format('woff'),
       url('Rubik-Regular.ttf') format('truetype'),
       url('Rubik-Regular.svg#Rubik-Regular') format('svg'),
       url('Rubik-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

