
<ion-header>

    <ion-navbar color="primary">
        <!--<ion-title>Customers</ion-title>-->

        <!--<ion-buttons right>-->
            <!--<button ion-button clear (click)="goToMainPage()">-->
                <!--<ion-icon name="md-arrow-forward"></ion-icon>-->
            <!--</button>-->
        <!--</ion-buttons>-->


        <ion-buttons left text-center class="left_button">
            <button ion-button (click)="goToMainPage()">
                close
            </button>
        </ion-buttons>


    </ion-navbar>

    <ion-row *ngIf="subRole" class="subHeader">
        <ion-col>
            <div class="salesmen-row">
                salesmen: {{ salesmenData.name }} {{ salesmenData.surname }}
            </div>
        </ion-col>
    </ion-row>

</ion-header>


<ion-content class="customers-content">

    <!-- Заголовок (имя сферы) -->
    <ion-row>
        <ion-col text-right class="customers-title">
            Customer Filter Spheres
        </ion-col>
    </ion-row>


    <ion-card *ngFor="let sphere of spheres"  class="open_card">


        <!--<ion-card-content no-padding text-right>-->

            <!--<div class="name">{{ sphere.name }}</div>-->
            <!--<div class="leads_status"> <span class="leads_count">{{ sphere.leads }}</span> leads in <span class="masks_count">{{ sphere.masks.count }}</span> masks</div>-->

        <!--</ion-card-content>-->


        <ion-row class="sphere_data">

            <ion-col no-padding>
                <button small round outline ion-button color="primary" (click)="createNewMask(sphere.id)">new mask</button>
            </ion-col>

            <ion-col no-padding text-right (click)="openSphere(sphere)">
                <div class="name">{{ sphere.name }}</div>
                <div class="leads_status"> <span class="leads_count">{{ sphere.leads }}</span> leads in <span class="masks_count">{{ sphere.masks.count }}</span> masks</div>
            </ion-col>

        </ion-row>


        <ion-row class="masks_status_wrapper_row" (click)="openSphere(sphere)">
            <ion-col no-padding text-center class="masks_status_wrapper_col">

                <ion-row>


                    <ion-col text-center no-padding>
                        <div class="masks_active_color masks_status">{{ sphere.masks.active }}</div>
                        <div>masks active</div>
                    </ion-col>

                    <ion-col text-center no-padding>
                        <div class="masks_pending_color masks_status">{{ sphere.masks.pending }}</div>
                        <div>masks pending</div>
                    </ion-col>

                    <ion-col text-center no-padding>
                        <div class="masks_off_color masks_status">{{ sphere.masks.off }}</div>
                        <div>masks off</div>
                    </ion-col>


                    <!--<ion-col text-center no-padding>-->
                        <!--masks active: <span>{{ sphere.masks.active }}</span>-->
                    <!--</ion-col>-->

                    <!--<ion-col text-center no-padding>-->
                        <!--masks pending: <span>{{ sphere.masks.pending }}</span>-->
                    <!--</ion-col>-->

                    <!--<ion-col text-center no-padding>-->
                        <!--masks off: <span>{{ sphere.masks.off }}</span>-->
                    <!--</ion-col>-->

                </ion-row>

            </ion-col>
        </ion-row>




    </ion-card>


</ion-content>
