profile_edit_main_data_page {

  .content {
    background: #F8F8F8;

    .spinnerLoading {
      text-align: center;
      margin-top: 20%;
    }

    .data {

      .personal_data_row {

        margin-bottom: 20px;

        .validation_block {

          .success {
            color: green;
          }

          .alert {
            color: red;
          }

          padding-bottom: 0;
        }

        .data_block {

          .label {
            text-align: right;
            color: grey;
            font-size: 12px;
          }

          .input_row {

            .text-input {
              //margin-top: 7px;
              //margin-bottom: 5px;
              margin: 7px 2px 5px;
              color: #337AB7;
            }

          }

          border-bottom: 1px #E4E4E4 solid;
          padding-bottom: 0;

          &.error {
            border-bottom: 1px #CA8888 solid;
          }

        }

      }

    }

    .error_area {

      .error_text {
        color: #A9A9A9;
        font-size: 16px;
        text-align: center;
        margin: 20% 0;
      }

      .error_button {
        margin: 30px 0;
        text-align: center;
      }

    }

  }

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  .payment_title {
    font-weight: 500;
    color: #5288B5;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .data_container {

  }

}