page-login {

  .logo_image img {
    margin-top: 45%;
    margin-bottom: 15%;
    width: 200px;
  }

  .advantages_linc {
    color: white;
    padding-top: 10px;
    font-size: 13px;
    cursor: pointer;
  }

  .logo_text {
    font-weight: 600;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
  }

  ion-content {

    background: #337AB7 !important;

    .login_button {
      background: #1E629B;
    }

    input {
      background: #337AB7 !important;
    }

  }

}
