page-login {

  .logo_image img {
    margin-top: 35%;
    margin-bottom: 15%;
    width: 200px;
  }

  .advantages_linc {
    color: white;
    padding-top: 10px;
    font-size: 13px;
    cursor: pointer;
  }

  .logo_text {
    font-weight: 600;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
  }

  ion-content {

    background: #337AB7 !important;

    .login_input_block {

      .login_input {
        padding: 5px 10%;

        .text-input{
          background: #2C6A9E !important;
          padding: 10px 20px;
          margin: 5px 0 5px 10px;
          border-radius: 20px;
          color: white;
          text-align: center;
        }

        .email {

        }

        .password {

        }
      }
    }



    .login_button {
      background: #1E629B;
    }

    input {
      background: #337AB7 !important;
    }

    .password_recovery {
      color: white;
      margin-bottom: 20px;
    }

  }

}
