
<ion-content>

    <!-- Обновление страницы -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- конец Обновление страницы -->

    <!-- спинер загрузки -->
    <div *ngIf="isLoading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <ion-card *ngFor="let item of items" class="open_card">


        <ion-row>
            <ion-col>
                <button ion-button clear small>
                    <ion-icon name="ios-call"></ion-icon>
                </button>

                <button ion-button clear small (click)="openLeadOrganizer(item)">
                    <ion-icon name="md-alarm"></ion-icon>
                </button>
            </ion-col>
        </ion-row>


        <ion-card-content (click)="detail(item)">

            <ion-row>

                <ion-col>
                    <h2 >{{ item.lead.name }} {{ item.lead.surname }}</h2>
                </ion-col>

                <ion-col class="item-right-data" text-right>
                    <div> {{ item.lead.sphere.name }}</div>
                    <div> {{ item.date.time }} {{ item.date.date }}</div>
                </ion-col>

            </ion-row>

        </ion-card-content>


        <ion-row>
            <ion-col>
                <button ion-button small full (click)="changeStatus(item)">
                    {{ item.status_info ? item.status_info.stepname : 'No status' }}
                </button>
            </ion-col>

        </ion-row>

    </ion-card>


    <ion-row *ngIf="noItems && !isFilterOn && roles.role == 'agent'" class="no_leads_row" text-center>
        <ion-col>
            <div class="icon"><ion-icon name="md-contract"></ion-icon></div>

            <div class="leads_text">
                <div> You do not have any leads</div>
                <div class="take_leads"> To get the leads, select the mask</div>
                <div class="take_leads">on the client filter page</div>
                <button small ion-button color="primary" class="mask_button" (click)="customerPage()"> Select mask </button>
            </div>

        </ion-col>
    </ion-row>

    <ion-row *ngIf="noItems && !isFilterOn && roles.role != 'agent'" class="no_leads_row" text-center>
        <ion-col>
            <div class="icon"><ion-icon name="md-contract"></ion-icon></div>

            <div class="leads_text">
                <div> You do not have any leads</div>
                <!--<div class="take_leads"> To get the leads, select the mask</div>-->
                <!--<div class="take_leads">on the client filter page</div>-->
                <!--<button small ion-button color="primary" class="mask_button" (click)="customerPage()"> Select mask </button>-->
            </div>

        </ion-col>
    </ion-row>

    <ion-row *ngIf="noItems && isFilterOn" class="no_leads_row" text-center>
        <ion-col>
            <div class="icon"><ion-icon name="md-contract"></ion-icon></div>

            <div class="leads_text">
                <div> No open leads by filter</div>
                <!--<div class="take_leads"> To get the leads, select the mask</div>-->
                <!--<div class="take_leads">on the client filter page</div>-->
                <!--<button small ion-button color="primary" class="mask_button" (click)="customerPage()"> Select mask </button>-->
            </div>

        </ion-col>
    </ion-row>


    <!-- Подгрузка следующей партии итемов -->
    <ion-infinite-scroll *ngIf="isLastPageReached()" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- конец Подгрузка следующей партии итемов -->

</ion-content>
