page-open {

  ion-card.open_card {

    ion-card-content {
      padding-top: 0;
      padding-bottom: 0;

      .item-right-data {
        color: grey;
        //text-align: right;
        font-size: 12px;

        .item-right-data-time {

          font-size: 10px;
        }

      }

    }

  }

  .no_leads_row {

    color: grey;
    margin-top: 20px;

    .icon {
      color: #EAEAEA;
      font-size: 50px;
      //font-weight: 400;
    }

    .leads_text {
      margin-top: 20px;
      color: grey;
      font-size: 14px;

      .take_leads {
        margin-top: 10px;
      }
    }

    .mask_button{
      margin-top: 20px;
    }

  }

}
