page-open {

  ion-card.open_card {

    ion-card-content {
      padding-top: 0;
      padding-bottom: 0;

      .item-right-data {
        color: grey;
        //text-align: right;
        font-size: 12px;

        .item-right-data-time {

          font-size: 10px;
        }

      }

    }

  }

}
