
<ion-content>

    <!-- Обновление страницы -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- конец Обновление страницы -->


    <ion-card *ngFor="let item of items" class="open_card">


        <ion-row>
            <ion-col>
                <button ion-button clear small>
                    <ion-icon name="ios-call"></ion-icon>
                </button>

                <button ion-button clear small (click)="openLeadOrganizer(item)">
                    <ion-icon name="md-alarm"></ion-icon>
                </button>
            </ion-col>
        </ion-row>


        <ion-card-content (click)="detail(item)">

            <ion-row>

                <ion-col>
                    <h2 >{{ item.lead.name }} {{ item.lead.surname }}</h2>
                </ion-col>

                <ion-col class="item-right-data" text-right>
                    <div> {{ item.lead.sphere.name }}</div>
                    <div> {{ item.date.time }} {{ item.date.date }}</div>
                </ion-col>

            </ion-row>

        </ion-card-content>


        <ion-row>
            <ion-col>
                <button ion-button small full (click)="changeStatus(item)">
                    {{ item.status_info ? item.status_info.stepname : 'No status' }}
                </button>
            </ion-col>

        </ion-row>

    </ion-card>


    <!-- Подгрузка следующей партии итемов -->
    <ion-infinite-scroll *ngIf="isLastPageReached()" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- конец Подгрузка следующей партии итемов -->

</ion-content>
