
<ion-content>

    <!-- Обновление страницы -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- конец Обновление страницы -->

    <!-- спинер загрузки -->
    <div *ngIf="isLoading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <ion-card *ngFor="let item of items" class="open_card">


        <ion-row>
            <ion-col>
                <button ion-button clear small>
                    <ion-icon name="ios-call"></ion-icon>
                </button>

                <button ion-button clear small (click)="openLeadOrganizer(item)">
                    <ion-icon name="md-alarm"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-3 text-right align-self-center class="archive" [ngClass]="item.archive == 1 ? 'zipped' : ''" (click)="archive(item)">
                archive
                <ion-icon *ngIf="item.archive == 0" name="md-square-outline" class="archive_icon"></ion-icon>
                <ion-icon *ngIf="item.archive == 1" name="md-checkbox-outline" class="archive_icon selected_icon"></ion-icon>
            </ion-col>
        </ion-row>


        <ion-card-content (click)="detail(item)">

            <ion-row>

                <ion-col class="item-left-data" text-left>
                    <div class="date"> <span class="time">{{ item.date.time }}</span> {{ item.date.date }}</div>
                    <div> {{ item.lead.sphere.name }}</div>
                </ion-col>

                <ion-col text-right>
                    <div class="name">{{ item.lead.surname }} {{ item.lead.name }}</div>
                </ion-col>

            </ion-row>

        </ion-card-content>


        <ion-row>
            <ion-col>

                <div *ngIf="roles.subRole == 'leadbayer'">

                    <div *ngIf="item.close_deal_info">

                        <div class="deal_is_closed">

                            <div class="name"> deal is closed</div>

                            <ion-row class="deal_data_row">

                                <ion-col>
                                    <div class="deal_data_title">deal name</div>
                                    <div  class="deal_data_data">{{ item.status_info.stepname }}</div>
                                </ion-col>

                                <ion-col>
                                    <div class="deal_data_title">deal price</div>
                                    <div  class="deal_data_data"><b>&#8362;</b> {{ item.close_deal_info.price }}</div>
                                </ion-col>

                            </ion-row>


                            <!--<ion-row class="deal_data_row">-->

                                <!--<ion-col col-4 class="deal_data_title">-->
                                    <!--deal name:-->
                                <!--</ion-col>-->

                                <!--<ion-col class="deal_data_data">-->
                                    <!--{{ item.status_info.stepname }}-->
                                <!--</ion-col>-->

                            <!--</ion-row>-->

                            <!--<ion-row class="deal_data_row">-->

                                <!--<ion-col col-4 class="deal_data_title">-->
                                    <!--deal price:-->
                                <!--</ion-col>-->

                                <!--<ion-col class="deal_data_data">-->
                                    <!--&#8362; {{ item.close_deal_info.price }}-->
                                <!--</ion-col>-->

                            <!--</ion-row>-->

                        </div>

                    </div>

                    <div *ngIf="!item.close_deal_info">
                        <button ion-button small full (click)="changeStatus(item)">
                            {{ item.status_info ? item.status_info.stepname : 'No status' }}
                        </button>
                    </div>

                </div>

                <div *ngIf="roles.subRole == 'dealmaker'">
                    <button ion-button small full (click)="changeStatus(item)">
                        {{ item.status_info ? item.status_info.stepname : 'No status' }}
                    </button>
                </div>

            </ion-col>

        </ion-row>

    </ion-card>


    <ion-row *ngIf="noItems && !isFilterOn && roles.role == 'agent'" class="no_leads_row" text-center>
        <ion-col>
            <div class="icon"><ion-icon name="md-contract"></ion-icon></div>

            <div class="leads_text">
                <div> You do not have any leads</div>
                <div class="take_leads"> To get the leads, select the mask</div>
                <div class="take_leads">on the client filter page</div>
                <button small ion-button color="primary" class="mask_button" (click)="customerPage()"> Select mask </button>
            </div>

        </ion-col>
    </ion-row>

    <ion-row *ngIf="noItems && !isFilterOn && roles.role != 'agent'" class="no_leads_row" text-center>
        <ion-col>
            <div class="icon"><ion-icon name="md-contract"></ion-icon></div>

            <div class="leads_text">
                <div> You do not have any leads</div>
                <!--<div class="take_leads"> To get the leads, select the mask</div>-->
                <!--<div class="take_leads">on the client filter page</div>-->
                <!--<button small ion-button color="primary" class="mask_button" (click)="customerPage()"> Select mask </button>-->
            </div>

        </ion-col>
    </ion-row>

    <ion-row *ngIf="noItems && isFilterOn" class="no_leads_row" text-center>
        <ion-col>
            <div class="icon"><ion-icon name="md-contract"></ion-icon></div>

            <div class="leads_text">
                <div> No open leads by filter</div>
                <!--<div class="take_leads"> To get the leads, select the mask</div>-->
                <!--<div class="take_leads">on the client filter page</div>-->
                <!--<button small ion-button color="primary" class="mask_button" (click)="customerPage()"> Select mask </button>-->
            </div>

        </ion-col>
    </ion-row>


    <!-- Подгрузка следующей партии итемов -->
    <ion-infinite-scroll *ngIf="isLastPageReached()" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- конец Подгрузка следующей партии итемов -->

</ion-content>
