password-recovery {

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  ion-content.no-scroll {

    > .scroll-content {
      overflow-y: auto;
    }

    .spinnerLoading {
      text-align: center;
      margin-top: 20%;
    }

  }

  .confirmation_data_row {

    margin-bottom: 20px;

    .validation_block {

      .success {
        color: green;
      }

      .alert {
        color: red;
      }

      padding-bottom: 0;
    }

    .data_block {

      .label {
        text-align: right;
        color: grey;
        font-size: 12px;
      }

      .input_row {

        .text-input {
          margin-top: 7px;
          margin-bottom: 8px;
          color: #337AB7;
        }

      }

      padding-bottom: 0;
    }

  }

  .email_block {

    margin-bottom: 20px;

    .validation_block {

      .success {
        color: green;
      }

      .alert {
        color: red;
      }

      padding-bottom: 0;
    }

    .data_block {

      .label {
        text-align: right;
        color: grey;
        font-size: 12px;
      }

      .input_row {

        .text-input {
          margin-top: 10px;
          margin-bottom: 1px;
          color: #337AB7;
        }

      }

      padding-bottom: 0;
    }

  }


  .mail_confirmation_data_block {

    .label {
      text-align: center;
      color: grey;
      font-size: 12px;

      .description {
        color: #B7B7B7;
      }

      .email {
        font-size: 14px;
        color: #337AB7;
        margin: 5px 0 5px;
      }
    }

    .input_row {

      text-align: center;
      width: 250px;
      //margin: 0 !important;
      padding: 0;
      margin: 0 auto;

      .text-input {
        //margin-top: 7px;
        //margin-bottom: 8px;
        margin: 7px auto 1px;
        //width: 100px;
        color: #337AB7;
        font-size: 65px;
        text-align: center;
      }

      .text-input::-webkit-input-placeholder {
        color: #F3F3F3;
        font-weight: 100;
      }
      .text-input::-moz-placeholder {
        color: #F3F3F3;
        font-weight: 100;
      }
      /* Firefox 19+ */
      .text-input:-moz-placeholder {
        color: #F3F3F3;
        font-weight: 100;
      }
      /* Firefox 18- */
      .text-input:-ms-input-placeholder {
        color: #F3F3F3;
        font-weight: 100;
      }

      border-bottom: solid #337AB7 1px;

    }

    .addition_text {
      color: #C5C5C5;
      text-align: center;
      margin: 5% 20% 5px;
    }

    .button_block {
      margin-top: 10%;
    }

    padding-bottom: 0;
  }

  .confirmation_data_row_separator {
    margin: 0;
    color: lightgray;
    background-color: lightgray;

    &.confirmation_data_row_separator.red {
      color: red;
      background-color: red;
    }
  }

  .resend_button {
    margin-top: 20px;
  }

  .error_message {
    color: red;
    font-size: 11px;
    text-align: right;
  }

  .emailConfirmationCodeError {
    text-align: center;
    margin: 5px 10% 20px;
    color: #EB3941;
    font-size: 12px;
  }

  .new_credentials {

    .email {
      text-align: center;
      color: grey;
      font-size: 12px;
      margin-bottom: 10%;

      .description {
        color: #B7B7B7;
      }

      .email {
        font-size: 14px;
        color: #337AB7;
        margin: 5px 0 5px;
      }
    }

    .password_data_row {

      margin-bottom: 20px;

      .validation_block {

        .success {
          color: green;
        }

        .alert {
          color: red;
        }

        padding-bottom: 0;
      }

      .data_block {

        .label {
          text-align: right;
          color: grey;
          font-size: 12px;
        }

        .input_row {

          .text-input {
            margin-top: 7px;
            margin-bottom: 8px;
            color: #337AB7;
          }

        }

        padding-bottom: 0;
      }

    }

  }

  .success_block {

    .message {
      margin: 10% 30px 10%;
      color: #155724;
      background: #D4EDDA;
      border-radius: 20px;
      padding: 30px 10px;
      font-size: 14px;
      line-height: 28px;
    }

    .success_button_block {
      margin: 10% 5px;
      text-align: center;
    }

  }

  .error_block {

    .message {
      margin: 10% 30px 10%;
      color: #721C24;
      background: #F8D7DA;
      border-radius: 20px;
      padding: 30px 10px;
      font-size: 14px;
      line-height: 28px;
    }

    .success_button_block {
      margin: 10% 5px;
      text-align: center;
    }

  }

}