<ion-header no-border>

    <ion-navbar color="clear" hideBackButton="true">

        <ion-buttons left>
            <button color="primary" ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
            <button color="primary" ion-button (click)="goBack()">
                {{ 'BACK_TO_LOGIN' | translate }}
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content class="no-scroll" padding>

    <!-- спинер загрузки -->
    <div *ngIf="sections.loading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <!-- раздел с мэилом -->
    <div *ngIf="sections.email">
        <!-- Ввод кода на подтверждение -->
        <div class="email_block">

            <!-- поле с мэилом -->
            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">
                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="emailState == 1" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="emailState > 1" class="alert" name="md-alert"></ion-icon>
                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block">
                    <!-- Лейбл ввода имени -->
                    <div class="label">{{ 'EMAIL' | translate }}</div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            [(ngModel)]="email"
                            type="email"
                            text-right
                            (focus)="nameFocus()"
                            (blur)="nameValidate()"
                            placeholder="{{'password_recovery.placeholder' | translate}}">
                    </ion-input>


                    <!-- Разделительная черта -->
                    <div>
                        <hr class="signup_data_row_separator" [ngClass]="(emailState > 1) ? 'red' : '' ">
                    </div>
                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->

            <!-- пустое поле -->
            <ion-row
                    class="error_message"
                    *ngIf="emailState == 2">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_REQUIRED' | translate }}
                </ion-col>
            </ion-row>

            <!-- невалидный мэил -->
            <ion-row
                    class="error_message"
                    *ngIf="emailState == 3">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_NOT_VALID' | translate }}
                </ion-col>
            </ion-row>



        </div>

        <!-- кнопка отправки -->
        <div text-center>
            <button ion-button color="primary" round small (click)="sendPasswordResetLink()">
            <!--<button ion-button color="primary" round small (click)="sendPasswordResetLink()" [disabled]="emailState != 1">-->
                <!--{{ 'CONFIRMATION_CODE_BUTTON' | translate }}-->
                {{ 'password_recovery.send_button' | translate }}
            </button>
        </div>
    </div>

    <!-- блок ввода кода подтверждения -->
    <div *ngIf="sections.confirmation" class="mail_confirmation_data_block">

        <ion-row>

            <!-- Блок с именем пользователя -->
            <ion-col>
                <!-- Лейбл ввода имени -->
                <div class="label">

                    <div class="description">
                        {{'password_recovery.confirmation_code.sub_title' | translate}}
                        <!--confirmation code for mail:-->
                    </div>

                    <div class="email">
                        {{ email }}
                    </div>

                </div>
                <!-- Инпут имени пользователя -->
                <ion-input
                        class="input_row"
                        [(ngModel)]="emailConfirmationCode"
                        (focus)="emailConfirmationOnFocus($event)"
                        (input)='emailConfirmationOnChange()'
                        type="number"
                        text-right
                        onfocus="this.placeholder = ''"
                        onblur="this.placeholder = '12345'"
                        placeholder="12345"
                        name="emailConfirmationCode">
                </ion-input>

                <div *ngIf="emailConfirmationError.wrong" class="emailConfirmationCodeError">
                    {{'password_recovery.confirmation_code.wrong_code' | translate}}
                    <!--wrong code-->
                </div>

                <div class="addition_text">
                    {{'password_recovery.confirmation_code.comment' | translate}}
                    <!--enter the code that was sent to your email address-->
                </div>

                <!-- Разделительная черта -->
                <!--<div>-->
                <!--<hr class="confirmation_data_row_separator">-->
                <!--</div>-->
            </ion-col>
        </ion-row>

        <!-- кнопка отправки -->
        <div text-center class="button_block">
            <button ion-button color="primary" round small (click)="sendEmailConfirmation()" [disabled]="emailConfirmationCode.length < 5">
                {{'password_recovery.confirmation_code.button' | translate}}
                <!--Send Confirmation code-->
            </button>
        </div>

    </div>

    <!-- блок ввода нового логина и пароля -->
    <div *ngIf="sections.credentials" class="new_credentials">

        <div class="email">
            <!-- Лейбл ввода имени -->

            <div class="description">
                {{'password_recovery.new_password.sub_title' | translate}}
                <!--enter new password for email-->
            </div>

            <div class="email">
                {{ email }}
            </div>
        </div>


        <!-- пароль -->
        <div class="password_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">
                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="statePassword.password == 1" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="statePassword.password > 1" class="alert" name="md-alert"></ion-icon>
                    <!--<ion-icon *ngIf="state.lastName == 3" class="alert" name="md-alert"></ion-icon>-->
                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block">
                    <!-- Лейбл ввода имени -->
                    <div class="label">{{ 'PASSWORD' | translate }}</div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            [(ngModel)]="credentials.password"
                            type="password"
                            text-right
                            (focus)="passwordFocus()"
                            (blur)="passwordValidate()"
                            name="firstName">
                    </ion-input>


                    <!-- Разделительная черта -->
                    <div>
                        <hr class="signup_data_row_separator" [ngClass]="(statePassword.password > 1) ? 'red' : '' ">
                    </div>
                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->

            <!-- поле пустое -->
            <ion-row
                    class="error_message"
                    *ngIf="statePassword.password == 2">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_REQUIRED' | translate }}
                </ion-col>
            </ion-row>

            <!-- недостаточное количество символов в пароле -->
            <ion-row
                    class="error_message"
                    *ngIf="statePassword.password == 3">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_PASSWORD_NOT_MATCH' | translate }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Подтверждение пароля -->
        <div class="password_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">
                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="statePassword.confirmPassword == 1" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="statePassword.confirmPassword > 1" class="alert" name="md-alert"></ion-icon>
                    <!--<ion-icon *ngIf="state.lastName == 3" class="alert" name="md-alert"></ion-icon>-->
                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block">
                    <!-- Лейбл ввода имени -->
                    <div class="label">{{ 'CONFIRM_PASSWORD' | translate }}</div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            [(ngModel)]="credentials.confirmPassword"
                            type="password"
                            text-right
                            (focus)="passwordConfirmFocus()"
                            (blur)="passwordConfirmValidate()"
                            name="confirmPassword">
                    </ion-input>


                    <!-- Разделительная черта -->
                    <div>
                        <hr class="signup_data_row_separator" [ngClass]="(statePassword.confirmPassword > 1) ? 'red' : '' ">
                    </div>
                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->

            <!-- пустое поле -->
            <ion-row
                    class="error_message"
                    *ngIf="statePassword.confirmPassword == 2">
                <ion-col>
                    this field required
                    {{ 'REGISTRATION_FIELD_ERROR_REQUIRED' | translate }}
                </ion-col>
            </ion-row>

            <!-- несовпадение с паролем -->
            <ion-row
                    class="error_message"
                    *ngIf="statePassword.confirmPassword == 3">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_PASSWORD_NOT_ENOUGH' | translate }}
                </ion-col>
            </ion-row>

        </div>

        <!-- кнопка отправки пароля -->
        <div padding text-center>
            <!--<button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>-->
            <button ion-button round small (click)="saveNewPassword()">
            <!--<button ion-button round small (click)="saveNewPassword()" [disabled]="statePassword.confirmPassword != 1">-->
                {{'password_recovery.new_password.button' | translate}}
                <!--save new password-->
            </button>
        </div>

    </div>

    <!-- Успешная смена пароля -->
    <div *ngIf="sections.success" class="success_block">

        <div class="message" text-center>
            {{'password_recovery.success_page.text' | translate}}
            <!--The password was successfully changed, go to the login page and log in using your new password.-->
        </div>

        <div class="success_button_block" text-center>

            <button ion-button round small (click)="goBack()">
                {{'password_recovery.success_page.button' | translate}}
                <!--Go to login-->
            </button>

        </div>

    </div>

    <!-- Ошибка -->
    <div *ngIf="sections.error" class="error_block">

        <div class="message" text-center>
            {{'password_recovery.error_page.text' | translate}}
            <!--processing error, please try retrying-->
        </div>

        <div class="success_button_block" text-center>

            <button ion-button round small (click)="goToEmail()">
                {{'password_recovery.error_page.text' | translate}}
                <!--try again-->
            </button>

        </div>

    </div>

</ion-content>

