page-open-lead-organizer {

  .loading_block {
    margin-top: 50px;
  }

  .no_reminders {
    color: #BFBFBF;
    margin-top: 60px;
  }

  .no_filter_reminders {
    color: #BFBFBF;
    margin-top: 60px;
  }

  .filter_block {
    margin: 10px 15px 30px 15px;

    .filter_name {
      color: grey;
      font-weight: 600;
    }

    .sphere_filter_item {
      color: grey;
      padding-top: 10px;
      cursor: pointer;

      .selected_sphere_icon {
        color: green;
      }

    }

    .period_filter_item {
      //padding: 10px 0;
      margin: 10px 0;
    }

    .item-block {
      min-height: 0;
      //padding: 5px 0;
    }

    ion-label {
      margin: 5px 0;
    }

    ion-datetime {
      padding: 0;
    }

  }

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  .left_button {
    margin-left: 45px;
  }

  .right_button {
    margin-right: 45px;
  }

  .segment_control_block {
    font-size: 14px;
  }

  .organizer-name {

    .icon {
      font-size: 16px;
      padding-right: 5px;
    }
  }

  .organizer-row {
    cursor: pointer;
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 30px;
    padding: 10px 0 10px 0;
    border-bottom: solid #D2D2D2 1px;

    .organizer-data {
      padding-right: 20px;
      color: #3A3A3A;

      .status_pending {
        color: blue;
        font-size: 10px;
      }

      .status_overdue {
        color: red;
        font-size: 10px;
      }

      .status_done {
        color: green;
        font-size: 10px;
      }

      .comment {
        color: grey;
        font-size: 12px;
        margin-top: 5px;
      }

    }

    .status_icon_pending {
      color: blue;
    }

    .status_icon_overdue {
      color: red;
    }

    .status_icon_done {
      color: green;
    }

  }

  .date {
    color: grey;
    font-size: 14px;

    .time {
      font-size: 10px;
    }

  }

}
