page-open-lead-organizer {

  .left_button {
    margin-left: 45px;
  }

  .right_button {
    margin-right: 45px;
  }

  .segment_control_block {
    font-size: 14px;
  }

  .organizer-name{

    .icon{
      font-size: 16px;
      padding-right: 5px;
    }
  }

  .organizer-row {
    cursor: pointer;
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 30px;
    padding: 10px 0 10px 0;
    border-bottom: solid #D2D2D2 1px;

    .organizer-data {
      padding-right: 20px;
      color: #3A3A3A;

      .status_pending{
        color: blue;
        font-size: 10px;
      }

      .status_overdue{
        color: red;
        font-size: 10px;
      }

      .status_done{
        color: green;
        font-size: 10px;
      }

      .comment{
        color: grey;
        font-size: 12px;
        margin-top: 5px;
      }

    }

    .status_icon_pending{
      color: blue;
    }

    .status_icon_overdue{
      color: red;
    }

    .status_icon_done{
      color: green;
    }

  }

  .date {
    color: grey;
    font-size: 14px;

    .time {
      font-size: 10px;
    }

  }

}
