
<!-- Основное меню -->
<ion-menu id="main_menu" side="right" [content]="content" dir="ltr">

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Main menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>

            <!--<button menuClose ion-item>Salesmen</button>-->

            <button menuClose ion-item (click)="openPage(pages[3])">{{ pages[3].title }}</button>

            <button menuClose ion-item (click)="openSalesmen()">Salesmen</button>
            <button menuClose ion-item (click)="openPage(pages[0])">{{ pages[0].title }}</button>

            <button menuClose ion-item (click)="openPage(pages[4])">{{ pages[4].title }}</button>

            <button menuClose ion-item (click)="openPage(pages[2])">{{ pages[2].title }}</button>

            <button menuClose ion-item (click)="logout()">Logout</button>

            <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
                <!--{{p.title}}-->
            <!--</button>-->


        </ion-list>
    </ion-content>
</ion-menu>
<!-- конец Основное меню -->


<!-- Меню фильтра -->
<ion-menu id="filter" side="right" [content]="content" (ionClose)="filterClose()"  dir="ltr">

    <ion-header>
        <ion-toolbar color="dark">
            <ion-title>Filter</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>


        <!-- Период фильтра -->
        <div class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    Period
                </ion-col>
            </ion-row>

            <!-- Начало периода -->
            <!--<ion-row class="period_filter_from">-->
                <!--<ion-col col-3 text-right>-->
                    <!--From:-->
                <!--</ion-col>-->

                <!--<ion-col>-->
                    <!--<ion-datetime-->
                            <!--displayFormat="DD/MM/YYYY"-->
                            <!--pickerFormat="DD-MM-YYYY"-->
                            <!--[(ngModel)]="filter.period.from">-->

                    <!--</ion-datetime>-->
                <!--</ion-col>-->
            <!--</ion-row>-->

            <ion-item class="period_filter_item period_filter_from">
                <ion-label>From</ion-label>
                <ion-datetime
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="DD-MM-YYYY"
                        [(ngModel)]="filter.period.from">
                </ion-datetime>
            </ion-item>

            <!-- Конец периода -->
            <ion-item class="period_filter_item period_filter_from">
                <ion-label>To</ion-label>
                <ion-datetime
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="DD-MM-YYYY"
                        [(ngModel)]="filter.period.to">
                </ion-datetime>
            </ion-item>

            <!-- Кнопка обнуления -->
            <button small ion-button round color="danger" (click)="resetPeriod()">reset period</button>

            <!-- Конец периода -->
            <!--<ion-row class="period_filter_from">-->
                <!--<ion-col col-3 text-right>-->
                    <!--To:-->
                <!--</ion-col>-->

                <!--<ion-col>-->
                    <!--период-->
                <!--</ion-col>-->
            <!--</ion-row>-->

        </div>



        <!-- Сферы фильтра -->
        <div class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    Spheres
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" (click)="clearSphereFilter()">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="filter.sphere == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.sphere != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    All spheres
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngFor="let sphere of spheres" (click)="selectSphereFilter(sphere)">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="sphere.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!sphere.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ sphere.name }}
                </ion-col>
            </ion-row>

        </div>

        <!-- Маски фильтра -->
        <div *ngIf="filter.sphere != 0 && childPage!='deposited'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    Masks
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngIf="currentMasks.length != 0" (click)="clearMasksFilter()">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="filter.mask.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.mask.length != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    All masks
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngFor="let mask of currentMasks" (click)="selectMaskFilter(mask)">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="mask.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!mask.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ mask.name }}
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngIf="currentMasks.length == 0">
                <ion-col col-2 text-center>
                </ion-col>

                <ion-col>
                    No masks
                </ion-col>
            </ion-row>

        </div>


        <!-- Статусы открытого лида -->
        <div *ngIf="filter.sphere != 0 && openLeadStatuses.length != 0 && childPage=='open'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    Open Leads statuses
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngIf="openLeadStatuses.length != 0" (click)="clearOpenLeadStatusesFilter()">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="filter.openLeadStatus.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.openLeadStatus.length != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    All statuses
                </ion-col>
            </ion-row>


            <!--<ion-row class="sphere_filter_item" *ngIf="openLeadStatuses.length != 0" (click)="clearOpenLeadStatusesFilter()">-->
                <!--<ion-col col-2 text-center>-->

                    <!--<ion-icon *ngIf="filter.openLeadStatus.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>-->
                    <!--<ion-icon *ngIf="filter.openLeadStatus.length != 0" name="md-square-outline"></ion-icon>-->

                <!--</ion-col>-->

                <!--<ion-col>-->
                    <!--No status-->
                <!--</ion-col>-->
            <!--</ion-row>-->


            <ion-row class="sphere_filter_item" *ngFor="let status of openLeadStatuses" (click)="selectOpenLeadStatuses(status)">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="status.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!status.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ status.name }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Статусы лида -->
        <div *ngIf="childPage=='deposited'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    Lead statuses
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" (click)="clearLeadStatuses(status)">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="filter.leadStatus.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.leadStatus.length != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    All statuses
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" *ngFor="let status of leadStatuses" (click)="selectLeadStatuses(status)">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="status.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!status.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ status.name }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Источник лида -->
        <div *ngIf="childPage=='deposited'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    Purpose
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" (click)="clearLeadSource(source)">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="filter.source.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.source.length != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    All purposes
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" *ngFor="let source of leadSources" (click)="selectLeadSource(source)">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="source.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!source.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ source.name }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Остальное -->
        <div *ngIf="childPage=='obtain'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    Other
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" (click)="selectNotOpenOnly()">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="filter.notOpenOnly == 1" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.notOpenOnly == 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    Only not open Leads
                </ion-col>
            </ion-row>

        </div>



        <!--<ion-list>-->

            <!--<div *ngIf="childPage=='open'">-->
                <!--Открытые лиды-->
            <!--</div>-->

            <!--<div *ngIf="childPage=='deposited'">-->
                <!--Отданные лиды-->
            <!--</div>-->

            <!--<div *ngIf="childPage=='obtain'">-->
                <!--Отфильтрованные лиды-->
            <!--</div>-->


        <!--</ion-list>-->

    </ion-content>

    <ion-footer>
        <ion-toolbar color="dark">
            <button menuClose small (click)="filterApply()" ion-button>Apply</button>
            <button menuClose small (click)="filterReset()" ion-button color="danger">Reset</button>
        </ion-toolbar>
    </ion-footer>

</ion-menu>
<!-- конец Меню фильтра -->


<!-- Заголовок страницы меню -->
<ion-header no-border dir="ltr">

    <ion-toolbar color="primary">

        <ion-buttons right>
            <button ion-button icon-only (click)="mainMenuOpen()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

            <!--<button ion-button icon-only (click)="mainMenuOpen()">-->
                <!--<ion-icon name="menu"></ion-icon>-->
            <!--</button>-->

        <!--<ion-icon name="menu"></ion-icon>-->
        <ion-title text-right>
            LM CRM
        </ion-title>


        <ion-buttons left>
            <button ion-button icon-only (click)="testClick()">
                <ion-icon name="search"></ion-icon>
            </button>

            <button ion-button icon-only (click)="openMessages()">
                <ion-icon name="md-text">
                    <ion-badge *ngIf="notices != 0" class="notifications-badge" color="danger">{{ notices }}</ion-badge>
                </ion-icon>
            </button>

        </ion-buttons>


    </ion-toolbar>

</ion-header>
<!-- конец Заголовок страницы меню -->


<!-- Футер страницы меню -->
<ion-footer>

    <div *ngIf="!isFilterOn">
        <button no-margin ion-button full (click)="filterOpen()" color="dark">
            <ion-icon name="ios-funnel"></ion-icon>
            <span padding-left>Filter</span>
        </button>
    </div>

    <div *ngIf="isFilterOn">
        <ion-row>

            <ion-col no-padding>
                <button no-margin ion-button full (click)="filterReset()" color="danger">
                    <ion-icon class="filter_reset_icon" name="md-close"></ion-icon>
                </button>
            </ion-col>

            <ion-col col-9 no-padding>
                <button no-margin ion-button full (click)="filterOpen()" color="dark">
                    <ion-icon class="filter_icon_on" name="ios-funnel"></ion-icon>
                    <span padding-left class="filter_text_button_on">Filter</span>
                </button>
            </ion-col>

        </ion-row>


    </div>


    <!--<button no-margin ion-button full (click)="filterOpen()" color="dark">-->
        <!--<ion-icon name="ios-funnel"></ion-icon>-->
        <!--<span padding-left>Filter</span>-->
    <!--</button>-->

    <!--<ion-toolbar>-->
        <!--<ion-title>Footer</ion-title>-->
    <!--</ion-toolbar>-->

</ion-footer>
<!-- конец Футер страницы меню -->

<!-- Контент страницы -->
<ion-content #content class="no-scroll" dir="ltr">

    <!--<ion-tabs color="primary" class="withNavbar">-->
    <ion-tabs color="primary" tabsPlacement="top" tabsHighlight="true" selectedIndex="2">
        <ion-tab trimHistory [root]="deposited" [tabTitle]="depositedTitle"></ion-tab>
        <ion-tab trimHistory [root]="open" [tabTitle]="openTitle"></ion-tab>
        <ion-tab trimHistory [root]="obtain" [tabTitle]="obtainTitle"></ion-tab>
    </ion-tabs>

    <!-- Кнопка добавления нового лида -->
    <ion-fab bottom right>
        <button ion-fab (click)="addLead()"><ion-icon name="person-add"></ion-icon></button>
    </ion-fab>
    <!-- конец Кнопка добавления нового лида -->

</ion-content>
<!-- конец Контент страницы -->