
<!-- Основное меню -->
<ion-menu id="main_menu" side="right" [content]="content" dir="ltr">

    <ion-header class="main_menu_header">

        <!--<ion-toolbar color="primary">-->
            <!--&lt;!&ndash;<ion-title>Main menu</ion-title>&ndash;&gt;-->
            <!--<ion-title> {{ email }} </ion-title>-->
        <!--</ion-toolbar>-->

        <div class="user_data">

            <div class="name" text-right>
                {{ surname }} {{ name }}
            </div>

            <div class="email" text-right>
                {{ email }}
            </div>

            <div class="role" text-right>
                {{ roles.subRole | translate }} {{ roles.role | translate }}
            </div>

        </div>

    </ion-header>

    <ion-content>

        <div class="menu_block" *ngIf="roles.role == 'agent'">

            <ion-row class="menu_block_row number_of_openings" (click)="openCredits()">
                <ion-col col-2 text-center class="arrow">
                    <ion-icon *ngIf="!creditsAmountBlock" name="ios-arrow-down-outline"></ion-icon>
                    <ion-icon *ngIf="creditsAmountBlock" name="ios-arrow-up-outline"></ion-icon>
                </ion-col>
                <ion-col
                        text-right
                        class="label"
                        align-self-center
                        [innerHTML]="'user_can_open_leads' | translate:{price: highestPrice}">
                </ion-col>
            </ion-row>

            <div *ngIf="creditsAmountBlock" class="all_credits_with_masks">

                <div *ngFor="let sphere of prices" class="sphere_name" text-right>
                    <div class="name">{{ sphere.name }}</div>

                    <ion-row *ngFor="let mask of sphere.masks" class="mask_row">

                        <ion-col no-padding text-left align-self-center>
                            {{ mask.leadsCount ? mask.leadsCount : 'not active' }}
                        </ion-col>

                        <ion-col no-padding text-right align-self-center>
                            {{ mask.name }}
                        </ion-col>

                    </ion-row>

                    <ion-row *ngIf="sphere.masks.length == 0" class="mask_row">

                        <ion-col no-padding text-center align-self-center>
                            {{'main_menu_no_mask' | translate}}
                        </ion-col>

                    </ion-row>

                </div>

            </div>

        </div>


        <div class="menu_block" *ngIf="roles.role == 'agent'">

            <ion-row class="menu_block_row number_of_openings" (click)="openLeadsCount()">
                <ion-col col-2 text-center class="arrow">
                    <ion-icon *ngIf="!creditsAmountBlock" name="ios-arrow-down-outline"></ion-icon>
                    <ion-icon *ngIf="creditsAmountBlock" name="ios-arrow-up-outline"></ion-icon>
                </ion-col>
                <ion-col
                        text-right
                        class="label"
                        align-self-center
                        [innerHTML]="'user_have_leads' | translate:{amount: leadsBySphereSum}">
                </ion-col>
            </ion-row>

            <div *ngIf="leadCountBlock" class="all_credits_with_masks">

                <div *ngFor="let leads of leadsBySphere" class="leads_count_row" text-right>

                    <ion-row class="">

                        <ion-col no-padding text-left align-self-center class="count">
                            {{ leads.count }}
                        </ion-col>

                        <ion-col no-padding text-right align-self-center class="name">
                            {{ leads.name }}
                        </ion-col>

                    </ion-row>

                </div>

            </div>

        </div>


        <div class="menu_block">

            <!-- Кредиты -->
            <ion-row class="menu_block_row" *ngIf="roles.role == 'agent' && roles.subRole == 'leadbuyer'" menuClose (click)="openPage(pages[3])">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ pages[3].title | translate }}
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="ios-card"></ion-icon>
                </ion-col>
            </ion-row>


            <!-- Фильтр клиентов -->
            <ion-row class="menu_block_row" *ngIf="roles.role == 'agent'" menuClose (click)="openPage(pages[0])">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ pages[0].title | translate }}
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="md-funnel"></ion-icon>
                </ion-col>
            </ion-row>

            <!-- Органайзер -->
            <ion-row class="menu_block_row" menuClose (click)="openPage(pages[5])">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ pages[5].title | translate }}
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="md-alarm"></ion-icon>
                </ion-col>
            </ion-row>

            <!-- todo Салесман -->
            <!--<ion-row class="menu_block_row" *ngIf="roles.role == 'agent'" menuClose (click)="openSalesmen()">-->
            <!--<ion-col col-1>-->

            <!--</ion-col>-->
            <!--<ion-col text-right>-->
            <!--{{ pages[1].title | translate }}-->
            <!--</ion-col>-->
            <!--<ion-col col-2 text-center>-->
            <!--<ion-icon name="md-contacts"></ion-icon>-->
            <!--</ion-col>-->
            <!--</ion-row>-->

            <!-- Приватная группа -->
            <ion-row class="menu_block_row" *ngIf="roles.role == 'agent'" menuClose (click)="openPage(pages[4])">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ pages[4].title | translate }}
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="ios-people"></ion-icon>
                </ion-col>
            </ion-row>

            <!-- Калькулятор кредитов -->
            <ion-row class="menu_block_row" *ngIf="roles.role == 'agent'" menuClose (click)="openCalculatorPage()">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ 'pages.credit_calculator' | translate }}

                    <!--Credit calculator-->
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="ios-calculator"></ion-icon>
                </ion-col>
            </ion-row>

            <!-- Профиль -->
            <ion-row class="menu_block_row" *ngIf="roles.role == 'agent'" menuClose (click)="openPage(pages[6])">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ pages[6].title | translate }}
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="md-settings"></ion-icon>
                </ion-col>
            </ion-row>

            <!-- Статистика -->
            <ion-row class="menu_block_row" menuClose (click)="openPage(pages[2])">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ pages[2].title | translate }}
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="md-stats"></ion-icon>
                </ion-col>
            </ion-row>

            <!-- Вызов сапорта -->
            <ion-row class="menu_block_row" *ngIf="roles.role == 'agent'" menuClose (click)="openSupportPage()">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ 'pages.support' | translate }}
                    <!--Support-->
                </ion-col>
                <ion-col col-2 text-center>
                    <!--<ion-icon name="md-settings"></ion-icon>-->
                    <img width="20px" class="icon_support" src="assets/img/suport_icon.png" alt="support">
                </ion-col>
            </ion-row>

        </div>

        <!-- Кнопка выхода -->
        <div class="menu_block">

            <ion-row class="menu_block_row" menuClose (click)="logout()">
                <ion-col col-1>

                </ion-col>
                <ion-col text-right>
                    {{ 'main_menu_logout' | translate }}
                </ion-col>
                <ion-col col-2 text-center>
                    <ion-icon name="md-log-out"></ion-icon>
                </ion-col>
            </ion-row>

        </div>

        <!--<ion-list>-->

            <!--<button *ngIf="roles.role == 'agent'" menuClose ion-item (click)="openPage(pages[6])">{{ pages[6].title }}</button>-->

            <!--<button *ngIf="roles.role == 'agent'" menuClose ion-item (click)="openPage(pages[3])">{{ pages[3].title }}</button>-->

            <!--<button menuClose ion-item (click)="openPage(pages[5])">{{ pages[5].title }}</button>-->

            <!--<button *ngIf="roles.role == 'agent'" menuClose ion-item (click)="openSalesmen()">Salesmen</button>-->
            <!--<button *ngIf="roles.role == 'agent'" menuClose ion-item (click)="openPage(pages[0])">{{ pages[0].title }}</button>-->

            <!--<button *ngIf="roles.role == 'agent'" menuClose ion-item (click)="openPage(pages[4])">{{ pages[4].title }}</button>-->

            <!--<button menuClose ion-item (click)="openPage(pages[2])">{{ pages[2].title }}</button>-->

            <!--<button menuClose ion-item (click)="logout()">Logout</button>-->

            <!--&lt;!&ndash;<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">&ndash;&gt;-->
                <!--&lt;!&ndash;{{p.title}}&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->

        <!--</ion-list>-->

    </ion-content>
</ion-menu>
<!-- конец Основное меню -->


<!-- Меню фильтра -->
<ion-menu id="filter" side="right" [content]="content" (ionClose)="filterClose()"  dir="ltr">

    <ion-header>
        <ion-toolbar color="dark">
            <ion-title>{{ 'filter.title' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content dir="rtl">


        <!-- Период фильтра -->
        <div class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    {{ 'filter.period' | translate }}
                </ion-col>
            </ion-row>

            <!-- Начало периода -->
            <ion-item class="period_filter_item period_filter_from">
                <ion-label>{{ 'filter.from' | translate }}</ion-label>
                <ion-datetime
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="DD-MM-YYYY"
                        [(ngModel)]="filter.period.from">
                </ion-datetime>
            </ion-item>

            <!-- Конец периода -->
            <ion-item class="period_filter_item period_filter_from">
                <ion-label>{{ 'filter.to' | translate }}</ion-label>
                <ion-datetime
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="DD-MM-YYYY"
                        [(ngModel)]="filter.period.to">
                </ion-datetime>
            </ion-item>

            <!-- Кнопка обнуления -->
            <button small ion-button round color="danger" (click)="resetPeriod()">
                {{ 'filter.reset_period_button' | translate }}
            </button>

        </div>


        <!-- Остальное для open-->
        <div *ngIf="childPage=='open'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    {{ 'filter.other_open' | translate }}
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" (click)="selectShowArchive()">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="filter.archiveShow == 1" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.archiveShow == 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ 'filter.show_archive' | translate }}
                </ion-col>
            </ion-row>

        </div>



        <!-- Остальное для obtain-->
        <div *ngIf="childPage=='obtain'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    {{ 'filter.other_obtain' | translate }}
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" (click)="selectExposureOnly()">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="filter.exposureOnly == 1" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.exposureOnly == 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ 'filter.only_exposure' | translate }}
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" (click)="selectNotOpenOnly()">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="filter.notOpenOnly == 1" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.notOpenOnly == 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ 'filter.only_not_open_leads' | translate }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Сферы фильтра -->
        <div class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    {{ 'filter.spheres' | translate }}
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" (click)="clearSphereFilter()">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="filter.sphere == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.sphere != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ 'filter.all_spheres' | translate }}
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngFor="let sphere of spheres" (click)="selectSphereFilter(sphere)">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="sphere.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!sphere.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ sphere.name }}
                </ion-col>
            </ion-row>

        </div>

        <!-- Маски фильтра -->
        <div *ngIf="filter.sphere != 0 && childPage!='deposited'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    {{ 'filter.masks' | translate }}
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngIf="currentMasks.length != 0" (click)="clearMasksFilter()">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="filter.mask.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.mask.length != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ 'filter.all_masks' | translate }}

                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngFor="let mask of currentMasks" (click)="selectMaskFilter(mask)">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="mask.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!mask.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ mask.name }}
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngIf="currentMasks.length == 0">
                <ion-col col-2 text-center>
                </ion-col>

                <ion-col>
                    {{ 'filter.no_masks' | translate }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Статусы открытого лида -->
        <div *ngIf="filter.sphere != 0 && openLeadStatuses.length != 0 && childPage=='open'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    {{ 'filter.open_leads_statuses' | translate }}
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" *ngIf="openLeadStatuses.length != 0" (click)="clearOpenLeadStatusesFilter()">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="filter.openLeadStatus.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.openLeadStatus.length != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ 'filter.all_open_lead_statuses' | translate }}

                </ion-col>
            </ion-row>



            <ion-row class="sphere_filter_item" *ngFor="let status of openLeadStatuses" (click)="selectOpenLeadStatuses(status)">
                <ion-col col-2 text-center>

                    <ion-icon *ngIf="status.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!status.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ status.name }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Статусы лида -->
        <div *ngIf="childPage=='deposited'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    {{ 'filter.lead_statuses' | translate }}
                </ion-col>
            </ion-row>


            <ion-row class="sphere_filter_item" (click)="clearLeadStatuses(status)">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="filter.leadStatus.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.leadStatus.length != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ 'filter.all_lead_statuses' | translate }}
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" *ngFor="let status of leadStatuses" (click)="selectLeadStatuses(status)">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="status.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!status.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ status.name | translate }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Источник лида -->
        <div *ngIf="childPage=='deposited'" class="filter_block">

            <ion-row class="filter_name">
                <ion-col>
                    {{ 'filter.purpose' | translate }}
                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" (click)="clearLeadSource(source)">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="filter.source.length == 0" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="filter.source.length != 0" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ 'filter.all_purposes' | translate }}

                </ion-col>
            </ion-row>

            <ion-row class="sphere_filter_item" *ngFor="let source of leadSources" (click)="selectLeadSource(source)">
                <ion-col col-2 text-center>


                    <ion-icon *ngIf="source.status" name="md-checkbox-outline" class="selected_sphere_icon"></ion-icon>
                    <ion-icon *ngIf="!source.status" name="md-square-outline"></ion-icon>

                </ion-col>

                <ion-col>
                    {{ source.name | translate }}
                </ion-col>
            </ion-row>

        </div>

    </ion-content>

    <ion-footer>
        <ion-toolbar color="dark" text-right>
            <button menuClose (click)="filterApply()" ion-button>{{ 'filter.apply' | translate }}</button>
            <button menuClose (click)="filterReset()" ion-button color="danger">{{ 'filter.reset' | translate }}</button>
        </ion-toolbar>
    </ion-footer>

</ion-menu>
<!-- конец Меню фильтра -->


<!-- Заголовок страницы меню -->
<ion-header no-border dir="ltr">

    <ion-toolbar color="primary">

        <ion-buttons right>

            <button ion-button icon-only class="head_button" (click)="openSearchPage()">
                <ion-icon name="search"></ion-icon>
            </button>

            <button ion-button icon-only class="head_button" (click)="openMessages()">
                <ion-icon name="md-text">
                    <ion-badge *ngIf="notices != 0" class="notifications-badge" color="danger">{{ notices }}</ion-badge>
                </ion-icon>
            </button>



            <button ion-button icon-only (click)="mainMenuOpen()">
                <ion-icon name="menu"></ion-icon>
            </button>

        </ion-buttons>

            <!--<button ion-button icon-only (click)="mainMenuOpen()">-->
                <!--<ion-icon name="menu"></ion-icon>-->
            <!--</button>-->

        <!--<ion-icon name="menu"></ion-icon>-->
        <!--<ion-title text-right>-->
            <!--LM CRM-->
            <!--CONTACT-->



            <div class="logo_image">
                <img src="assets/img/logo3.png" alt="logo"> <div *ngIf="roles.role == 'agent'" class="header_wallet_data">&#x20aa; {{ wallet }}</div>

            </div>


        <!--</ion-title>-->


        <ion-buttons left>

            <!-- todo перенести в контент-->
            <!--<button ion-button icon-only (click)="popoverMenu($event)">-->
                <!--<ion-icon name="md-more"></ion-icon>-->
            <!--</button>-->




            <!--<button *ngIf="roles.role == 'agent'" ion-button icon-only (click)="openSupportPage()">-->
                <!--<img width="20px" class="img_support" src="assets/img/suport_icon.png" alt="support">-->
            <!--</button>-->

            <!--<button ion-button icon-only (click)="openCalculatorPage()">-->
                <!--<ion-icon name="ios-calculator"></ion-icon>-->
            <!--</button>-->

            <!--<button ion-button icon-only (click)="openSearchPage()">-->
                <!--<ion-icon name="search"></ion-icon>-->
            <!--</button>-->

            <!--<button ion-button icon-only (click)="openMessages()">-->
                <!--<ion-icon name="md-text">-->
                    <!--<ion-badge *ngIf="notices != 0" class="notifications-badge" color="danger">{{ notices }}</ion-badge>-->
                <!--</ion-icon>-->
            <!--</button>-->

        </ion-buttons>


    </ion-toolbar>



</ion-header>
<!-- конец Заголовок страницы меню -->


<!-- Футер страницы меню -->
<ion-footer>

    <div *ngIf="!isFilterOn">
        <button no-margin ion-button full (click)="filterOpen()" color="dark">
            <ion-icon name="ios-funnel"></ion-icon>
            <span padding-left>{{ 'filter_footer_title' | translate }}</span>
        </button>
    </div>

    <div *ngIf="isFilterOn">
        <ion-row>

            <ion-col no-padding>
                <button no-margin ion-button full (click)="filterReset()" color="danger">
                    <ion-icon class="filter_reset_icon" name="md-close"></ion-icon>
                </button>
            </ion-col>

            <ion-col col-9 no-padding>
                <button no-margin ion-button full (click)="filterOpen()" color="dark">
                    <ion-icon class="filter_icon_on" name="ios-funnel"></ion-icon>
                    <span padding-left class="filter_text_button_on">{{ 'filter_footer_title' | translate }}</span>
                </button>
            </ion-col>

        </ion-row>

    </div>

</ion-footer>
<!-- конец Футер страницы меню -->

<!-- Контент страницы -->
<ion-content #content class="no-scroll" dir="ltr">

    <!--<ion-tabs color="primary" class="withNavbar">-->
    <ion-tabs #mainTabs color="primary" tabsPlacement="top" tabsHighlight="true" selectedIndex="2">
        <ion-tab trimHistory [root]="deposited" [tabTitle]="depositedTitle | translate"></ion-tab>
        <ion-tab trimHistory [root]="open" [tabTitle]="openTitle | translate"></ion-tab>
        <ion-tab trimHistory [root]="obtain" [tabTitle]="obtainTitle | translate"></ion-tab>
    </ion-tabs>

    <!-- Кнопка добавления нового лида -->
    <ion-fab bottom right>
        <button ion-fab (click)="addLead()"><ion-icon name="person-add"></ion-icon></button>
    </ion-fab>
    <!-- конец Кнопка добавления нового лида -->

</ion-content>
<!-- конец Контент страницы -->