page-main {

  .filter_reset_icon {
    color: white;
  }

  .filter_icon_on {
    color: #337AB7;
  }

  .filter_text_button_on {
    //color: #337AB7;
  }

  ion-content.no-scroll {

    > .scroll-content {
      overflow-y: hidden;
    }

  }

  ion-header {

    button {
      box-shadow: none !important;
    }

    ion-navbar {

      .company_name {
        //display: inline;
        color: white;
        font-size: 20px;
        font-weight: 600;
      }

    }

  }

  .notifications-badge {
    background-color: #F53D3D;
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 11px;
    padding: 3px 6px 3px 7px;
    border-radius: 100%;
  }

  .filter_block {
    margin: 10px 0 30px 15px;

    .filter_name {
      color: grey;
      font-weight: 600;
    }

    .sphere_filter_item {
      color: grey;
      padding-top: 10px;

      .selected_sphere_icon {
        color: green;
      }

    }

    .period_filter_item {
      //padding: 10px 0;
      margin: 10px 0;
    }

    .item-block {
      min-height: 0;
      //padding: 5px 0;
    }

    ion-label {
      margin: 5px 0;
    }

    ion-datetime {
      padding: 0;
    }

  }

}
