profile-page {

  .content {
    background: #F8F8F8;
  }

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  .payment_title {
    font-weight: 500;
    color: #5288B5;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .data_container {

    .data_block {

      background: #FFFFFF;
      padding: 20px 10px 0;
      margin: 0 0 20px 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      .data_item {
        //margin: 0 5px 10px;

        padding: 20px 5px 5px;
        //border-top: solid #D2D2D2 1px;

        border-bottom: solid #D2D2D2 1px;

        &:first-child {
          padding-top: 0;
          //border-top: none;
        }

        .label {
          text-align: right;
          color: grey;
          font-size: 10px;
          margin-bottom: 5px;
        }

        .data {
          color: #337AB7;
          font-size: 12px;
          text-align: right;

          .phone_block {

            .phone_item {

              margin-bottom: 15px;

              &:last-child {
                margin-bottom: 5px;
              }

              .phone {

                .main {
                  color: darkred;
                  font-size: 10px;
                }

              }

              .comment {

              }

            }

          }

          .region {

            .name {

            }

            .path {

              .path_item {
                color: grey;
                margin: 0 1px;

                &:first-child {
                  margin-right: 0;
                }

              }

            }

          }

          .specialization_item {
            margin: 0 2px;
          }

        }

        .edit {
          margin: 10px 0 0;
        }
      }
    }
  }

  .personal_data_row {

    margin-bottom: 20px;

    .validation_block {

      .success {
        color: green;
      }

      .alert {
        color: red;
      }

      padding-bottom: 0;
    }

    .data_block {

      .label {
        text-align: right;
        color: grey;
        font-size: 12px;
      }

      .input_row {

        .text-input {
          margin-top: 7px;
          margin-bottom: 8px;
          color: #337AB7;
        }

      }

      padding-bottom: 0;
    }

  }

  .personal_data_row_separator {
    margin: 0;
    color: lightgray;
    background-color: lightgray;

    &.personal_data_row_separator.red {
      color: red;
      background-color: red;
    }
  }

  .error_message {
    color: red;
    font-size: 11px;
    text-align: right;
  }

}