<ion-header>

    <ion-navbar color="primary">
        <!--<ion-title>Customers</ion-title>-->

        <ion-buttons left text-center>
            <button ion-button (click)="goToMainPage()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{ 'profile.title' | translate }}</ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- спинер загрузки -->
    <div *ngIf="sections.loading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <!-- Обновление страницы -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- конец Обновление страницы -->


    <div class="data_container" *ngIf="sections.data">

        <!-- Блок основных данных по агенту -->
        <div class="data_block space_bottom">

            <div class="data_item">
                <div class="label">
                    {{ 'profile.first_name' | translate }}
                </div>

                <div class="data block">
                    {{ profileData.main.first_name }}
                </div>
            </div>

            <div class="data_item">
                <div class="label">
                    {{ 'profile.last_name' | translate }}
                </div>

                <div class="data block">
                    {{ profileData.main.last_name }}
                </div>
            </div>

            <div class="data_item">
                <div class="label">
                    {{ 'profile.company' | translate }}
                </div>

                <div class="data block">
                    {{ profileData.main.company }}
                </div>
            </div>

            <div class="data_item">
                <div class="label">
                    {{ 'profile.passport' | translate }}
                    <!--Passport-->
                </div>

                <div class="data block">
                    {{ profileData.main.passport }}
                </div>
            </div>

            <!--<div class="edit">-->
                <!--<button ion-button clear small color="default" (click)="editMainData()">Edit</button>-->
            <!--</div>-->

        </div>

        <!-- Специализации агента -->
        <div class="data_block" *ngIf="profileData.specializations && profileData.specializations.length > 0">

            <div class="data_item">
                <div class="label">
                    {{ 'profile.specializations' | translate }}
                    <!--Specializations-->
                </div>

                <div class="data">
                    <!--{{ profileData.specializations }}-->

                    <span *ngFor="let specialization of profileData.specializations; let i = index"
                          class="specialization_item">
                        {{ specialization.name }}<span *ngIf="i != (profileData.specializations.length - 1)">,</span>
                    </span>

                </div>
            </div>

            <div class="edit">
                <button ion-button clear small color="default" (click)="editSpecializations()">
                    {{ 'profile.edit' | translate }}
                    <!--Edit-->
                </button>
            </div>

        </div>

        <!-- Режим работы лидбайера -->
        <div class="data_block" *ngIf="profileData.roles.sub === 'leadbayer'">

            <div class="data_item">
                <div class="label">
                    {{ 'profile.operating_mode' | translate }}
                    <!--Operating mode-->
                </div>

                <div class="data">
                    {{ profileData.modes_leadbuyer }}
                </div>
            </div>

            <div class="edit">
                <button ion-button clear small color="default" (click)="editLeadBuyerOperatingMode()">
                    {{ 'profile.edit' | translate }}
                    <!--Edit-->
                </button>
            </div>

        </div>

        <!-- Коротко о самом агенте -->
        <div class="data_block">

            <div class="data_item">
                <div class="label">
                    {{ 'profile.about' | translate }}
                </div>

                <div class="data">
                    {{ profileData.main.about }}
                    <span *ngIf="profileData.main.about.trim().length <= 0"> &nbsp; </span>
                </div>
            </div>

            <div class="edit">
                <button ion-button clear small color="default" (click)="editAbout()">
                    {{ 'profile.edit' | translate }}
                    <!--Edit-->
                </button>
            </div>

        </div>

        <!-- Переключатели -->
        <div class="data_block">

            <div class="data_item">

                <div class="data">

                    <ion-row>
                        <ion-col col-2 align-self-center>
                            <ion-toggle
                                    [(ngModel)]="profileData.allow_access_to_profile"
                                    (ionChange)="settingsToggleChange('allow_access_to_profile')">
                            </ion-toggle>
                        </ion-col>
                        <ion-col dir="rtl" align-self-center (click)="toggleLabelClick('allow_access_to_profile')">
                            {{ 'profile.switchers.allow_access_to_profile' | translate }}
                            <!--Allow the administration to access my profile-->
                        </ion-col>
                    </ion-row>

                </div>
            </div>

            <div class="data_item">

                <div class="data">

                    <ion-row>
                        <ion-col col-2 align-self-center>
                            <ion-toggle
                                    [(ngModel)]="profileData.settings.auction_lead_notification_by_email"
                                    (ionChange)="settingsToggleChange('auction_lead_notification_by_email')">
                            </ion-toggle>
                        </ion-col>
                        <ion-col dir="rtl" align-self-center (click)="toggleLabelClick('auction_lead_notification_by_email')">
                            {{ 'profile.switchers.auction_lead_notification_by_email' | translate }}
                            <!--Receive notification of new leads by email-->
                        </ion-col>
                    </ion-row>

                </div>
            </div>

        </div>

        <!-- Смена пароля -->
        <div class="data_block">

            <div class="data_item">
                <div class="label">
                    {{ 'profile.password' | translate }}
                </div>

                <div class="data">
                    <div class="edit">
                        <button ion-button small color="danger" (click)="editPassword()">
                            {{ 'profile.change_password_button' | translate }}
                            <!--Change password-->
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Телефоны пользователя -->
        <div class="data_block">

            <div class="data_item">
                <div class="label">
                    {{ 'profile.phones' | translate }}
                    <!--Phones-->
                </div>

                <div class="data">
                    <!--{{ profileData.main.first_name }}-->

                    <div class="phone_block">

                        <div class="phone_item" *ngFor="let phone of profileData.phones; let i = index">

                            <div class="phone" dir="rtl">
                                <span *ngIf="phone.main" dir="rtl" class="main">
                                    {{ 'profile.main_phone' | translate }}
                                    <!--main-->
                                </span>
                                {{ phone.phone }}
                            </div>
                            <div class="comment" dir="rtl" *ngIf="phone.comment.trim().length > 0">
                                {{ phone.comment }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="edit">
                <button ion-button clear small color="default" (click)="editPhones()">
                    {{ 'profile.edit' | translate }}
                    <!--Edit-->
                </button>
            </div>

        </div>

        <!-- Банковские данные -->
        <div class="data_block" *ngIf="profileData.roles.sub === 'leadbayer'">

            <div class="data_item">
                <div class="label">
                    {{ 'profile.payment_info.company' | translate }}
                </div>

                <div class="data">
                    {{ profileData.payment.company ? profileData.payment.company : '&nbsp;' }}
                </div>
            </div>

            <div class="data_item">
                <div class="label">
                    {{ 'profile.payment_info.bank' | translate }}
                </div>

                <div class="data">
                    {{ profileData.payment.bank ? profileData.payment.bank : '&nbsp;' }}
                </div>
            </div>

            <div class="data_item">
                <div class="label">
                    {{ 'profile.payment_info.branch_number' | translate }}
                </div>

                <div class="data">
                    {{ profileData.payment.branch_number ? profileData.payment.branch_number : '&nbsp;' }}
                </div>
            </div>

            <div class="data_item">
                <div class="label">
                    {{ 'profile.payment_info.invoice_number' | translate }}
                </div>

                <div class="data">
                    {{ profileData.payment.invoice_number ? profileData.payment.invoice_number : '&nbsp;' }}
                </div>
            </div>

            <div class="edit">
                <button ion-button clear small color="default" (click)="editBankData()">
                    {{ 'profile.edit' | translate }}
                    <!--Edit-->
                </button>
            </div>

        </div>

        <!-- Регион -->
        <div class="data_block">

            <div class="data_item">
                <div class="label">
                    {{ 'profile.region' | translate }}
                    <!--Region-->
                </div>

                <div class="data">

                    <div class="region">
                        <span class="name">
                            {{ profileData.region.region.name }}
                        </span>

                        <span dir="rtl" *ngIf="profileData.region.path.length > 0" class="path">

                            <span *ngFor="let region of profileData.region.path" class="path_item">
                                 {{ region.name }},
                            </span>

                        </span>
                    </div>

                </div>
            </div>

            <div class="data_item">
                <div class="label">
                    {{ 'profile.street' | translate }}
                    <!--Street-->
                </div>

                <div class="data block">
                    {{ profileData.street && profileData.street.length > 0 ? profileData.street : ' &nbsp; ' }}
                </div>
            </div>

            <div class="edit">
                <button ion-button clear small color="default" (click)="editRegion()">
                    {{ 'profile.edit' | translate }}
                    <!--Edit-->
                </button>
            </div>

        </div>

    </div>

    <!-- блок с ошибкой -->
    <div *ngIf="sections.error" class="error_area">

        <div class="error_text">
            {{ 'incoming_detail.open_lead_area.incomprehensibleError' | translate }}
        </div>

        <div class="error_button">
            <button ion-button large color="light" (click)="refresh()">
                <ion-icon name="md-refresh"></ion-icon>
            </button>
        </div>

    </div>


    <!-- Поля с данными пользователями -->
    <!--<div>-->

    <!--&lt;!&ndash; Поле с именем пользователя &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.first_name' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="text"-->
    <!--[(ngModel)]="profileData.first_name"-->
    <!--text-right-->
    <!--name="first_name">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--{{ 'profile.first_name_required' | translate }}-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поле с именем пользователя &ndash;&gt;-->


    <!--&lt;!&ndash; Поле с фамилией пользователя &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.last_name' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="text"-->
    <!--[(ngModel)]="profileData.last_name"-->
    <!--text-right-->
    <!--name="last_name">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--{{ 'profile.last_name_required' | translate }}-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поле с фамилией пользователя &ndash;&gt;-->


    <!--&lt;!&ndash; Поле с компанией пользователя &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.company' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="text"-->
    <!--[(ngModel)]="profileData.company"-->
    <!--text-right-->
    <!--name="company">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--{{ 'profile.company_required' | translate }}-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поле с компанией пользователя &ndash;&gt;-->


    <!--&lt;!&ndash; Поле с комментарием &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.about' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-textarea-->
    <!--class="input_row"-->
    <!--text-right-->
    <!--[(ngModel)]="profileData.comment"-->
    <!--rows="4"-->
    <!--name="comment">-->
    <!--</ion-textarea>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--{{ 'profile.about_required' | translate }}-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поле с комментарием &ndash;&gt;-->


    <!--&lt;!&ndash; Поле с паролем &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.password' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="password"-->
    <!--[(ngModel)]="profileData.password"-->
    <!--text-right-->
    <!--name="password">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--{{ 'profile.password_required' | translate }}-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поле с паролем &ndash;&gt;-->


    <!--&lt;!&ndash; Поле с подтверждение пароля &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.password_confirmation' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="password"-->
    <!--[(ngModel)]="profileData.password_confirmation"-->
    <!--text-right-->
    <!--name="password_confirmation">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--{{ 'profile.password_confirmation_required' | translate }}-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поле с подтверждение пароля &ndash;&gt;-->

    <!--<div text-right class="payment_title">-->
    <!--{{ 'profile.payment_information' | translate }}-->
    <!--</div>-->


    <!--&lt;!&ndash; Поле с компанией пользователя по оплате &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.payment_info.company' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="text"-->
    <!--[(ngModel)]="profileData.payment_company"-->
    <!--text-right-->
    <!--name="payment_company">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--&lt;!&ndash;this field required&ndash;&gt;-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поле с компанией пользователя по оплате &ndash;&gt;-->


    <!--&lt;!&ndash; Поле банк &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.payment_info.bank' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="text"-->
    <!--[(ngModel)]="profileData.bank"-->
    <!--text-right-->
    <!--name="bank">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--&lt;!&ndash;this field required&ndash;&gt;-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поля банк &ndash;&gt;-->


    <!--&lt;!&ndash; Поле Branch_number &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.payment_info.branch_number' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="text"-->
    <!--[(ngModel)]="profileData.branch_number"-->
    <!--text-right-->
    <!--name="branch_number">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--&lt;!&ndash;this field required&ndash;&gt;-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поля Branch_number &ndash;&gt;-->


    <!--&lt;!&ndash; Поле Invoice_number &ndash;&gt;-->
    <!--<div class="personal_data_row">-->

    <!--<ion-row>-->

    <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
    <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
    <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>&ndash;&gt;-->
    <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
    <!--&lt;!&ndash;<ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>&ndash;&gt;-->
    <!--</ion-col>-->

    <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
    <!--<ion-col class="data_block">-->
    <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
    <!--<div class="label">-->
    <!--{{ 'profile.payment_info.invoice_number' | translate }}-->
    <!--</div>-->
    <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
    <!--<ion-input-->
    <!--class="input_row"-->
    <!--type="text"-->
    <!--[(ngModel)]="profileData.invoice_number"-->
    <!--text-right-->
    <!--name="invoice_number">-->
    <!--</ion-input>-->

    <!--&lt;!&ndash;(blur)="firstNameValidate()"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)]="personalData.firstName"&ndash;&gt;-->

    <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
    <!--<div>-->
    <!--&lt;!&ndash;<hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">&ndash;&gt;-->
    <!--<hr class="personal_data_row_separator">-->
    <!--</div>-->

    <!--</ion-col>-->
    <!--</ion-row>-->


    <!--&lt;!&ndash; Сообщение с ошибкой &ndash;&gt;-->
    <!--<ion-row-->
    <!--class="error_message"-->
    <!--*ngIf="false">-->
    <!--<ion-col>-->
    <!--&lt;!&ndash;this field required&ndash;&gt;-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <!--</div>-->
    <!--&lt;!&ndash; Конец Поля Invoice_number &ndash;&gt;-->


    <!--</div>-->


</ion-content>

<!--<ion-footer>-->
<!--<button ion-button small full no-margin (click)="saveData()">-->
<!--{{ 'profile.save' | translate }}-->
<!--</button>-->
<!--</ion-footer>-->