<!--
  Generated template for the Salesmen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">

        <ion-buttons left text-center class="left_button">
            <button ion-button (click)="goToMainPage()">
                close
            </button>
        </ion-buttons>
        <!--<ion-title>ObtainDetail</ion-title>-->

        <ion-buttons right text-center class="right_button">
            <button ion-button (click)="createSalesmen()">
                new salesmen
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>



<!-- Кнопка добавления нового лида -->
<!--<ion-fab bottom right>-->
    <!--<button ion-fab (click)="createSalesmen()"><ion-icon name="md-add"></ion-icon></button>-->
<!--</ion-fab>-->
<!-- конец Кнопка добавления нового лида -->



<ion-content>

    <ion-card *ngFor="let item of items" >

        <ion-row>

            <ion-col col-1>
                <ion-icon *ngIf="item.banned_at" name="md-lock" class="salesmen_banned"></ion-icon>
            </ion-col>

            <ion-col text-right class="salesmen_info">
                <div class="salesmen_name">{{ item.name }} {{ item.surname }}</div>
                <div class="salesmen_email">{{ item.email }}</div>
            </ion-col>

            <ion-col col-3 text-center align-self-center class="salesmen_side_color">

                <div class="salesman_menu_button" (click)="action(item)">
                    <ion-icon name="menu"></ion-icon>
                </div>

            </ion-col>


        </ion-row>


        <ion-row class="row_separate">

            <ion-col text-right no-padding class="additional_label">
                <!--leads-->
            </ion-col>

            <ion-col col-3 text-center no-padding class="salesmen_side_color">

            </ion-col>

        </ion-row>

        <ion-row class="salesmen_card_additional_row">


            <ion-col text-center no-padding class="salesmen_card_additional_container">

                <ion-row>
                    <ion-col text-center no-padding class="salesmen_card_additional_col">
                        <div class="additional_value">3</div>
                        <div class="additional_text">seen</div>
                    </ion-col>

                    <ion-col text-center no-padding class="salesmen_card_additional_col">
                        <div class="additional_value">3</div>
                        <div class="additional_text">open</div>
                    </ion-col>

                    <ion-col text-center no-padding class="salesmen_card_additional_col">
                        <div class="additional_value">3</div>
                        <div class="additional_text">deposited</div>
                    </ion-col>
                </ion-row>

            </ion-col>


            <!--<ion-col text-center>-->
                <!--<div class="additional_value">3</div>-->
                <!--<div class="additional_text">on auction</div>-->
            <!--</ion-col>-->

            <!--<ion-col text-center>-->
                <!--<div class="additional_value">3</div>-->
                <!--<div class="additional_text">open</div>-->
            <!--</ion-col>-->

            <!--<ion-col text-center>-->
                <!--<div class="additional_value">3</div>-->
                <!--<div class="additional_text">deposited</div>-->
            <!--</ion-col>-->

            <ion-col col-3 class="salesmen_side_color side_additional_col" (click)="loginToSalesmen(item)">
                <div class="side_additional_button">
                    <!--<ion-icon name="md-log-in"></ion-icon>-->
                    leads
                </div>
            </ion-col>

        </ion-row>

        <ion-row>


            <ion-col text-right>
            </ion-col>

            <ion-col col-3 text-center class="salesmen_side_color">

            </ion-col>

        </ion-row>

        <ion-row>


            <ion-col text-right no-padding class="additional_label">
                <!--masks-->
            </ion-col>

            <ion-col col-3 text-center no-padding class="salesmen_side_color">

            </ion-col>

        </ion-row>

        <ion-row class="salesmen_card_additional_row">

            <ion-col text-center no-padding class="salesmen_card_additional_container">

                <ion-row>
                    <ion-col text-center no-padding class="salesmen_card_additional_col">
                        <div class="additional_value active_color">{{ item.masksStatus.active }}</div>
                        <div class="additional_text">active</div>
                    </ion-col>

                    <ion-col text-center no-padding class="salesmen_card_additional_col">
                        <div class="additional_value pending_color">{{ item.masksStatus.pending }}</div>
                        <div class="additional_text">pending</div>
                    </ion-col>

                    <ion-col text-center no-padding class="salesmen_card_additional_col">
                        <div class="additional_value off_color">{{ item.masksStatus.off }}</div>
                        <div class="additional_text">off</div>
                    </ion-col>
                </ion-row>

            </ion-col>

            <!--<ion-col text-center>-->
                <!--<div class="additional_value">3</div>-->
                <!--<div class="additional_text">active</div>-->
            <!--</ion-col>-->

            <!--<ion-col text-center>-->
                <!--<div class="additional_value">3</div>-->
                <!--<div class="additional_text">pending</div>-->
            <!--</ion-col>-->

            <!--<ion-col text-center>-->
                <!--<div class="additional_value">3</div>-->
                <!--<div class="additional_text">off</div>-->
            <!--</ion-col>-->

            <ion-col col-3 class="salesmen_side_color side_additional_col" (click)="goToCustomersPage(item)">

                <div class="side_additional_button">
                    masks
                    <!--<ion-icon name="md-list"></ion-icon>-->
                </div>

            </ion-col>

        </ion-row>

        <ion-row>


            <ion-col text-right>
            </ion-col>

            <ion-col col-3 text-center class="salesmen_side_color">

            </ion-col>

        </ion-row>

        <!-- leads at auction -->
        <!-- open leads -->
        <!-- период за который показывать -->

        <!--<ion-row>-->

            <!--<ion-col text-center>-->
                <!--masks active: <span>4</span>-->
            <!--</ion-col>-->

            <!--<ion-col text-center>-->
                <!--masks pending: <span>6</span>-->
            <!--</ion-col>-->

            <!--<ion-col text-center>-->
                <!--masks off: <span>3</span>-->
            <!--</ion-col>-->

        <!--</ion-row>-->

        <!--<ion-row>-->

            <!--<ion-col text-center no-padding>-->
                <!--<button ion-button small clear>-->
                    <!--Login-->
                <!--</button>-->
            <!--</ion-col>-->

            <!--<ion-col text-center no-padding>-->
                <!--<button ion-button small clear>-->
                    <!--Masks-->
                <!--</button>-->
            <!--</ion-col>-->

            <!--<ion-col text-center no-padding>-->
                <!--<button ion-button small clear>-->
                    <!--Statistic-->
                <!--</button>-->
            <!--</ion-col>-->


            <!--<ion-col text-center no-padding>-->
                <!--<button ion-button small clear>-->
                    <!--edit-->
                <!--</button>-->
            <!--</ion-col>-->

        <!--</ion-row>-->


        <!--<ion-row>-->
            <!--<ion-col>-->
                <!--<ion-fab bottom right >-->
                    <!--<button ion-fab mini>Button</button>-->
                    <!--<ion-fab-list side="left">-->
                        <!--<button ion-fab>Facebook</button>-->
                        <!--<button ion-fab>Twitter</button>-->
                        <!--<button ion-fab>Youtube</button>-->
                    <!--</ion-fab-list>-->
                <!--</ion-fab>-->
            <!--</ion-col>-->
        <!--</ion-row>-->


    </ion-card>


</ion-content>


<div class="permission_alert" *ngIf="permission_alert" (click)="permissionAlertClose()">

</div>

<div class="permission_alert_body" *ngIf="permission_alert">

    <ion-row>
        <ion-col text-center class="permission_alert_salesmen_data">
            {{ permission_item.name }} {{ permission_item.surname }}
        </ion-col>
    </ion-row>

    <ion-row class="permission_alert_row">

        <ion-col col-2>
            <ion-toggle [(ngModel)]="permission_item.permissions.create_leads" color="secondary"></ion-toggle>
        </ion-col>

        <ion-col text-right (click)="changePermissionItem('create_leads')">
            Create leads
        </ion-col>

    </ion-row>

    <ion-row class="permission_alert_row">

        <ion-col col-2>
            <ion-toggle [(ngModel)]="permission_item.permissions.opening_leads" color="secondary"></ion-toggle>
        </ion-col>

        <ion-col text-right (click)="changePermissionItem('opening_leads')">
            Opening leads
        </ion-col>

    </ion-row>

    <ion-row class="permission_alert_row">

        <ion-col col-2>
            <ion-toggle [(ngModel)]="permission_item.permissions.working_leads" color="secondary"></ion-toggle>
        </ion-col>

        <ion-col text-right (click)="changePermissionItem('working_leads')">
            Working with open leads
        </ion-col>

    </ion-row>

    <ion-row class="permission_alert_footer">

        <ion-col text-left>
            <button ion-button color="primary" clear (click)="permissionAlertClose()">Cancel</button>
        </ion-col>

        <ion-col text-right>
            <button ion-button color="primary" clear (click)="applyPermissionItem()">Apply</button>
        </ion-col>

    </ion-row>

</div>