profile_edit_specializations_page {

  .content {
    background: #F8F8F8;
  }

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  .payment_title {
    font-weight: 500;
    color: #5288B5;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .data_container {

  }

}