<!--
  Generated template for the ObtainDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">


        <ion-buttons left text-center>
            <button ion-button (click)="close()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Incoming Lead</ion-title>

        <!--<ion-buttons left text-center class="left_button">-->
            <!--<button ion-button (click)="close()">-->
                <!--close-->
            <!--</button>-->
        <!--</ion-buttons>-->
        <!--<ion-title>ObtainDetail</ion-title>-->

        <!--<ion-buttons right text-center class="right_button">-->
        <!--<ion-buttons right text-center>-->
            <!--<button ion-button round (click)="confirmOpen(item)">-->
                <!--open lead data-->
            <!--</button>-->
        <!--</ion-buttons>-->

    </ion-navbar>

    <!--<div text-center class="open_button">-->
        <!--<button no-margin ion-button round color="secondary" (click)="confirmOpen(item)">-->
            <!--<ion-icon class="icon_param" name="md-eye"></ion-icon> &nbsp; open lead data-->
        <!--</button>-->
    <!--</div>-->

</ion-header>


<ion-content padding>

    <!--<h2>Obtain Modal</h2>-->

    <!--<div>{{ item.name }}</div>-->

    <div class="data_block_header">
        <ion-row align-items-center>
            <ion-col text-left class="opened"><ion-icon ios="ios-eye" md="md-eye"></ion-icon> {{ item.opened }}</ion-col>
            <ion-col text-right class="name">{{ item.name }}</ion-col>
        </ion-row>
    </div>


    <div class="data_block pressure" (click)="confirmOpen(item)">

        <ion-row align-items-center class="data_block_item">
            <ion-col col-1 text-left><ion-icon class="color_green icon_param" name="md-eye"></ion-icon></ion-col>
            <ion-col text-right>
                <div class="label">phone</div>
                <div class="value">{{ item.phone }}</div>
            </ion-col>
            <ion-col col-1 text-right><ion-icon class="color_green icon_param" name="ios-call"></ion-icon></ion-col>
        </ion-row>

    </div>

    <div class="data_block">

        <ion-row align-items-center class="data_block_item" (click)="dateInfo()">
            <ion-col col-1 text-left><ion-icon class="help_icon" name="md-help-circle"></ion-icon></ion-col>
            <ion-col text-right>
                <div class="label">added to system</div>
                <div class="value">
                    <span class="date_time">{{ item.system_added.time }}</span>
                    <span class="date_date">{{ item.system_added.date }}</span>
                </div>
            </ion-col>
            <ion-col col-1 text-right><ion-icon class="icon_param calendar_color" name="md-calendar"></ion-icon></ion-col>
        </ion-row>

        <ion-row align-items-center class="data_block_item" (click)="dateInfo()">
            <ion-col col-1 text-left><ion-icon class="help_icon" name="md-help-circle"></ion-icon></ion-col>
            <ion-col text-right>
                <div class="label">added to you auction</div>
                <div class="value">
                    <span class="date_time">{{ item.auction_added.time }}</span>
                    <span class="date_date">{{ item.auction_added.date }}</span>
                </div>
            </ion-col>
            <ion-col col-1 text-right><ion-icon class="icon_param calendar_color" name="md-calendar"></ion-icon></ion-col>
        </ion-row>

    </div>


    <div class="data_block">

        <ion-row align-items-center *ngFor="let filter of item.filter" class="data_block_item">
            <!--<ion-col col-1 text-left><ion-icon ios="ios-eye" md="md-eye"></ion-icon></ion-col>-->
            <ion-col text-right>
                <div class="label">{{ filter.label }}</div>
                <div class="value">{{ filter.value ? filter.value : '&nbsp;' }}</div>
            </ion-col>
            <ion-col col-1 text-right><ion-icon class="icon_param doc_color" name="ios-paper"></ion-icon></ion-col>
        </ion-row>

        <ion-row align-items-center *ngFor="let additional of item.additional" class="data_block_item">
            <!--<ion-col col-1 text-left><ion-icon ios="ios-eye" md="md-eye"></ion-icon></ion-col>-->
            <ion-col text-right>
                <div class="label">{{ additional.label }}</div>
                <div class="value">{{ additional.value ? additional.value : '&nbsp;' }}</div>
            </ion-col>
            <ion-col col-1 text-right><ion-icon class="icon_param doc_color" name="ios-paper"></ion-icon></ion-col>
        </ion-row>

    </div>


    <div class="data_block">

        <ion-row align-items-center class="data_block_item">
            <!--<ion-col col-1 text-left><ion-icon ios="ios-eye" md="md-eye"></ion-icon></ion-col>-->
            <ion-col text-right>
                <div class="label">sphere</div>
                <div class="value">{{ item.sphere.name }}</div>
            </ion-col>
            <ion-col col-1 text-right><ion-icon class="icon_param sphere_color" name="ios-cloud"></ion-icon></ion-col>
        </ion-row>

        <ion-row align-items-center class="data_block_item">
            <!--<ion-col col-1 text-left><ion-icon ios="ios-eye" md="md-eye"></ion-icon></ion-col>-->
            <ion-col text-right>
                <div class="label">mask name</div>
                <div class="value">{{ item.mask.name }}</div>
            </ion-col>
            <ion-col col-1 text-right><ion-icon class="icon_param mask_color" name="ios-funnel"></ion-icon></ion-col>
        </ion-row>

    </div>



</ion-content>

<ion-footer>
    <div text-center class="open_button">
        <button no-margin ion-button round color="secondary" (click)="confirmOpen(item)">
            <ion-icon class="icon_param" name="md-eye"></ion-icon> &nbsp; expose lead data
        </button>
    </div>
</ion-footer>