page-obtain-detail {

  .spinnerLoading {
    text-align: center;
    margin-top: 20%;
  }

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  .error_area {

    .error_text {
      color: #A9A9A9;
      font-size: 16px;
      text-align: center;
      margin: 20% 0;
    }

    .error_button {
      margin: 30px 0;
      text-align: center;
    }

  }

  .contract_area {

    .contract_text {
      color: grey;
      margin: 20px 0 30px;
      font-size: 16px;
      text-align: center;
    }

    .contract_button {
      text-align: center;
    }

  }

  .voice_block {

    &.col {
      padding: 0;
      margin: 0;
    }
  }

  .open_lead_area {

    .head {

    }

    .description {
      text-align: center;
      margin: 20px 10px 30px;
      color: #878787;
      font-size: 14px;

      .item {
        margin: 10px 0;
      }

    }

    .phone {
      text-align: center;
      margin: 30px 30px 10px;
      color: #337AB7;
      font-size: 23px;

      .client_phone_icon {
        margin-right: 10px;
      }

    }

    .data {
      text-align: center;
      margin: 20px 10px 10px;
      color: #878787;
      font-size: 14px;

      .description {

        .item {
          margin: 10px 0;
        }
      }

      .open_possibility_menu {
        font-size: 16px;
        cursor: pointer;

        .possibility_menu_item {
          text-align: right;
          //margin: 5px 0 5px 0;
          padding: 5px 50px 5px 0;

          .possibility_menu_item_text {
            margin-right: 10px;

          }

          .green {
            color: #0DBD41;
          }

          .blue {
            color: #337AB7;
          }

        }

        .disabled {
          color: #B1B1B1;

          .possibility_menu_item_text {
            text-decoration: line-through;
          }

        }

      }

    }

    .buttons {

      .open {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .cancel {

      }

    }

  }

  .error_open_lead_area {

    .error_head {
      margin-top: 20px;
      font-size: 18px;
      text-align: center;
      color: grey;
    }

    .description {
      text-align: center;
      color: grey;
      font-size: 18px;
      margin: 20px 30px 0;
    }

    .cancel {
      text-align: center;
      margin-top: 30px;
    }

  }

  .confirm_overdraft {

    .error_head {
      margin-top: 20px;
      font-size: 18px;
      text-align: center;
      color: grey;
    }

    .description {
      text-align: center;
      color: grey;
      font-size: 18px;
      margin: 20px 30px 0;
    }

    .confirm {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .cancel {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
    }

  }

  .open_button {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .color_green {
    color: #008000;
  }

  .calendar_color {
    color: #F0728A;
  }

  .help_icon {
    color: #387EF5;
    font-size: 20px;
  }

  .doc_color {
    color: #D2D2D2;
  }

  .sphere_color {
    color: #5591F6;
  }

  .mask_color {
    color: #6DB46D;
  }

  .date_time {
    font-size: 10px;
    color: grey;
  }

  .icon_param {
    font-size: 25px;
  }

  .left_button {
    margin-left: 45px;
  }

  .right_button {
    margin-right: 45px;
  }

  ion-content {

    background: #F8F8F8 !important;

    .data_block_header {
      color: gray;
      margin-bottom: 10px;

      .name {
        font-size: 20px;
        color: #010101;
        //font-weight: 600;
      }

      .opened {
        font-size: 14px;
        color: #808080;
      }

    }

    .data_block {
      background: white;
      margin-bottom: 10px;
      padding: 0 7px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      &.pressure {
        cursor: pointer;
      }

      .data_block_item {
        padding: 10px 5px;
        border-top: solid #D2D2D2 1px;

        &:first-child {
          border-top: none;
        }

        .label {
          direction: rtl;
          color: grey;
          font-size: 11px;
        }

        .value {
          direction: rtl;
          margin-top: 2px;
          color: #4E4E4E;
          font-size: 13px;
        }
      }
    }
  }

}

.alert_title {
  font-weight: 700;
  margin-bottom: 3px;
  font-size: 14px;
}

.alert_content {
  font-size: 14px;
  margin-bottom: 20px;
}

.obtain_detail_alert_confirm {

  .alert-head {

    h2 {
      text-align: right;
    }
  }

  .alert-radio-group {

    .alert-tappable.alert-radio.alert-radio-button {

      .button-inner{
        direction: rtl;

        .alert-radio-icon{
          right: 16px;
          left: 0;
        }

        .alert-radio-label{
          text-align: right;
        }
      }
    }
  }

}