page-obtain-detail {

  .color_green {
    color: #008000;
  }

  .calendar_color {
    color: #F0728A;
  }

  .help_icon {
    color: #387EF5;
    font-size: 20px;
  }

  .doc_color {
    color: #D2D2D2;
  }

  .sphere_color {
    color: #5591F6;
  }

  .mask_color {
    color: #6DB46D;
  }

  .date_time {
    font-size: 10px;
    color: grey;
  }

  .icon_param {
    font-size: 25px;
  }

  .left_button {
    margin-left: 45px;
  }

  .right_button {
    margin-right: 45px;
  }



  ion-content {

    background: #F8F8F8 !important;

    .data_block_header {
      color: gray;
      margin-bottom: 10px;

      .name {
        font-size: 20px;
        color: #010101;
        //font-weight: 600;
      }

      .opened {
        font-size: 14px;
        color: #808080;
      }

    }

    .data_block {
      background: white;
      margin-bottom: 10px;
      padding: 0 7px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      .data_block_item {
        padding: 10px 5px;
        border-top: solid #D2D2D2 1px;

        &:first-child {
          border-top: none;
        }

        .label {
          color: grey;
          font-size: 11px;
        }

        .value {
          margin-top: 2px;
          color: #4E4E4E;
          font-size: 13px;
        }
      }
    }
  }

}

.alert_title {
  font-weight: 700;
  margin-bottom: 3px;
  font-size: 14px;
}

.alert_content {
  font-size: 14px;
  margin-bottom: 20px;
}