<ion-header no-border>

    <ion-navbar color="clear" hideBackButton="true">

        <ion-buttons left>

            <button *ngIf="isLoginPage" color="primary" ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
            <button *ngIf="isLoginPage" color="primary" ion-button (click)="goBack()">
                {{ 'BACK_TO_LOGIN' | translate }}
            </button>

            <button *ngIf="!isLoginPage" color="primary" ion-button (click)="goToMainPage()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
            <button *ngIf="!isLoginPage" color="primary" ion-button (click)="goToMainPage()">
                {{ 'go_to_main_page' | translate }}
            </button>

        </ion-buttons>


        <ion-buttons right text-center class="right_button">

        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content padding>

    <!--тут будет лицензия-->
    <div class="license">
        <div [innerHtml]="licenseData"></div>
    </div>

    <div *ngIf="licenseData != ''" class="agree_button" text-center>
        <button (click)="makeAgree()" ion-button round color="secondary">
            {{ 'i_agree' | translate }}
            <!--I agree-->
        </button>

        <!-- подписать договор позже -->
        <div class="sign_later">

            <!-- бокс с чекбоксом -->
            <div class="contract_later_checkbox">
                <ion-list>
                    <ion-item class="checkbox-data-row" dir="rtl">

                        <ion-label text-right dir="rtl">{{ 'sign_a_contract_later' | translate }}</ion-label>
                        <ion-checkbox color="primary" [(ngModel)]="signLaterCheckbox"></ion-checkbox>
                    </ion-item>
                </ion-list>

            </div>

            <div class="go_to_main_page_block" *ngIf="signLaterCheckbox">
                <button (click)="goToMainPage()" ion-button round outline small color="default">
                    {{ 'go_to_main_page' | translate }}
                </button>
            </div>

        </div>

    </div>

</ion-content>