<ion-header>

    <ion-navbar color="primary" hideBackButton="true">

        <ion-buttons left text-center class="left_button">
            <button ion-button (click)="goBack()">
                back to login
            </button>
        </ion-buttons>

        <ion-buttons right text-center class="right_button">
            <!--<button ion-button [attr.disabled]="!spheres ? '' : null" (click)="addLead()">-->
            <!--add lead-->
            <!--</button>-->
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- Главный блок -->
    <div class="main_block">


        <div text-center class="main_block_title">
            To continue you must fill this data
        </div>


        <div>

            <!-- Выбор сфер деятельности агента -->
            <div class="switchItem" (click)="selectSpheres()" [ngClass]="confirmation.sphere ? 'apply' : ''">
                <span *ngIf="confirmation.sphere" class="icon_span">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                </span>
                <span *ngIf="!confirmation.sphere" class="icon_span">
                    <ion-icon name="md-square-outline"></ion-icon>
                </span>
                Sphere of influence
            </div>

            <!-- Заполнение персональных данных агента -->
            <div class="switchItem" (click)="fillingPersonal()" [ngClass]="confirmation.personal ? 'apply' : ''">
                <span *ngIf="confirmation.personal" class="icon_span">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                </span>
                <span *ngIf="!confirmation.personal" class="icon_span">
                    <ion-icon name="md-square-outline"></ion-icon>
                </span>
                Personal data
            </div>

            <!-- Заполнение персональных данных агента -->
            <div class="switchItem" (click)="roleMatching()" [ngClass]="confirmation.role ? 'apply' : ''">
                <span *ngIf="confirmation.role" class="icon_span">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                </span>
                <span *ngIf="!confirmation.role" class="icon_span">
                    <ion-icon name="md-square-outline"></ion-icon>
                </span>
                Your role matching
            </div>

        </div>

        <div class="main_block_button">
            <!--<button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>-->
            <button
                    ion-button
                    color="primary"
                    block
                    (click)="saveRegistrationData()">
                Start getting customers &nbsp;
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
        </div>
    </div>

</ion-content>