<ion-header no-border>

    <ion-navbar color="clear" hideBackButton="true">

        <ion-buttons left>
            <button color="primary" ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
            <button color="primary" ion-button (click)="goBack()">
                {{ 'BACK_TO_LOGIN' | translate }}
            </button>
        </ion-buttons>


        <ion-buttons right text-center class="right_button">

        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- Главный блок -->
    <div class="main_block">


        <div>

            <!-- Заполнение персональных данных агента -->
            <div class="switchItem" (click)="roleMatching()" [ngClass]="confirmation.role ? 'apply' : ''">
                <span *ngIf="confirmation.role" class="icon_span">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                </span>
                <span *ngIf="!confirmation.role" class="icon_span">
                    <ion-icon name="md-square-outline"></ion-icon>
                </span>
                {{ 'ROLE_MATCHING' | translate }}
            </div>

            <!-- Заполнение персональных данных агента -->
            <div class="switchItem" (click)="fillingPersonal()" [ngClass]="confirmation.personal ? 'apply' : ''">
                <span *ngIf="confirmation.personal" class="icon_span">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                </span>
                <span *ngIf="!confirmation.personal" class="icon_span">
                    <ion-icon name="md-square-outline"></ion-icon>
                </span>
                {{ 'PERSONAL_DATA' | translate }}
            </div>

            <!-- Выбор сфер деятельности агента -->
            <div *ngIf="confirmation.role" class="switchItem" (click)="selectSpheres()" [ngClass]="confirmation.sphere ? 'apply' : ''">
                <span *ngIf="confirmation.sphere" class="icon_span">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                </span>
                <span *ngIf="!confirmation.sphere" class="icon_span">
                    <ion-icon name="md-square-outline"></ion-icon>
                </span>
                {{ 'SPHERE_OF_INFLUENCE' | translate }}
            </div>

        </div>

        <div class="main_block_button">
            <!--<button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>-->
            <button
                    ion-button
                    round
                    color="primary"
                    block
                    [attr.disabled]="!(confirmation.agreement && confirmation.sphere  && confirmation.personal && confirmation.role) ? '' : null"
                    (click)="saveRegistrationData()">
                {{ 'REGISTRATION_DATA_NEXT_BUTTON' | translate }} &nbsp;
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
        </div>

        <div class="user_agreement_block" (click)="confirmUserAgreement()">
            <!-- Заполнение персональных данных агента -->
            <div class="user_agreement" [ngClass]="confirmation.agreement ? 'apply' : ''" text-center>
                <span *ngIf="confirmation.agreement" class="icon_span">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                </span>
                <span *ngIf="!confirmation.agreement" class="icon_span">
                    <ion-icon name="md-square-outline"></ion-icon>
                </span>
                {{ 'REGISTRATION_DATA_AGREEMENTS' | translate }}
            </div>
        </div>

        <div class="user_agreement_text" text-center>
            <a href="#">{{ 'REGISTRATION_DATA_USER_AGREEMENTS' | translate }}</a>
        </div>

    </div>

</ion-content>