page-obtain {

  color: grey;
  font-size: 12px;

  .price {
    margin-left: 10px;
  }

  ion-content {

    .scroll-content {
      padding-bottom: 70px;
    }
  }

  .spinnerLoading {
    text-align: center;
    margin-top: 20%;
  }

  .lead_name {
    color: grey;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;

    .new_obtain {
      font-size: 10px;
      font-weight: 100;
      color: #EC1717;
      margin-right: 1px;
    }
  }

  .sphere_name {
    color: grey;
    font-size: 12px;
  }

  .data_time {
    font-size: 13px;
    color: grey;
    margin-top: 3px;

    .time {
      font-size: 10px;
    }
  }

  .opened {
    font-size: 12px;
    margin-top: 3px;
    //color: grey;
    color: #8BB0CF;

    .count {
      color: #337AB7;
    }
  }

  .no_leads_row {

    color: grey;
    margin-top: 20px;

    .icon {
      color: #EAEAEA;
      font-size: 50px;
      //font-weight: 400;
    }

    .leads_text {
      margin-top: 20px;
      color: grey;
      font-size: 14px;

      .take_leads {
        margin-top: 10px;
      }
    }

    .mask_button {
      margin-top: 20px;
    }

  }

}
