page-obtain {

  color: grey;
  font-size: 12px;

  .lead_name {
    color: grey;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
  }

  .sphere_name {
    color: grey;
    font-size: 12px;
  }

  .data_time {
    font-size: 13px;
    color: grey;
    margin-top: 3px;

    .time {
      font-size: 10px;
    }
  }

  .opened {
    font-size: 12px;
    color: grey;
    margin-top: 3px;
  }

  .no_leads_row {

    color: grey;
    margin-top: 20px;

    .icon {
      color: #EAEAEA;
      font-size: 50px;
      //font-weight: 400;
    }

    .leads_text {
      margin-top: 20px;
      color: grey;
      font-size: 14px;

      .take_leads {
        margin-top: 10px;
      }
    }

    .mask_button{
      margin-top: 20px;
    }

  }

}
