deal-payment-manually {

  .confirm_text {
    color: grey;
    margin: 20px 10px;
    padding: 20px 30px 10px;

    .payment_account {
      margin: 10px 5px;
      font-weight: 600;
    }

  }

  .confirm_button {

  }

  .credit_payment_title {
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 10% 0 10%;
  }

  .time {
    text-align: center;
    color: #89B7DB;
  }

}