<!--
  Generated template for the OpenLeadStatuses page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">
        <!--<ion-title>OpenLeadStatuses</ion-title>-->

        <ion-buttons left text-center>
            <button ion-button (click)="close()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            <!--Credit Card Payment-->
            {{ 'open_lead_deal_credit_card_payment.title' | translate }}
        </ion-title>

        <!--<ion-buttons right text-center>-->

            <!--<button ion-button (click)="sendFiles()">-->
                <!--<ion-icon name="md-attach"></ion-icon>-->
            <!--</button>-->

        <!--</ion-buttons>-->

    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- спинер загрузки -->
    <div *ngIf="sections.loading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <!-- спинер загрузки -->
    <div *ngIf="frameSpinnerShow" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <!-- Блок с данными -->
    <div *ngIf="sections.data" class="withdrawal_block">

        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                {{ 'open_lead_deal_credit_card_payment.name' | translate }}
                <!--Name-->
            </div>

            <div class="withdrawal_input" text-right>

                <ion-input
                        [(ngModel)]="data.name"
                        text-right
                        type="text">

                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.name" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->


        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                <!--{{ 'open_lead_deal_credit_card_payment.name' | translate }}-->
                Surname
            </div>

            <div class="withdrawal_input" text-right>

                <ion-input
                        [(ngModel)]="data.surname"
                        text-right
                        type="text">

                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.surname" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->


        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                <!--E-Mail-->
                {{ 'open_lead_deal_credit_card_payment.email' | translate }}
            </div>

            <div class="withdrawal_input" text-right>

                <ion-input
                        [(ngModel)]="data.email"
                        text-right
                        type="text">

                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.email" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->



        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                <!--Phone-->
                {{ 'open_lead_deal_credit_card_payment.phone' | translate }}
            </div>

            <div class="withdrawal_input" text-right>

                <ion-input
                        [(ngModel)]="data.phone"
                        text-right
                        type="tel"
                        (ngModelChange)='phoneChange($event)'
                        (focus)="phoneFocus()"
                        (blur)="phoneValidate()">
                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.phone" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->



        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                {{ 'open_lead_deal_credit_card_payment.amount' | translate }}
                <!--Amount-->
            </div>

            <div class="withdrawal_input amount_input" text-right>

                &#8362;

                <ion-input
                        [(ngModel)]="data.amount"
                        text-right
                        min="0"
                        type="number"
                        disabled="disabled">

                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.amount" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->

        <div text-center margin-top>
            <button ion-button round (click)="confirmPayment()">
                {{ 'open_lead_deal_credit_card_payment.confirm_button' | translate }}
                <!--Confirm -->
            </button>
        </div>

    </div>

    <!-- Блок с данными по проплате -->
    <div *ngIf="sections.frame">

        <iframe
                [src]= "url"
                frameborder="0"
                width="100%"
                height="1250px"
                (load)="frameOnLoad()">

        </iframe>

        <!--<iframe-->
                <!--[src]= "webPage()"-->
                <!--frameborder="0"-->
                <!--width="100%"-->
                <!--height="1250px">-->

        <!--</iframe>-->

    </div>

    <!-- Блок данных с положительным результатом проплаты -->
    <div *ngIf="sections.resultSuccess" class="success">

        <div class="message" text-center>
            payment success
        </div>

        <div class="success_button_block" text-center>

            <button ion-button round small (click)="close()">Close</button>

        </div>


    </div>

    <!-- Блок данных с ошибкой при проплате -->
    <div *ngIf="sections.resultFail" class="fail">

        <div class="message" text-center>
            payment fail
        </div>

        <div class="success_button_block" text-center>
            <button ion-button round small (click)="close()">Close</button>
        </div>

    </div>

    <!-- Блок данных с непонятной ошибкой в резльтате работы -->
    <div *ngIf="sections.error" class="error_block">
        error while progress, please go back and try again later
    </div>

</ion-content>
