deal-payment-card {

  .credit_payment_title {
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 10% 0 10%;
  }

  .time {
    text-align: center;
    color: #89B7DB;
  }

}