<!--
  Generated template for the OpenLeadStatuses page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">
        <!--<ion-title>OpenLeadStatuses</ion-title>-->

        <ion-buttons left text-center>
            <button ion-button (click)="close()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            <!--Credit Card Payment-->
            {{ 'open_lead_deal_credit_card_payment.title' | translate }}
        </ion-title>

        <!--<ion-buttons right text-center>-->

            <!--<button ion-button (click)="sendFiles()">-->
                <!--<ion-icon name="md-attach"></ion-icon>-->
            <!--</button>-->

        <!--</ion-buttons>-->

    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- спинер загрузки -->
    <div *ngIf="isLoading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <!-- Блок с данными -->
    <div *ngIf="dataBlock" class="withdrawal_block">

        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                {{ 'open_lead_deal_credit_card_payment.name' | translate }}
                <!--Name-->
            </div>

            <div class="withdrawal_input" text-right>

                <ion-input
                        [(ngModel)]="data.name"
                        text-right
                        type="text">

                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.name" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->



        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                <!--E-Mail-->
                {{ 'open_lead_deal_credit_card_payment.email' | translate }}
            </div>

            <div class="withdrawal_input" text-right>

                <ion-input
                        [(ngModel)]="data.email"
                        text-right
                        type="text">

                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.email" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->



        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                <!--Phone-->
                {{ 'open_lead_deal_credit_card_payment.phone' | translate }}
            </div>

            <div class="withdrawal_input" text-right>

                <ion-input
                        [(ngModel)]="data.phone"
                        text-right
                        type="text">

                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.phone" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->



        <!-- строка с данными -->
        <div class="withdrawal_row">

            <div class="withdrawal_label" text-right>
                {{ 'open_lead_deal_credit_card_payment.amount' | translate }}
                <!--Amount-->
            </div>

            <div class="withdrawal_input amount_input" text-right>

                &#8362;

                <ion-input
                        [(ngModel)]="data.amount"
                        text-right
                        min="0"
                        type="number">

                </ion-input>

            </div>

        </div>
        <!-- конец строки с данными -->

        <!-- строка с ошибкой -->
        <div *ngIf="errors.amount" class="withdrawal_error" text-right>
            {{ 'open_lead_deal_credit_card_payment.required_field' | translate }}
            <!--This field is required-->
        </div>
        <!-- конец строки с ошибкой -->

        <div text-center margin-top>
            <button ion-button round (click)="confirmPayment()">
                {{ 'open_lead_deal_credit_card_payment.confirm_button' | translate }}
                <!--Confirm -->
            </button>
        </div>

    </div>

    <!-- Блок с данными по проплате -->
    <div *ngIf="creditBlock">

        <iframe
                [src]= "webPage()"
                frameborder="0"
                height="500px"
                width="100%">

        </iframe>
    </div>

</ion-content>
