
<ion-content>

    <!-- Обновление страницы -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- конец Обновление страницы -->


    <!-- Итемы отданых лидов на странице -->
    <ion-list inlist>
        <ion-item *ngFor="let item of items" (click)="detail(item)">

            <h2  >{{ item.name }} {{ item.surname }}</h2>
            <p >{{ item.sphere.name }} \\ {{ item.sName }} </p>

            <div item-right class="item-right-data" text-right>
                <div> {{ item.date }}</div>
                <div> 0 $ <ion-icon ios="ios-eye" md="md-eye"></ion-icon> {{ item.opened }}</div>
            </div>

        </ion-item>
    </ion-list>
    <!-- конец Итемы отданых лидов на странице -->


    <!-- Подгрузка следующей партии итемов -->
    <ion-infinite-scroll *ngIf="isLastPageReached()" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- конец Подгрузка следующей партии итемов -->

</ion-content>
