
<ion-content>

    <!-- Обновление страницы -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- конец Обновление страницы -->


    <!-- Итемы отданых лидов на странице -->
    <ion-list inlist>
        <ion-item *ngFor="let item of items" (click)="detail(item)">

            <!--<h2  >{{ item.name }} {{ item.surname }}</h2>-->
            <!--<p >{{ item.sphere.name }} \\ {{ item.sName }} </p>-->

            <!--<div item-right class="item-right-data" text-right>-->
                <!--<div> {{ item.date }}</div>-->
                <!--<div> 0 $ <ion-icon ios="ios-eye" md="md-eye"></ion-icon> {{ item.opened }}</div>-->
            <!--</div>-->


            <div text-left>
                <div class="data_time"> <span class="time">{{ item.date.time }}</span> {{ item.date.date }}</div>
                <!--<div class="data_time"> {{ item.date }}</div>-->
                <div class="opened"><ion-icon ios="ios-eye" md="md-eye"></ion-icon> {{ item.opened }}</div>
            </div>


            <div item-right class="item-right-data" text-right>

                <div class="lead_name">{{ item.name }} {{ item.surname }}</div>
                <div class="sphere_name"> <span class="status_name">{{ item.sName }}</span> / {{ item.sphere.name }} </div>


            </div>


        </ion-item>
    </ion-list>
    <!-- конец Итемы отданых лидов на странице -->

    <!-- Если итэмов нет -->
    <ion-row *ngIf="items.length == 0" class="no_leads_row" text-center>
        <ion-col>
            <div class="icon"><ion-icon name="md-contract"></ion-icon></div>

            <div class="leads_text">
                <div> No leads</div>
                <!--<div class="take_leads"> To get the leads, select the mask</div>-->
                <!--<div class="take_leads">on the client filter page</div>-->
                <!--<button small ion-button color="primary" class="mask_button" (click)="customerPage()"> Select mask </button>-->
            </div>

        </ion-col>
    </ion-row>

    <div *ngIf="items.length == 0" class="no_leads_cover">

        <div class="empty_added_leads_text">
            To add the lead, click this button
        </div>

        <div class="empty_added_leads_icon">
            <ion-icon name="md-return-right"></ion-icon>
        </div>

    </div>

    <!-- Подгрузка следующей партии итемов -->
    <ion-infinite-scroll *ngIf="isLastPageReached()" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- конец Подгрузка следующей партии итемов -->

</ion-content>

