page-deposited {

  color: grey;
  font-size: 12px;

  .lead_name {
    color: grey;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
  }

  .sphere_name {
    color: grey;
    font-size: 12px;
  }

  .data_time {
    font-size: 13px;
    color: grey;
    margin-top: 3px;

    .time {
      font-size: 10px;
    }
  }

  .opened {
    font-size: 12px;
    color: grey;
    margin-top: 3px;
  }

  .status_name {
    color: darkgreen;
  }

}
