// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Rubik-Regular; /* Имя шрифта */
  //src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
  src: url('../assets/fonts/Hebrew/Rubik-Regular.ttf'); /* Путь к файлу со шрифтом */
}

* {
  font-family: Rubik-Regular;
}

.modal-wrapper {
  //background: rgba(0, 0, 0, 0.3);
  //opacity: 0.1;
}

ion-alert {
  direction: rtl;

  .alert-head {
    direction: rtl;

    h2.alert-title {
      direction: rtl;
      text-align: right;
    }

    h3.alert-sub-title {
      direction: rtl;
      text-align: right;
    }

  }

  .alert-radio-group {
    //padding-right: 30px;

    .alert-tappable {
      padding: 0 40px 0 0 ;
      text-align: right;
    }

  }

}

.action-sheet-wrapper {
  direction: rtl;

  .action-sheet-title {
    //direction: rtl;
    text-align: right;
  }

  .action-sheet-icon {
    margin-right: 5px;
    margin-left: 15px;
  }

}
