credit-card-payment {

  .spinnerLoading {
    text-align: center;
    margin-top: 20%;
  }

  .error_block {
    margin: 40% 30px 10px;
    padding: 50px 20px;
    text-align: center;
    color: white;
    background: #DB4437;
    border-radius: 30px;
    font-size: 18px;
    line-height: 28px;
  }

  .description {
    color: #909090;
    text-align: center;
    margin: 1% 2px 8%;
    font-size: 12px;
  }

  .success {

    .message {
      margin: 20% 30px 10%;
      color: #155724;
      background: #D4EDDA;
      border-radius: 20px;
      padding: 30px 10px;
    }

    .success_button_block {
      margin: 10% 5px;
      text-align: center;
    }

  }

  .fail {

    .message {
      margin: 20% 30px 10%;
      color: #721C24;
      background: #F8D7DA;
      border-radius: 20px;
      padding: 30px 10px;
    }

    .success_button_block {
      margin: 10% 5px;
      text-align: center;
    }

  }

  .withdrawal_block {

    .withdrawal_row {
      border-bottom: 1px solid #D8D8D8;
      margin-top: 30px;

      &.no_top_margin {
        margin-top: 0;
      }

      &.amount_row {
        width: 200px;
      }

      .withdrawal_label {
        color: grey;
        font-size: 12px;
        margin-right: 4px;
      }

      .withdrawal_input {
        color: #337AB7;
        padding-right: 10px;

        ion-input {
          display: inline;
        }

        &.amount_input {
          padding-left: 20%;
        }

        .text-input {
          margin: 10px 0 5px;
        }
      }

    }

    .withdrawal_error {
      color: red;
      margin-top: 6px;
      margin-right: 10px;
      font-size: 11px;
    }

  }
}