<!--
  Generated template for the OpenLeadStatuses page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">
        <!--<ion-title>OpenLeadStatuses</ion-title>-->

        <ion-buttons left text-center>
            <button ion-button (click)="close()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{ 'open_lead_deal.title' | translate }}</ion-title>

        <ion-buttons right text-center>

            <button ion-button (click)="sendFiles()">
                <ion-icon name="md-attach"></ion-icon>
            </button>

            <button ion-button (click)="openCorrespondence()">
                <ion-icon name="md-mail"></ion-icon>
            </button>

        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content>

    <!-- скрытый блок с инпутом для вайла -->
    <div class="file_input">
        <!-- инпут для вайла -->
        <input id="fileElem" (change)="onChange($event)" type="file">
    </div>

    <!-- блок с данными по сделкам -->
    <div *ngIf="deal" [ngSwitch]="segment" class="segment_block">

        <div *ngSwitchCase="'info'">

            <div class="deal_block">

                <ion-row class="deal_item">
                    <ion-col class="info" col-1 text-center align-self-center>
                        <!--<ion-icon name="ios-information-circle"></ion-icon>-->
                    </ion-col>
                    <ion-col class="data" text-right align-self-center>
                        {{ deal ? deal.surname : ' ' }} {{ deal ? deal.name : ' ' }}
                    </ion-col>
                    <ion-col col-3 class="name" text-left align-self-center>
                        {{ 'open_lead_deal.name' | translate }}
                    </ion-col>
                </ion-row>

                <ion-row class="deal_item">
                    <ion-col class="info" col-1 text-center align-self-center>
                        <!--<ion-icon name="ios-information-circle"></ion-icon>-->
                    </ion-col>
                    <ion-col class="data" text-right align-self-center>
                        {{ deal ? deal.dealInfo.name : '' }}
                    </ion-col>
                    <ion-col col-3 class="name" text-left align-self-center>
                        {{ 'open_lead_deal.deal_type' | translate }}
                    </ion-col>
                </ion-row>

                <ion-row class="deal_item" (click)="showInfo(3)">
                    <ion-col class="info" col-1 text-center align-self-center>
                        <ion-icon name="ios-information-circle"></ion-icon>
                    </ion-col>
                    <ion-col class="data" text-right align-self-center>
                        <span class="time">
                            {{ deal.dealInfo.date.time }}
                        </span>
                        {{ deal.dealInfo.date.date }}
                    </ion-col>
                    <ion-col col-3 class="name" text-left align-self-center>
                        {{ 'open_lead_deal.date' | translate }}
                    </ion-col>
                </ion-row>

                <ion-row class="deal_item" (click)="showInfo(4)">
                    <ion-col class="info" col-1 text-center align-self-center>
                        <ion-icon name="ios-information-circle"></ion-icon>
                    </ion-col>
                    <ion-col class="data" text-right align-self-center>
                        {{ deal.dealInfo.status }}
                    </ion-col>
                    <ion-col col-3 class="name" text-left align-self-center>
                        {{ 'open_lead_deal.status' | translate }}
                    </ion-col>
                </ion-row>


                <div *ngIf="deal.dealInfo.comment.trim() != ''" class="deal_comment">
                    <div class="name" text-right>{{ 'open_lead_deal.comment' | translate }}</div>
                    <div class="data">
                        {{ deal.dealInfo.comment }}
                    </div>
                </div>


                <!-- данные транзакций -->
                <div *ngIf="deal && deal.dealInfo.type == 'few_payment'">

                    <div *ngIf="deal.dealInfo.status_id == 1 || deal.dealInfo.status_id == 4">

                        <!--не оплаченно few_payment-->

                        <div *ngIf="deal.dealInfo.paymentConfirmation > 0" class="payment_button">
                            <button (click)="makePaymentActionSheet()" ion-button small round color="primary">
                                {{ 'open_lead_deal.make_a_payment' | translate }}
                            </button>
                        </div>

                        <div *ngIf="deal.dealInfo.paymentConfirmation == 0" class="payment_button">
                            <button (click)="receivedNextPaymentData()" ion-button small round color="primary">
                                {{ 'open_lead_deal.received_next_payment' | translate }}
                            </button>
                        </div>

                        <div class="payment_button">
                            <button
                                    (click)="closeFewPaymentDealConfirmation()"
                                    ion-button
                                    color="secondary"
                                    small
                                    round>
                                {{ 'open_lead_deal.close_a_deal' | translate }}
                            </button>
                        </div>

                    </div>

                    <div *ngIf="deal.dealInfo.status_id != 1 && deal.dealInfo.status_id != 4" class="deal_paid">
                        {{ 'open_lead_deal.paid' | translate }}
                    </div>
                </div>

                <div *ngIf="deal && deal.dealInfo.type == 'one_payment'" class="payment_button">

                    <div *ngIf="deal.dealInfo.status_id == 1">
                        <button
                                (click)="makePaymentActionSheet()"
                                ion-button
                                small
                                round
                                color="primary">
                            {{ 'open_lead_deal.make_a_payment' | translate }}
                        </button>
                    </div>

                    <div *ngIf="deal.dealInfo.status_id != 1" class="deal_paid">
                        Paid
                    </div>
                </div>


                <div *ngIf="deal" class="deal_statement_block">

                    <ion-row *ngFor="let statement of deal.dealPaymentStatements" class="statement_item">

                        <ion-col class="left" text-left align-self-center>

                            <div class="expiry_time">
                                <div class="label">
                                    {{ 'open_lead_deal.expire_time' | translate }}
                                </div>
                                <span class="time">{{ statement.expiry_time.time }}</span>
                                {{ statement.expiry_time.date }}
                            </div>

                            <div class="status">
                                <!-- платеж ожидается -->
                                <span *ngIf="statement.status_id == 1"
                                      class="whiting_payment">{{ statement.status }}</span>

                                <!-- ожидается подтверждение платежа админом -->
                                <span *ngIf="statement.status_id == 2"
                                      class="whiting_confirmed">{{ statement.status }}</span>

                                <!-- платеж подтвержден админом -->
                                <span *ngIf="statement.status_id == 3" class="confirmed">{{ statement.status }}</span>

                                <!-- платеж отвергнут админом -->
                                <span *ngIf="statement.status_id == 4" class="rejected">{{ statement.status }}</span>

                            </div>

                        </ion-col>

                        <ion-col col-6 class="right" text-right align-self-center>

                            <div class="percent">
                                <!--<span class="label">percent to pay</span> -->
                                <span class="sign">&#8362;</span> {{ statement.percent }}
                            </div>

                            <div class="price">
                                <span class="label">
                                    {{ 'open_lead_deal.amount' | translate }}
                                </span>
                                <span class="sign">&#8362;</span>
                                {{ statement.price }}
                            </div>

                        </ion-col>

                    </ion-row>

                    <ion-row *ngIf="deal.dealPaymentStatements.length == 0" class="no_statement">
                        <ion-col text-center align-self-center>
                            {{ 'open_lead_deal.no_statements' | translate }}
                        </ion-col>
                    </ion-row>

                </div>

            </div>

        </div>

        <div *ngSwitchCase="'transactions'">

            <div class="deal_block">

                <ion-row *ngFor="let transaction of deal.transactions" class="transaction_item">

                    <ion-col class="data" text-left align-self-center>

                        <div class="date">
                            <span class="time">{{ transaction.date.time }}</span> {{ transaction.date.date }}
                        </div>

                        <div class="transaction_id">
                            <span class="number">№</span> {{ transaction.transactionId }}
                        </div>

                    </ion-col>

                    <ion-col col-6 class="amount" text-right align-self-center>
                        <span class="sign">&#8362;</span> {{ transaction.amount }}
                    </ion-col>

                </ion-row>

                <ion-row *ngIf="deal.transactions.length == 0" class="no_transactions">
                    <ion-col text-center align-self-center>
                        {{ 'open_lead_deal.no_transactions' | translate }}
                    </ion-col>
                </ion-row>

            </div>

        </div>

        <div *ngSwitchCase="'files'">

            <div class="deal_block">

                <ion-row *ngFor="let file of deal.files" class="file_item">

                    <ion-col col-2 class="file_dell_button" text-center align-self-center (click)="deleteFile(file)">
                        <ion-icon name="md-close"></ion-icon>
                    </ion-col>

                    <ion-col col-8 class="file_name" text-right align-self-center>
                        {{ file.name }}
                    </ion-col>

                    <ion-col col-2 class="file_icon" text-center align-self-center>

                        <i *ngIf="file.type == 'image'" class="fa fa-picture-o image"></i>

                        <i *ngIf="file.type == 'text'" class="fa fa-file-text-o text"></i>

                        <i *ngIf="file.type == 'undefined'" class="fa fa-file undefined"></i>

                        <i *ngIf="file.type == 'archive'" class="fa fa-file-archive-o archive"></i>

                        <i *ngIf="file.type == 'pdf'" class="fa fa-file-pdf-o pdf"></i>

                        <i *ngIf="file.type == 'word'" class="fa fa-file-word-o word"></i>


                    </ion-col>

                </ion-row>

                <ion-row *ngIf="deal.files.length == 0" class="no_files">
                    <ion-col text-center align-self-center>
                        {{ 'open_lead_deal.no_files' | translate }}
                    </ion-col>
                </ion-row>

            </div>

        </div>

    </div>

</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="info">
                {{ 'open_lead_deal.info' | translate }}
            </ion-segment-button>
            <ion-segment-button value="transactions">
                {{ 'open_lead_deal.transactions' | translate }}
            </ion-segment-button>
            <ion-segment-button value="files">
                {{ 'open_lead_deal.files' | translate }}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>