messages {

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  .notice_filter_on {
    color: #84B4DB;
  }

  ion-icon.notice_filter_on_header {
    color: red;
    font-size: 5px;
  }

  ion-content {

    background: #FFFFFF !important;

    .spinnerLoading {
      text-align: center;
      margin-top: 20%;
    }

    .no_notification_items {
      text-align: center;
      color: #C7C7C7;
      font-size: 13px;
      margin-top: 20%;

      .no_notification_items_icon {
        font-size: 50px;
        margin-bottom: 10px;
        color: #EAEAEA;
      }

      .filter {

      }

      .notice_clear_button {
        margin-top: 20px;
      }

    }

    .bottom_no_notification_items_button {

      text-align: center;
      margin-top: 20px;

    }

    .notice_row {
      margin-top: 10px;
      padding: 5px 0;
      border-bottom: 1px solid #AFAFAF;
      color: grey;

      .checked {
        color: green;
      }

      .date {
        font-size: 12px;
        color: #4E91C9;

        .time {
          font-size: 10px;
        }

      }

    }

  }

  .filter_block {
    margin: 10px 0 30px 15px;

    .filter_name {
      color: grey;
      font-weight: 600;
    }

    .sphere_filter_item {
      color: grey;
      padding-top: 10px;

      .selected_sphere_icon {
        color: green;
      }

    }

    .period_filter_item {
      //padding: 10px 0;
      margin: 10px 0;
    }

    .item-block {
      min-height: 0;
      //padding: 5px 0;
    }

    ion-label {
      margin: 5px 0;
    }

    ion-datetime {
      padding: 0;
    }

  }

}

.bar-button-md{
  ion-icon.notice_filter_on_header {
    color: #EEDA1E;
    font-size: 6px;
    min-width: 0;
    //line-height: 300px;
    vertical-align: top;
    padding: 0;
  }
}