email-confirmation {

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  ion-content.no-scroll {

    > .scroll-content {
      overflow-y: auto;
    }

  }

  .confirmation_data_row {

    margin-bottom: 20px;

    .validation_block {

      .success {
        color: green;
      }

      .alert {
        color: red;
      }

      padding-bottom: 0;
    }

    .data_block {

      .label {
        text-align: center;
        color: grey;
        font-size: 12px;
      }

      .input_row {

        text-align: center;
        width: 250px;
        //margin: 0 !important;
        padding: 0;
        margin: 0 auto;

        .text-input {
          //margin-top: 7px;
          //margin-bottom: 8px;
          margin: 7px auto 1px;
          //width: 100px;
          color: #337AB7;
          font-size: 65px;
          text-align: center;
        }

        .text-input::-webkit-input-placeholder {color:#F3F3F3; font-weight: 100;}
        .text-input::-moz-placeholder          {color:#F3F3F3; font-weight: 100;}/* Firefox 19+ */
        .text-input:-moz-placeholder           {color:#F3F3F3; font-weight: 100;}/* Firefox 18- */
        .text-input:-ms-input-placeholder      {color:#F3F3F3; font-weight: 100;}

        border-bottom: solid #337AB7 1px;

      }

      .addition_text {
        color: #C5C5C5;
        text-align: center;
        margin: 5px auto 5px;
      }

      padding-bottom: 0;
    }

  }

  .confirmation_data_row_separator {
    margin: 0;
    color: lightgray;
    background-color: lightgray;
    //width: 400px;

    &.confirmation_data_row_separator.red {
      color: red;
      background-color: red;
    }
  }

  .resend_button {
    margin-top: 20px;
  }

  .error_message {
    color: red;
    font-size: 11px;
    text-align: center;
  }

}