registration-data-personal {

  .sphere_name {
    color: grey;
  }

  .region_data_row {

    .label {
      color: grey;
      font-size: 12px;
      margin-bottom: 10px;
    }

  }

  .personal_data_row {

    margin-bottom: 20px;

    .validation_block {

      .success {
        color: green;
      }

      .alert {
        color: red;
      }

      padding-bottom: 0;
    }

    .data_block {

      .label {
        text-align: right;
        color: grey;
        font-size: 12px;
      }

      .input_row {

        .text-input {
          margin-top: 7px;
          margin-bottom: 8px;
          color: #337AB7;
        }

      }

      padding-bottom: 0;
    }

  }

  .personal_data_row_separator {
    margin: 0;
    color: lightgray;
    background-color: lightgray;

    &.personal_data_row_separator.red {
      color: red;
      background-color: red;
    }
  }

  .error_message {
    color: red;
    font-size: 11px;
    text-align: right;
  }

  .region_item {
    color: grey;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;

    $rightPadding: 20px;

    & + .region_item {
      margin-right: $rightPadding;

      & + .region_item {
        margin-right: $rightPadding * 2;

        & + .region_item {
          margin-right: $rightPadding * 3;

          & + .region_item {
            margin-right: $rightPadding * 4;

            & + .region_item {
              margin-right: $rightPadding * 5;

              & + .region_item {
                margin-right: $rightPadding * 6;

                & + .region_item {
                  margin-right: $rightPadding * 7;

                  & + .region_item {
                    margin-right: $rightPadding * 8;

                  }
                }
              }
            }
          }
        }
      }
    }

    .region_selected_name {
      color: #337AB7;
      font-size: 14px;
    }

    .dell_region_button {
      color: #FF7B7B;
    }

  }

  //.region_item + .region_item {
  //  margin-right: 30px;
  //}

  .region_variant_block {
    margin-top: 30px;
    //margin-left: 30%;

    .region_variant_item {
      padding: 10px 0;
      margin: 12px 20px;
      font-size: 12px;
      cursor: pointer;
      color: grey;
      font-weight: 500;
      border-bottom: solid 1px #CACACA;
      border-radius: 20px;
    }

  }

}

.registration_data_title.title {

  .toolbar-title {
    //color: #337AB7;
    color: grey;
    text-transform: uppercase;
  }
}
