

<ion-header no-border>

    <!--color="clear"-->

    <ion-navbar color="clear">

        <ion-title text-center class="registration_data_title">
            {{ 'PERSONAL_DATA_TITLE' | translate }}
        </ion-title>

    </ion-navbar>

</ion-header>




<ion-content padding>

    <!-- Поле с именем пользователя -->
    <div class="personal_data_row">

        <!-- Имя пользователя -->
        <ion-row>

            <!-- Иконка валидации -->
            <ion-col col-1 align-self-center text-right class="validation_block">
                <!-- Успешная валидация -->
                <ion-icon *ngIf="state.firstName == 2" class="success" name="md-checkmark"></ion-icon>
                <!-- Ошибка валидации -->
                <ion-icon *ngIf="state.firstName == 3" class="alert" name="md-alert"></ion-icon>
            </ion-col>

            <!-- Блок с именем пользователя -->
            <ion-col class="data_block">
                <!-- Лейбл ввода имени -->
                <div class="label">{{ 'PERSONAL_DATA_FIRST_NAME' | translate }}</div>
                <!-- Инпут имени пользователя -->
                <ion-input
                        class="input_row"
                        [(ngModel)]="personalData.firstName"
                        type="text"
                        text-right
                        (focus)="firstNameFocus()"
                        (blur)="firstNameValidate()"
                        name="firstName">
                </ion-input>


                <!-- Разделительная черта -->
                <div>
                    <hr class="personal_data_row_separator" [ngClass]="(state.firstName == 3) ? 'red' : '' ">
                </div>

            </ion-col>
        </ion-row>


        <!-- Сообщение с ошибкой -->
        <ion-row
                class="error_message"
                *ngIf="state.firstName == 3">
            <ion-col>
                {{ 'PERSONAL_DATA_FIRST_NAME_ERROR_REQUIRED' | translate }}
            </ion-col>
        </ion-row>

    </div>



    <!-- Поле с фамилией пользователя -->
    <div class="personal_data_row">

        <ion-row>

            <!-- Иконка валидации -->
            <ion-col col-1 align-self-center text-right class="validation_block">
                <!-- Успешная валидация -->
                <ion-icon *ngIf="state.lastName == 2" class="success" name="md-checkmark"></ion-icon>
                <!-- Ошибка валидации -->
                <ion-icon *ngIf="state.lastName == 3" class="alert" name="md-alert"></ion-icon>
            </ion-col>

            <!-- Блок с именем пользователя -->
            <ion-col class="data_block">
                <!-- Лейбл ввода имени -->
                <div class="label">{{ 'PERSONAL_DATA_LAST_NAME' | translate }}</div>
                <!-- Инпут имени пользователя -->
                <ion-input
                        class="input_row"
                        [(ngModel)]="personalData.lastName"
                        type="text"
                        text-right
                        (focus)="lastNameFocus()"
                        (blur)="lastNameValidate()"
                        name="firstName">
                </ion-input>


                <!-- Разделительная черта -->
                <div>
                    <hr class="personal_data_row_separator" [ngClass]="(state.lastName == 3) ? 'red' : '' ">
                </div>
            </ion-col>
        </ion-row>


        <!-- Сообщение с ошибкой -->
        <ion-row
                class="error_message"
                *ngIf="state.lastName == 3">
            <ion-col>
                {{ 'PERSONAL_DATA_FIRST_NAME_ERROR_REQUIRED' | translate }}
            </ion-col>
        </ion-row>

    </div>

    <!-- Поле с Названием компании -->
    <div class="personal_data_row">

        <ion-row>

            <!-- Иконка валидации -->
            <ion-col col-1 align-self-center text-right class="validation_block">
                <!-- Успешная валидация -->
                <ion-icon *ngIf="state.company == 2" class="success" name="md-checkmark"></ion-icon>
                <!-- Ошибка валидации -->
                <ion-icon *ngIf="state.company == 3" class="alert" name="md-alert"></ion-icon>
            </ion-col>

            <!-- Блок с именем пользователя -->
            <ion-col class="data_block">
                <!-- Лейбл ввода имени -->
                <div class="label">{{ 'PERSONAL_DATA_COMPANY' | translate }}</div>
                <!-- Инпут имени пользователя -->
                <ion-input
                        class="input_row"
                        [(ngModel)]="personalData.company"
                        type="text"
                        text-right
                        (focus)="companyNameFocus()"
                        (blur)="companyNameValidate()"
                        name="firstName">
                </ion-input>

                <!-- Разделительная черта -->
                <div>
                    <hr class="personal_data_row_separator" [ngClass]="(state.company == 3) ? 'red' : '' ">
                </div>

            </ion-col>
        </ion-row>

        <!-- Сообщение с ошибкой -->
        <ion-row
                class="error_message"
                *ngIf="state.company == 3">
            <ion-col>
                {{ 'PERSONAL_DATA_FIRST_NAME_ERROR_REQUIRED' | translate }}
            </ion-col>
        </ion-row>

    </div>

    <!-- Поле с улицей агента -->
    <div class="personal_data_row">

        <ion-row>

            <!-- Иконка валидации -->
            <ion-col col-1 align-self-center text-right class="validation_block">
                <!-- Успешная валидация -->
                <ion-icon *ngIf="state.address == 2" class="success" name="md-checkmark"></ion-icon>
                <!-- Ошибка валидации -->
                <ion-icon *ngIf="state.address == 3" class="alert" name="md-alert"></ion-icon>
            </ion-col>

            <!-- Блок с именем пользователя -->
            <ion-col class="data_block">
                <!-- Лейбл ввода имени -->
                <div class="label">
                    {{ 'PERSONAL_DATA_ADDRESS' | translate }}
                    <!--Address-->
                </div>
                <!-- Инпут имени пользователя -->
                <ion-input
                        class="input_row"
                        [(ngModel)]="personalData.address"
                        type="text"
                        text-right
                        (focus)="addressFocus()"
                        (blur)="addressValidate()"
                        name="firstName">
                </ion-input>

                <!-- Разделительная черта -->
                <div>
                    <hr class="personal_data_row_separator" [ngClass]="(state.address == 3) ? 'red' : '' ">
                </div>

            </ion-col>
        </ion-row>

        <!-- Сообщение с ошибкой -->
        <ion-row
                class="error_message"
                *ngIf="state.address == 3">
            <ion-col>
                {{ 'PERSONAL_DATA_FIRST_NAME_ERROR_REQUIRED' | translate }}
            </ion-col>
        </ion-row>

    </div>

    <!-- Поле с паспортом -->
    <div class="personal_data_row">

        <ion-row>

            <!-- Иконка валидации -->
            <ion-col col-1 align-self-center text-right class="validation_block">
                <!-- Успешная валидация -->
                <ion-icon *ngIf="state.passport == 2" class="success" name="md-checkmark"></ion-icon>
                <!-- Ошибка валидации -->
                <ion-icon *ngIf="state.passport == 3" class="alert" name="md-alert"></ion-icon>
            </ion-col>

            <!-- Блок с именем пользователя -->
            <ion-col class="data_block">
                <!-- Лейбл ввода имени -->
                <div class="label">
                    {{ 'PERSONAL_DATA_PASSPORT' | translate }}
                    <!--Passport-->
                </div>
                <!-- Инпут имени пользователя -->
                <ion-input
                        class="input_row"
                        [(ngModel)]="personalData.passport"
                        type="text"
                        text-right
                        (focus)="passportFocus()"
                        (blur)="passportValidate()"
                        name="firstName">
                </ion-input>

                <!-- Разделительная черта -->
                <div>
                    <hr class="personal_data_row_separator" [ngClass]="(state.passport == 3) ? 'red' : '' ">
                </div>

            </ion-col>
        </ion-row>

        <!-- Сообщение с ошибкой -->
        <ion-row
                class="error_message"
                *ngIf="state.passport == 3">
            <ion-col>
                {{ 'PERSONAL_DATA_WRONG_PASSPORT_NUMBER' | translate }}
                <!--wrong passport number-->
            </ion-col>
        </ion-row>

    </div>

    <!-- Поле с телефоном -->
    <!--<div class="personal_data_row">-->

        <!--<ion-row>-->

            <!--&lt;!&ndash; Иконка валидации &ndash;&gt;-->
            <!--<ion-col col-1 align-self-center text-right class="validation_block">-->
                <!--&lt;!&ndash; Успешная валидация &ndash;&gt;-->
                <!--<ion-icon *ngIf="state.phone == 2" class="success" name="md-checkmark"></ion-icon>-->
                <!--&lt;!&ndash; Ошибка валидации &ndash;&gt;-->
                <!--<ion-icon *ngIf="state.phone == 3" class="alert" name="md-alert"></ion-icon>-->
            <!--</ion-col>-->

            <!--&lt;!&ndash; Блок с именем пользователя &ndash;&gt;-->
            <!--<ion-col class="data_block">-->
                <!--&lt;!&ndash; Лейбл ввода имени &ndash;&gt;-->
                <!--<div class="label">{{ 'PERSONAL_DATA_PHONE' | translate }}</div>-->
                <!--&lt;!&ndash; Инпут имени пользователя &ndash;&gt;-->
                <!--<ion-input-->
                        <!--class="input_row"-->
                        <!--(ngModelChange)='phoneChange($event)'-->
                        <!--[(ngModel)]="personalData.phone"-->
                        <!--type="tel"-->
                        <!--text-right-->
                        <!--(blur)="phoneValidate()"-->
                        <!--name="firstName">-->
                <!--</ion-input>-->

                <!--&lt;!&ndash; Разделительная черта &ndash;&gt;-->
                <!--<div>-->
                    <!--<hr class="personal_data_row_separator" [ngClass]="(state.phone == 3) ? 'red' : '' ">-->
                <!--</div>-->
            <!--</ion-col>-->
        <!--</ion-row>-->


        <!--&lt;!&ndash; Сообщение с ошибкой о пустом поле &ndash;&gt;-->
        <!--<ion-row-->
                <!--class="error_message"-->
                <!--*ngIf="phoneErrors == 1">-->
            <!--<ion-col>-->
                <!--{{ 'PERSONAL_DATA_FIRST_NAME_ERROR_REQUIRED' | translate }}-->
            <!--</ion-col>-->
        <!--</ion-row>-->

        <!--&lt;!&ndash; Сообщение с ошибкой о недостаточном количестве чисел &ndash;&gt;-->
        <!--<ion-row-->
                <!--class="error_message"-->
                <!--*ngIf="phoneErrors == 2">-->
            <!--<ion-col col-8 offset-4>-->
                <!--{{ 'PERSONAL_DATA_PHONE_ERROR_LENGTH' | translate }}-->
            <!--</ion-col>-->
        <!--</ion-row>-->

    <!--</div>-->


    <!-- Поле с регионом -->
    <div class="region_data_row">

        <ion-row>

            <!-- Блок с именем пользователя -->
            <ion-col class="" text-right>
                <!-- Лейбл ввода имени -->
                <div class="label" text-right>
                    {{ 'PERSONAL_DATA_REGION' | translate }}
                    <!--Region-->
                </div>

                <div text-right class="region_item" (click)="clearRegions()">

                    <ion-col class="region_selected_name">
                        {{ 'PERSONAL_DATA_ISRAEL' | translate }}
                        <!--Israel-->
                    </ion-col>
                    <ion-col col-1 text-center>
                    </ion-col>

                </div>

                <div *ngFor="let selectRegion of selectRegions" class="region_item" (click)="dellRegion(selectRegion)">

                    <ion-row>
                        <ion-col class="region_selected_name">
                            {{ selectRegion.name }}
                        </ion-col>
                        <ion-col col-1 text-center>
                            <ion-icon class="dell_region_button" name="md-close"></ion-icon>
                        </ion-col>
                    </ion-row>

                </div>

            </ion-col>
        </ion-row>

        <div class="region_variant_block">

            <div *ngFor="let region of regions" class="region_variant_item" text-center (click)="switchRegion(region)">

                {{ region.name }}
            </div>

        </div>

    </div>

</ion-content>

<ion-footer no-border>
    <!--<button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>-->
    <button ion-button clear color="primary" (click)="goBack()"> {{ "APPLY" | translate }}</button>
</ion-footer>