page-add-lead {

  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  .new_lead_footer {
    background: none;
  }

  .content {
    background: #F8F8F8;

    .add_lead_value {
      color: #6B6B6B;
      font-size: 14px;
    }

    .add_lead_radio {

      .item {

        .item-inner {
          border: none;
        }

      }

    }

    .members_head {
      margin-top: 20px;
      margin-bottom: 0;
    }

  }

  .phone_block {
    margin-bottom: 15px;

    .phone_error {
      font-size: 12px;
      text-align: right;
      color: red;
      margin-top: 4px;
    }
  }

}
