registration-data-role {

  .comparison_block_header {
    color: grey;
    font-weight: 700;
    padding: 5px 0 10px;
    margin-left: 15px;
    cursor: pointer;

    .role-button {
      text-align: center;
      text-transform: uppercase;
      color: #82ADD3;
      margin: 8px 10px 0;
      border: solid 1px #82ADD3;
      border-radius: 10px;
      padding: 2px 0;
      font-size: 10px;
    }

    .role-apply {
      text-align: center;
      color: green;
      margin-top: 8px;
    }

  }

  .role-table {

    margin: 0 0 5px 15px;

    .role-group {
      border-bottom: #ECECEC solid 1px;

      .role-label {
        font-weight: 600;
        padding: 12px 7px 4px 0;
        color: #7AA9D0;
        font-size: 15px;
      }

    }

    .role-row {

      border-bottom: #ECECEC solid 1px;

      .role-label {

        padding: 12px 7px 12px 0;
        color: grey;
        font-size: 13px;
      }

      .role-opportunity {
        width: 25%;
        font-size: 17px;
        text-align: center;
        border-left: #F3F3F3 solid 1px;
        cursor: pointer;

        &.role-selected {
          background: #E9FFE4;
        }

        .icon.checkmark {
          color: green;
          //font-size: 16px;
        }

        .icon.missed {
          color: #CCCCCC;
          //font-size: 16px;
        }

      }

    }
  }

  .comparison_row {
    border-bottom: #DEDEDE solid 1px;
    // margin: 5px 0;
    // padding: 10px 0;
    color: grey;
    font-size: 12px;

    .col {
      padding: 10px 0;
      height: 100%;
      border-left: solid 1px #DEDEDE;
    }

    .col:first-child {
      padding: 10px 0;
      border-left: none;
    }

    .icon.checkmark {
      color: green;
      font-size: 16px;
    }

    .icon.missed {
      color: #CCCCCC;
      font-size: 16px;
    }

    .marked_col {
      background: #EAEAEA;
    }

  }

  .role_block {

    .role_row {

      margin: 40px 0;
      font-size: 17px;
      cursor: pointer;

      .selected_icon {
        color: green;
      }

      .role_label {
        border-bottom: 1px #DCDCDC solid;
        padding-left: 10px;
        color: grey;
      }

      .help_col {
        //border-bottom: 1px #DCDCDC solid;

        .help_icon {
          color: #3F51B5;
        }
      }

    }

  }

  .difference {
    color: #337AB7;
    text-align: center;
    cursor: pointer;
  }

}

.registration_data_title.title {

  .toolbar-title {
    //color: #337AB7;
    color: grey;
    text-transform: uppercase;
  }
}
