page-edit-mask {

  .region_data_row {

    .label {
      color: grey;
      font-size: 12px;
      margin-bottom: 10px;
    }

  }

  .region_variant_block {
    margin-top: 30px;
    //margin-left: 30%;

    .region_variant_item {
      padding: 10px 0;
      margin: 12px 20px;
      font-size: 12px;
      cursor: pointer;
      //color: grey;
      color: #7B7B7B;
      font-weight: 500;
      //border-bottom: solid 1px #CACACA;
      background: #DCDCDC;
      border-radius: 20px;
    }

  }

  .region_item {
    color: grey;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;

    $rightPadding: 20px;

    & + .region_item {
      margin-right: $rightPadding;

      & + .region_item {
        margin-right: $rightPadding * 2;

        & + .region_item {
          margin-right: $rightPadding * 3;

          & + .region_item {
            margin-right: $rightPadding * 4;

            & + .region_item {
              margin-right: $rightPadding * 5;

              & + .region_item {
                margin-right: $rightPadding * 6;

                & + .region_item {
                  margin-right: $rightPadding * 7;

                  & + .region_item {
                    margin-right: $rightPadding * 8;

                  }
                }
              }
            }
          }
        }
      }
    }

    .region_selected_name {
      color: #7B7B7B;
      font-size: 14px;
    }

    .dell_region_button {
      color: #FF7B7B;
    }

  }


  .back_arrow {
    font-size: 20px;
    padding-left: 10px;
  }

  .footer_background {
    //background: #222222;
  }

  .mask_error{
    color: red;
    font-size: 12px;
  }

  .toolbar {

    .dell_button {
      color: #EBA4A4;
      margin-right: 15px;
    }

  }

  .content {
    background: #F8F8F8;

    .scroll-content {
      padding: 20px 10px 10px 10px;

      .main-data-block {
        margin-bottom: 20px;
        border-bottom: 1px solid #ABABAB;
      }

      .checkbox-data-block {
        margin-bottom: 10px;

        .checkbox-data-row {
          margin-top: 5px;
          background: #E6E6E6;
          color: #7B7B7B;
          font-size: 14px;

          .item-inner {
            border-bottom: none;
          }

        }

      }

      .mask_label {
        color: #337AB7;
      }

      .input-value {

        .text-input {
          margin: 0;
          display: inline-block;
          padding: 5px 0 10px;
          color: #696969;
        }
      }

    }

  }

  //.save{
  //  padding-left: 10px;
  //}
  //
  //.trash{
  //  padding-left: 20px;
  //}

}
