<!--
  Generated template for the Masks page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">


        <ion-buttons left text-center>
            <button ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            {{ 'masks_by_sphere.title' | translate }}

            <span *ngIf="sphere">
            {{ 'masks_by_sphere.sphere_name' | translate:{name: sphere.name} }}
                <!--of {{ sphere.name }} -->
        </span>
        </ion-title>

    </ion-navbar>

    <ion-row *ngIf="subRole" class="subHeader">
        <ion-col>
            <div class="salesmen-row">
                {{ 'masks_by_sphere.salesmen_name' | translate }}
                <!--salesmen: -->
                {{ salesmenData.name }} {{ salesmenData.surname }}
            </div>
        </ion-col>
    </ion-row>

</ion-header>


<!-- Кнопка добавления нового лида -->
<!--<ion-fab bottom right>-->
<!--<button ion-fab (click)="createNewMask()"><ion-icon name="md-add"></ion-icon></button>-->
<!--</ion-fab>-->
<!-- конец Кнопка добавления нового лида -->


<ion-content>

    <div *ngIf="sphere">

        <!-- Заголовок (имя сферы) -->
        <!--<ion-row>-->
        <!--<ion-col text-right class="sphere_name">-->
        <!--Masks of {{ sphere.name }}-->
        <!--</ion-col>-->
        <!--</ion-row>-->

        <ion-card *ngFor="let mask of masks" class="open_card">

            <ion-row *ngIf="!mask.pending">
                <ion-col class="admin_approval">
                    {{ 'masks_by_sphere.waiting_for_approval' | translate }}
                    <!--waiting for admin approval-->
                </ion-col>
            </ion-row>


            <ion-card-content no-padding>

                <ion-row class="content-data-wrapper">

                    <!-- Переключение активности маски -->
                    <ion-col col-3 class="switcher">

                        <!-- Прячем если маска в режиме ожидании подтверждения -->
                        <div *ngIf="mask.pending">
                            <ion-toggle [(ngModel)]="mask.active" (click)="switchActive(mask)"></ion-toggle>
                            <div *ngIf="mask.active" class="mask_indicator active">
                                <!--active-->
                                {{ 'masks_by_sphere.active' | translate }}
                            </div>
                            <div *ngIf="!mask.active" class="mask_indicator not_active">
                                <!--not active-->
                                {{ 'masks_by_sphere.not_active' | translate }}
                            </div>
                        </div>

                    </ion-col>

                    <ion-col text-right (click)="editMask(mask)">
                        <div class="date_data"><span class="time">{{ mask.updated_at.time }}</span> <span class="date">{{ mask.updated_at.date }}</span>
                        </div>
                        <div class="name">{{ mask.name }}</div>
                        <div class="description">{{ mask.description }}</div>
                    </ion-col>

                </ion-row>

            </ion-card-content>


            <ion-row>
                <ion-col class="leads_col">
                    <span class="leads_count">{{ mask.leads }}</span>
                    {{ 'masks_by_sphere.leads_incoming' | translate }}
                    <!--leads incoming by this mask-->
                </ion-col>
            </ion-row>

        </ion-card>


        <ion-row *ngIf="masks.length == 0" class="no_masks_row">
            <ion-col text-center>
                <div class="icon">
                    <ion-icon name="md-contract"></ion-icon>
                </div>
                <div>
                    {{ 'masks_by_sphere.no_masks' | translate }}
                    <!--No masks-->
                </div>
                <div>
                    {{ 'masks_by_sphere.add_mask_first' | translate }}
                    <!--First add a masks-->
                </div>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col text-center>
                <button outline round small ion-button (click)="createNewMask()">
                    <!--Create a new mask-->
                    {{ 'masks_by_sphere.new_mask_button_in_content' | translate }}
                </button>
            </ion-col>
        </ion-row>

    </div>

</ion-content>

<ion-footer>

    <div text-center>
        <button ion-button round small outline (click)="createNewMask()">
            <!--new mask-->
            {{ 'masks_by_sphere.new_mask_button_in_footer' | translate }}
        </button>
    </div>


</ion-footer>