<!--
  Generated template for the Masks page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">



        <ion-buttons left text-center class="left_button">
            <button ion-button (click)="goBack()">
                close
            </button>
        </ion-buttons>

        <ion-buttons right text-center class="right_button">
            <button ion-button (click)="createNewMask()">
                new mask
            </button>
        </ion-buttons>

    </ion-navbar>

    <ion-row *ngIf="subRole" class="subHeader">
        <ion-col>
            <div class="salesmen-row">
                salesmen: {{ salesmenData.name }} {{ salesmenData.surname }}
            </div>
        </ion-col>
    </ion-row>

</ion-header>


<!-- Кнопка добавления нового лида -->
<!--<ion-fab bottom right>-->
    <!--<button ion-fab (click)="createNewMask()"><ion-icon name="md-add"></ion-icon></button>-->
<!--</ion-fab>-->
<!-- конец Кнопка добавления нового лида -->


<ion-content>

    <div *ngIf="sphere">

        <!-- Заголовок (имя сферы) -->
        <ion-row>
            <ion-col text-right class="sphere_name">
                Masks of {{ sphere.name }}
            </ion-col>
        </ion-row>

        <ion-card *ngFor="let mask of masks" class="open_card">

            <ion-row *ngIf="!mask.pending">
                <ion-col class="admin_approval">
                    waiting for admin approval
                </ion-col>
            </ion-row>


            <ion-card-content no-padding>

                <ion-row class="content-data-wrapper">

                    <ion-col col-3 class="switcher">
                        <ion-toggle [(ngModel)]="mask.active" (click)="switchActive(mask)"></ion-toggle>
                        <div *ngIf="mask.active" class="mask_indicator active">active</div>
                        <div *ngIf="!mask.active" class="mask_indicator not_active">not active</div>
                    </ion-col>

                    <ion-col text-right (click)="editMask(mask)">
                        <div class="date_data"> <span class="time">{{ mask.updated_at.time }}</span> <span class="date">{{ mask.updated_at.date }}</span></div>
                        <div class="name">{{ mask.name }}</div>
                        <div class="description">{{ mask.description }}</div>
                    </ion-col>

                </ion-row>

            </ion-card-content>


            <ion-row>
                <ion-col class="leads_col">
                    <span class="leads_count">{{ mask.leads }}</span> leads incoming by this mask
                </ion-col>
            </ion-row>

        </ion-card>


        <ion-row *ngIf="masks.length == 0" class="no_masks_row">
            <ion-col text-center>
                <div class="icon"><ion-icon name="md-contract"></ion-icon></div>
                <div> No masks</div>
                <div> First add a masks</div>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col text-center>
                <button outline round small ion-button (click)="createNewMask()">
                    Create a new mask
                </button>
            </ion-col>
        </ion-row>

    </div>

</ion-content>
