<ion-header no-border>

    <ion-navbar color="clear" hideBackButton="true">

        <ion-buttons left>
            <button color="primary" ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
            <button color="primary" ion-button (click)="goBack()">
                {{ 'BACK_TO_LOGIN' | translate }}
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content class="no-scroll" padding>

    <div *ngIf="!waitConfirmation">


        <!-- Поле с почтой пользователя -->
        <div class="signup_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">
                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="state.name == 1" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="state.name > 1" class="alert" name="md-alert"></ion-icon>
                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block">
                    <!-- Лейбл ввода имени -->
                    <div class="label">{{ 'EMAIL' | translate }}</div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            [(ngModel)]="account.email"
                            type="email"
                            text-right
                            (focus)="nameFocus()"
                            (blur)="nameValidate()"
                            name="firstName">
                    </ion-input>


                    <!-- Разделительная черта -->
                    <div>
                        <hr class="signup_data_row_separator" [ngClass]="(state.name > 1) ? 'red' : '' ">
                    </div>
                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->

            <!-- пустое поле -->
            <ion-row
                    class="error_message"
                    *ngIf="state.name == 2">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_REQUIRED' | translate }}
                </ion-col>
            </ion-row>

            <!-- невалидный мэил -->
            <ion-row
                    class="error_message"
                    *ngIf="state.name == 3">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_NOT_VALID' | translate }}
                </ion-col>
            </ion-row>

            <!-- такой мэил уже существует -->
            <ion-row
                    class="error_message"
                    *ngIf="state.name == 4">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_MAIL_EXISTS' | translate }}
                </ion-col>
            </ion-row>

        </div>


        <!-- пароль -->
        <div class="signup_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">
                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="state.password == 1" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="state.password > 1" class="alert" name="md-alert"></ion-icon>
                    <!--<ion-icon *ngIf="state.lastName == 3" class="alert" name="md-alert"></ion-icon>-->
                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block">
                    <!-- Лейбл ввода имени -->
                    <div class="label">{{ 'PASSWORD' | translate }}</div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            [(ngModel)]="account.password"
                            type="password"
                            text-right
                            (focus)="passwordFocus()"
                            (blur)="passwordValidate()"
                            name="firstName">
                    </ion-input>


                    <!-- Разделительная черта -->
                    <div>
                        <hr class="signup_data_row_separator" [ngClass]="(state.password > 1) ? 'red' : '' ">
                    </div>
                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->

            <!-- поле пустое -->
            <ion-row
                    class="error_message"
                    *ngIf="state.password == 2">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_REQUIRED' | translate }}
                </ion-col>
            </ion-row>

            <!-- недостаточное количество символов в пароле -->
            <ion-row
                    class="error_message"
                    *ngIf="state.password == 3">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_PASSWORD_NOT_MATCH' | translate }}
                </ion-col>
            </ion-row>

        </div>


        <!-- Подтверждение пароля -->
        <div class="signup_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">
                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="state.confirmPassword == 1" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="state.confirmPassword > 1" class="alert" name="md-alert"></ion-icon>
                    <!--<ion-icon *ngIf="state.lastName == 3" class="alert" name="md-alert"></ion-icon>-->
                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block">
                    <!-- Лейбл ввода имени -->
                    <div class="label">{{ 'CONFIRM_PASSWORD' | translate }}</div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            [(ngModel)]="account.confirmPassword"
                            type="password"
                            text-right
                            (focus)="passwordConfirmFocus()"
                            (blur)="passwordConfirmValidate()"
                            name="firstName">
                    </ion-input>


                    <!-- Разделительная черта -->
                    <div>
                        <hr class="signup_data_row_separator" [ngClass]="(state.confirmPassword > 1) ? 'red' : '' ">
                    </div>
                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->

            <!-- пустое поле -->
            <ion-row
                    class="error_message"
                    *ngIf="state.confirmPassword == 2">
                <ion-col>
                    this field required
                    {{ 'REGISTRATION_FIELD_ERROR_REQUIRED' | translate }}
                </ion-col>
            </ion-row>

            <!-- несовпадение с паролем -->
            <ion-row
                    class="error_message"
                    *ngIf="state.confirmPassword == 3">
                <ion-col>
                    {{ 'REGISTRATION_FIELD_ERROR_PASSWORD_NOT_ENOUGH' | translate }}
                </ion-col>
            </ion-row>

        </div>

        <div padding text-center>
            <!--<button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>-->
            <button ion-button round small (click)="doRegistration()">{{ 'REGISTER_BUTTON' | translate }}</button>
        </div>

    </div>

</ion-content>

