<!--
  Generated template for the OpenLeadStatuses page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">
        <!--<ion-title>OpenLeadStatuses</ion-title>-->

        <ion-buttons left text-center>
            <button ion-button (click)="close()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{ 'open_lead_statuses.title' | translate }}</ion-title>

    </ion-navbar>

</ion-header>


<ion-content>

    <!-- блок со статусами -->


    <!-- Процессные статусы -->
    <div *ngIf="statuses['process']">
        <ion-card>
            <ion-card-header text-right class="status_card_header process_status_color_header">
                {{ 'open_lead_statuses.process' | translate }}
            </ion-card-header>

            <ion-list class="status_card_list">
                <ion-item *ngFor="let status of statuses['process']" text-right class="status_card_item"
                          (click)="check(status)"
                          [ngClass]="status.checked ? 'process_status_color_checked' : 'process_status_color'">
                    {{ status.stepname }}
                    <ion-icon *ngIf="status.lock" name="md-lock"></ion-icon>
                    <ion-icon *ngIf="!status.lock && !status.checked" name="md-square-outline"></ion-icon>
                    <ion-icon *ngIf="!status.lock && status.checked" name="md-checkbox-outline"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
    <!-- конец Процессные статусы -->


    <!-- Отказные статусы -->
    <div *ngIf="statuses['uncertain']">
        <ion-card>
            <ion-card-header text-right class="status_card_header uncertain_status_color_header">
                {{ 'open_lead_statuses.uncertain' | translate }}
            </ion-card-header>

            <ion-list class="status_card_list">
                <ion-item *ngFor="let status of statuses['uncertain']" text-right class="status_card_item"
                          (click)="check(status)"
                          [ngClass]="status.checked ? 'uncertain_status_color_checked' : 'uncertain_status_color'">
                    {{ status.stepname }}
                    <ion-icon *ngIf="status.lock" name="md-lock"></ion-icon>
                    <ion-icon *ngIf="!status.lock && !status.checked" name="md-square-outline"></ion-icon>
                    <ion-icon *ngIf="!status.lock && status.checked" name="md-checkbox-outline"></ion-icon>
                </ion-item>

            </ion-list>
        </ion-card>
    </div>
    <!-- конец Отказные статусы -->


    <!-- Отказники -->
    <div *ngIf="statuses['refuseniks']">
        <ion-card>
            <ion-card-header text-right class="status_card_header refuseniks_status_color_header">
                {{ 'open_lead_statuses.refuseniks' | translate }}
            </ion-card-header>

            <ion-list class="status_card_list">
                <ion-item *ngFor="let status of statuses['refuseniks']" text-right class="status_card_item"
                          (click)="check(status)"
                          [ngClass]="status.checked ? 'refuseniks_status_color_checked' : 'refuseniks_status_color'">
                    {{ status.stepname }}
                    <ion-icon *ngIf="status.lock" name="md-lock"></ion-icon>
                    <ion-icon *ngIf="!status.lock && !status.checked" name="md-square-outline"></ion-icon>
                    <ion-icon *ngIf="!status.lock && status.checked" name="md-checkbox-outline"></ion-icon>
                </ion-item>

            </ion-list>
        </ion-card>
    </div>
    <!-- Конец Отказники -->


    <!-- Статусы плохих лидов -->
    <div *ngIf="statuses['bad']">
        <ion-card *ngIf="item.status == 0">
            <ion-card-header text-right class="status_card_header bad_status_color_header">
                {{ 'open_lead_statuses.bad' | translate }}
            </ion-card-header>

            <ion-list class="status_card_list">
                <ion-item
                        *ngFor="let status of statuses['bad']"
                        text-right class="status_card_item"
                        (click)="check(status)"
                        [ngClass]="status.checked ? 'bad_status_color_checked' : 'bad_status_color'">
                    {{ status.stepname }}
                    <ion-icon *ngIf="status.lock" name="md-lock"></ion-icon>
                    <ion-icon *ngIf="!status.lock && !status.checked" name="md-square-outline"></ion-icon>
                    <ion-icon *ngIf="!status.lock && status.checked" name="md-checkbox-outline"></ion-icon>
                </ion-item>

            </ion-list>
        </ion-card>
    </div>
    <!-- конец Статусы плохих лидов -->


    <!-- Сделки -->
    <div *ngIf="statuses['deals']">
        <ion-card>
            <ion-card-header text-right class="status_card_header deals_status_color_header">
                {{ 'open_lead_statuses.deals' | translate }}
            </ion-card-header>

            <ion-list class="status_card_list">
                <ion-item *ngFor="let status of statuses['deals']" text-right class="status_card_item "
                          (click)="check(status)"
                          [ngClass]="status.checked ? 'deals_status_color_checked' : 'deals_status_color'">
                    {{ status.stepname }}
                    <ion-icon *ngIf="status.lock" name="md-lock"></ion-icon>
                    <ion-icon *ngIf="!status.lock && !status.checked" name="md-square-outline"></ion-icon>
                    <ion-icon *ngIf="!status.lock && status.checked" name="md-checkbox-outline"></ion-icon>
                </ion-item>

            </ion-list>
        </ion-card>
    </div>
    <!-- Конец Сделки -->

</ion-content>


<ion-footer *ngIf="statusBlock">
    <button ion-button no-margin full [attr.disabled]="checkedStatus ? null : true" (click)="applyStatus()">
        {{ 'open_lead_statuses.apply' | translate }}
    </button>
</ion-footer>