page-open-lead-statuses {

  .spinnerLoading {
    text-align: center;
    margin-top: 20%;
  }

  .error_block {
    margin: 40% 30px 10px;
    padding: 50px 20px;
    text-align: center;
    color: white;
    background: #DB4437;
    border-radius: 30px;
    font-size: 18px;
    line-height: 28px;
  }

  .status_back_button {

  }

  .bad_status_color_header {
    color: white;
    background: #CD0000;
  }

  .bad_status_color {

    color: #CD0000;
    background: white;
    border-right: 4px solid #CD0000;
    border-bottom: 1px solid #CD0000;
    border-radius: 10px;

    //color: white;
    //background: #CD0000;
  }

  .bad_status_color_checked {
    color: #CD0000;
    background: #FEDFDF;
    border-right: 4px solid #CD0000;
    border-bottom: 1px solid #CD0000;
    border-radius: 10px;

    //color: #CD0000;
    //background: #EFC5C5;
  }

  .uncertain_status_color_header {
    color: white;
    background: #D9A502;
  }

  .uncertain_status_color {
    color: #D9A502;
    background: white;
    border-right: 4px solid #D9A502;
    border-bottom: 1px solid #D9A502;
    border-radius: 10px;

    //color: white;
    //background: #D9A502;
  }

  .uncertain_status_color_checked {
    color: #D9A502;
    background: #FFF1C6;
    border-right: 4px solid #D9A502;
    border-bottom: 1px solid #D9A502;
    border-radius: 10px;

    //color: #D9A502;
    //background: #F0DB99;
  }

  .process_status_color_header {
    color: white;
    background: #00B050;
  }

  .process_status_color {
    color: #00B050;
    background: white;
    border-right: 4px solid #00B050;
    border-bottom: 1px solid #00B050;
    border-radius: 10px;

    //color: white;
    //background: #00B050;
  }

  .process_status_color_checked {
    color: #00B050;
    background: #CEFFE4;
    border-right: 4px solid #00B050;
    border-bottom: 1px solid #00B050;
    border-radius: 10px;

    //color: #00B050;
    //background: #99DFB9;
  }

  .refuseniks_status_color_header {
    color: white;
    background: #7F3300;
  }

  .refuseniks_status_color {
    color: #7F3300;
    background: white;
    border-right: 4px solid #7F3300;
    border-bottom: 1px solid #7F3300;
    border-radius: 10px;

    //color: white;
    //background: #7F3300;
  }

  .refuseniks_status_color_checked {
    color: #7F3300;
    background: #DFCABC;
    border-right: 4px solid #7F3300;
    border-bottom: 1px solid #7F3300;
    border-radius: 10px;

    //color: #7F3300;
    //background: #CBAD99;
  }

  .deals_status_color_header {
    color: white;
    background: #3F51B5;
  }

  .deals_status_color {
    color: #3F51B5;
    background: white;
    border-right: 4px solid #3F51B5;
    border-bottom: 1px solid #3F51B5;
    border-radius: 10px;

    //  color: white;
    //  background: #3F51B5;
  }

  .deals_status_color_checked {
    color: #3F51B5;
    background: #D7DAEB;
    border-right: 4px solid #3F51B5;
    border-bottom: 1px solid #3F51B5;
    border-radius: 10px;

    //color: #3F51B5;
    //background: #B2B9E1;
  }

  .status_card_header {
    font-size: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    //border-radius: 20px 0 0 0;
  }

  .left_button {
    margin-left: 45px;
  }

  .right_button {
    margin-right: 45px;
  }

  ion-card {
    margin-bottom: 20px !important;
  }

  ion-list.status_card_list {
    padding: 7px 3px 0;
  }

  ion-item {

    margin-bottom: 3px !important;
    min-height: 0 !important;
    cursor: pointer;

    .label {
      text-align: right;
      margin: 7px 0;
      padding: 0 8px;

    }

  }

}
