<!--
  Generated template for the OpenDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">

        <!--<ion-buttons right>-->
        <!--<button ion-button clear (click)="close()">-->
        <!--<ion-icon name="md-arrow-forward"></ion-icon>-->
        <!--</button>-->
        <!--</ion-buttons>-->

        <!--<ion-title>OpenDetail</ion-title>-->


        <ion-buttons left text-center>
            <button ion-button (click)="close()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Open Lead</ion-title>

        <ion-buttons right text-center>
            <button ion-button (click)="confirmOpen(item)">
                <!--Organizer &nbsp;-->
                <ion-icon name="md-alarm"></ion-icon>
            </button>
        </ion-buttons>


    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- спинер загрузки -->
    <div *ngIf="isLoading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <div *ngIf="item && !isLoading">

        <div class="data_block_header">
            <ion-row align-items-center>
                <ion-col text-right class="name"> {{ item.lead.name }} {{ item.lead.surname }}</ion-col>
            </ion-row>
        </div>


        <div class="data_block">

            <ion-row align-items-center class="data_block_item">
                <ion-col col-1 text-left>
                </ion-col>
                <ion-col text-right>
                    <div class="label">phone</div>
                    <div class="value">{{ item.lead.phone.phone }}</div>
                </ion-col>
                <ion-col col-1 text-right>
                    <ion-icon class="color_green icon_param" name="ios-call"></ion-icon>
                </ion-col>
            </ion-row>

        </div>

        <div class="status_block">
            <ion-row>
                <ion-col>
                    <button ion-button small full (click)="changeStatus(item)">
                        {{ item.status_info ? item.status_info.stepname : 'No status' }}
                    </button>
                </ion-col>
            </ion-row>
        </div>

        <div class="data_block">

            <ion-row align-items-center class="data_block_item">
                <!--<ion-col col-1 text-left><ion-icon class="help_icon" name="md-help-circle"></ion-icon></ion-col>-->
                <ion-col text-right>
                    <div class="label">opened</div>
                    <div class="value">
                        <span class="date_time">{{ item.date.time }}</span>
                        <span class="date_date">{{ item.date.date }}</span>
                    </div>
                </ion-col>
                <ion-col col-1 text-right>
                    <ion-icon class="icon_param calendar_color" name="md-calendar"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row align-items-center class="data_block_item">
                <!--<ion-col col-1 text-left><ion-icon class="help_icon" name="md-help-circle"></ion-icon></ion-col>-->
                <ion-col text-right>
                    <div class="label">opened by</div>
                    <div class="value">You
                        <!--<span class="date_time">{{ item.auction_added.time }}</span>-->
                        <!--<span class="date_date">{{ item.auction_added.date }}</span>-->
                    </div>
                </ion-col>
                <ion-col col-1 text-right>
                    <ion-icon class="icon_param calendar_color" name="md-calendar"></ion-icon>
                </ion-col>
            </ion-row>

        </div>


        <div class="data_block">

            <ion-row align-items-center *ngFor="let filter of item.lead.filter" class="data_block_item">
                <!--<ion-col col-1 text-left><ion-icon ios="ios-eye" md="md-eye"></ion-icon></ion-col>-->
                <ion-col text-right>
                    <div class="label">{{ filter.label }}</div>
                    <div class="value">{{ filter.value ? filter.value : '&nbsp;' }}</div>
                </ion-col>
                <ion-col col-1 text-right>
                    <ion-icon class="icon_param doc_color" name="ios-paper"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row align-items-center *ngFor="let additional of item.lead.additional" class="data_block_item">
                <!--<ion-col col-1 text-left><ion-icon ios="ios-eye" md="md-eye"></ion-icon></ion-col>-->
                <ion-col text-right>
                    <div class="label">{{ additional.label }}</div>
                    <div class="value">{{ additional.value ? additional.value : '&nbsp;' }}</div>
                </ion-col>
                <ion-col col-1 text-right>
                    <ion-icon class="icon_param doc_color" name="ios-paper"></ion-icon>
                </ion-col>
            </ion-row>

        </div>


        <div class="data_block">

            <ion-row align-items-center class="data_block_item">
                <!--<ion-col col-1 text-left><ion-icon ios="ios-eye" md="md-eye"></ion-icon></ion-col>-->
                <ion-col text-right>
                    <div class="label">sphere</div>
                    <div class="value">{{ item.lead.sphere.name }}</div>
                </ion-col>
                <ion-col col-1 text-right>
                    <ion-icon class="icon_param sphere_color" name="ios-cloud"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row align-items-center class="data_block_item">
                <!--<ion-col col-1 text-left><ion-icon ios="ios-eye" md="md-eye"></ion-icon></ion-col>-->
                <ion-col text-right>
                    <div class="label">mask name</div>
                    <div class="value">{{ item.mask_name2 ? item.mask_name2.name : 'deleted' }}</div>
                </ion-col>
                <ion-col col-1 text-right>
                    <ion-icon class="icon_param mask_color" name="ios-funnel"></ion-icon>
                </ion-col>
            </ion-row>

        </div>

    </div>

</ion-content>


<!--<ion-footer>-->
<!--<button block no-margin ion-button (click)="confirmOpen(item)">-->
<!--Organizer &nbsp;-->
<!--<ion-icon name="md-alarm"></ion-icon>-->
<!--</button>-->
<!--</ion-footer>-->