<ion-header>

    <ion-navbar color="primary">
        <!--<ion-title>Customers</ion-title>-->

        <ion-buttons left text-center>
            <button ion-button (click)="close()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title (click)="close()">back to {{ 'profile.title' | translate }}</ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- спинер загрузки -->
    <div *ngIf="sections.loading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <!-- блок с данными -->
    <div class="data" *ngIf="sections.data">

        <!-- Поле с именем пользователя -->
        <div class="personal_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">

                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="state.company == 2" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="state.company == 3" class="alert" name="md-alert"></ion-icon>

                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block" [ngClass]="(state.company == 3) ? 'error' : '' ">
                    <!-- Лейбл ввода имени -->
                    <div class="label">
                        {{ 'profile.payment_info.company' | translate }}
                    </div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            type="text"
                            [(ngModel)]="data.company"
                            text-right
                            name="first_name">
                    </ion-input>

                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->
            <ion-row
                    class="error_message"
                    *ngIf="false">
                <ion-col>
                    {{ 'profile.first_name_required' | translate }}
                </ion-col>
            </ion-row>

        </div>
        <!-- Конец Поле с именем пользователя -->

        <!-- Поле с фамилией пользователя -->
        <div class="personal_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">

                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="state.bank == 2" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="state.bank == 3" class="alert" name="md-alert"></ion-icon>

                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block" [ngClass]="(state.bank == 3) ? 'error' : '' ">
                    <!-- Лейбл ввода имени -->
                    <div class="label">
                        {{ 'profile.payment_info.bank' | translate }}
                    </div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            type="text"
                            [(ngModel)]="data.bank"
                            text-right
                            name="first_name">
                    </ion-input>

                    <!--(blur)="firstNameValidate()"-->

                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->
            <ion-row
                    class="error_message"
                    *ngIf="false">
                <ion-col>
                    {{ 'profile.last_name_required' | translate }}
                </ion-col>
            </ion-row>

        </div>
        <!-- Конец Поле с фамилией пользователя -->

        <!-- Поле с компанией пользователя -->
        <div class="personal_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">

                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="state.branch_number == 2" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="state.branch_number == 3" class="alert" name="md-alert"></ion-icon>

                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block" [ngClass]="(state.branch_number == 3) ? 'error' : '' ">
                    <!-- Лейбл ввода имени -->
                    <div class="label">
                        {{ 'profile.payment_info.branch_number' | translate }}
                    </div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            type="text"
                            [(ngModel)]="data.branch_number"
                            text-right
                            name="first_name">
                    </ion-input>

                    <!--(blur)="firstNameValidate()"-->

                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->
            <ion-row
                    class="error_message"
                    *ngIf="false">
                <ion-col>
                    {{ 'profile.company_required' | translate }}
                </ion-col>
            </ion-row>

        </div>
        <!-- Конец Поле с компанией пользователя -->

        <!-- Поле с паспортом пользователя -->
        <div class="personal_data_row">

            <ion-row>

                <!-- Иконка валидации -->
                <ion-col col-1 align-self-center text-right class="validation_block">

                    <!-- Успешная валидация -->
                    <ion-icon *ngIf="state.invoice_number == 2" class="success" name="md-checkmark"></ion-icon>
                    <!-- Ошибка валидации -->
                    <ion-icon *ngIf="state.invoice_number == 3" class="alert" name="md-alert"></ion-icon>

                </ion-col>

                <!-- Блок с именем пользователя -->
                <ion-col class="data_block" [ngClass]="(state.invoice_number == 3) ? 'error' : '' ">
                    <!-- Лейбл ввода имени -->
                    <div class="label">
                        {{ 'profile.payment_info.invoice_number' | translate }}
                    </div>
                    <!-- Инпут имени пользователя -->
                    <ion-input
                            class="input_row"
                            type="text"
                            [(ngModel)]="data.invoice_number"
                            text-right
                            name="first_name">
                    </ion-input>

                    <!--(blur)="firstNameValidate()"-->

                </ion-col>
            </ion-row>


            <!-- Сообщение с ошибкой -->
            <ion-row
                    class="error_message"
                    *ngIf="false">
                <ion-col>
                    {{ 'profile.passport_required' | translate }}
                </ion-col>
            </ion-row>

        </div>
        <!-- Конец Поле с паспортом пользователя -->

    </div>

    <!-- блок с ошибкой -->
    <div *ngIf="sections.error" class="error_area">

        <div class="error_text">
            Something went wrong, please go back and try again
        </div>

        <div class="error_button">
            <button ion-button large color="light" (click)="close('refresh')">
                Go back
            </button>
        </div>

    </div>
</ion-content>

<ion-footer>
    <button ion-button small full no-margin (click)="saveData()" [disabled]="isSaveDisabled()">
        {{ 'profile.save' | translate }}
    </button>
</ion-footer>