<!--
  Generated template for the OpenLeadStatuses page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">
        <!--<ion-title>OpenLeadStatuses</ion-title>-->

        <ion-buttons left text-center>
            <button ion-button (click)="close()">
                <ion-icon name="ios-arrow-back" class="back_arrow"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Wallet Payment</ion-title>

        <!--<ion-buttons right text-center>-->

        <!--<button ion-button (click)="sendFiles()">-->
        <!--<ion-icon name="md-attach"></ion-icon>-->
        <!--</button>-->

        <!--</ion-buttons>-->

    </ion-navbar>

</ion-header>


<ion-content>

    <!-- спинер загрузки -->
    <div *ngIf="isLoading" class="spinnerLoading">
        <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>

    <!-- контент страницы -->
    <div *ngIf="isContent">

        <div class="payment_content">

            <div class="on_wallet">

                <div class="label">
                    on you wallet:
                </div>

                <div class="amount">
                    <span class="sign">&#8362;</span> {{ dealData.wallet }}
                </div>

            </div>

            <div class="payment_price">

                <div class="label">
                    price:
                </div>

                <div class="amount">
                    <span class="sign">&#8362;</span> {{ dealData.dealPercent }}
                </div>

            </div>

            <div *ngIf="dealData.state" class="pay_button_block">
                <button (click)="confirmPayment()" ion-button small round>Pay</button>
            </div>

            <div *ngIf="!dealData.state" class="pay_impossible">
                There is not enough money on your wallet to pay the deal.
                Please pay the deal in another way or replenish your system wallet.
            </div>

        </div>

    </div>

</ion-content>
